@charset "utf-8";

.popup { width:100%; margin:auto; max-height:100%; max-width:640px; overflow: hidden;
  &__header { position:relative; width:100%; background-color: #435270; padding:23px 30px 23px; box-sizing: border-box; text-align: left; }
  &__title  { margin:0; font-size:24px; line-height: 1; font-weight: $bold; color:#fff; }
  &__close { position:absolute; right:6px; top:0; width:70px; height:70px; cursor: pointer; font-size:0; color:transparent;
    &:before { position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:30px; height:0; border-width:2px 0 0; border-style: solid; border-color: #fff; content:''; transform:rotate(-45deg); }
    &:after { position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:30px; height:0; border-width:2px 0 0; border-style: solid; border-color: #fff; content:''; transform:rotate(45deg); }
  }
  &__content { padding:30px 30px 30px; text-align: left; background-color:#fff; box-sizing: border-box; border:1px solid #e4eaf0; }
  &__inner { font-size:14px; line-height: 2.14; color:$gray-body; }
  &__footer { padding:40px 20px; background-color:#fff; text-align: center; }
  @media only screen and (max-width:$tablet-size){
    &__header { padding:11px 15px 11px; }
    &__title  { font-size:14px; }
    &__close { right:3px; width:35px; height:35px;
      &:before, &:after { width:19px; }
    }
    &__content { padding:15px 15px 15px; }
    &__inner { font-size:13px; }
    &__footer { padding:0 0 30px; }
  }
}

.dimmed { display:none; z-index:998; position:fixed; top:0; right:0; bottom:0; left:0; background-color: rgba(0,0,0,.5); }
.layer-popup { display:none; z-index:1000; position:fixed; top:0; left:0; right:0; height:100%; text-align: center; font-size:0; white-space: nowrap;/*  max-height:100%; */
  &:before,
  &:after { display:inline-block; height:100%; content:''; vertical-align: middle; }
  &__wrap { display:inline-block; max-height:100%; overflow-y: auto; vertical-align: middle; font-size:16px; background-color: #fff; color:$black-tit; white-space: normal; }
  @media only screen and (max-width:$tablet-size){ left:15px; right:15px;
    &:before,
    &:after { /* display:none; */ }
    &__wrap { max-width:100%; }
  }
}