<% let gnb = locals.require('gnb.json') -%>
<% let { page = {}, sub = {} } = locals.entry; -%>
<table class="about-board">
  <tbody>
  <tr class="about-board__row">
    <th class="about-board__th">Subject</th>
    <td class="about-board__td" colspan="3"><span class="u-board-fix-tag u-board-fix-tag--next">Notice</span>The highest level of financial support in Korea is provided to help students focus on their study and research. The highest level of financial support in Korea is provided to help students focus on their study and research.</td>
  </tr>
  <tr class="about-board__row">
    <th class="about-board__th">Date</th>
    <td class="about-board__td">2018.05.01</td>
    <th class="about-board__th">Read</th>
    <td class="about-board__td">136</td>
  </tr>
  <tr class="about-board__row">
    <th class="about-board__th">Files</th>
    <td class="about-board__td" colspan="3"><a href="" class="about-board__file" download="sims_aes_aa.pdf">sims_aes_aa.pdf</a></td>
  </tr>
  </tbody>
</table>
<div class="about-board-article">
  <!-- 상세 내용 영역 (※ p 태그 임시 삽입) -->
  <p>1. Semiconductor<br>
    2. Magnetic Media<br>
    3. Materials Research<br>
    4. Polymers<br>
    5. Thin Films and Coating<br>
    6. Biomedical<br>
    7. Pharmaceutical</p>
  <!-- // 상세 내용 영역 -->
</div>

<div class="u-btn-wrap">
  <a href="<%- gnb[page].children[sub].children['목록'].link %>.html" class="u-btn">List</a>
</div>

<div class="about-board-preview">
  <div class="about-board-preview__row">
    <div class="about-board-preview__heading">Previous</div>
    <div class="about-board-preview__body"><a href="" class="about-board-preview__link">Dr. Song Eun Joo is KIST's "Person of the Month" Dr. Song Eun Joo is KIST's "Person of the Month" Dr. Song Eun Joo is KIST's "Person of the Month" Dr. Song Eun Joo is KIST's "Person of the Month"</a></div>
  </div>
  <div class="about-board-preview__row">
    <div class="about-board-preview__heading">Next</div>
    <div class="about-board-preview__body"><a href="" class="about-board-preview__link">Dr. Seonghoon Woo Listed among Forbes' "30 under 30 Asia"</a></div>
  </div>
</div>