<div class="u-board-search">
  <form action="">
    <fieldset>
      <legend class="hidden">Search</legend>
      <div class="u-board-search__item">
        <div class="u-board-search__select-wrap">
          <select name="" id="" class="u-board-search__select">
            <option value="" selected>Subject</option>
            <option value="">1</option>
            <option value="">2</option>
          </select>
        </div>
      </div>
      <div class="u-board-search__item u-board-search__item--mobile-full">
        <input type="text" name="" class="u-board-search__input" title="Please enter a search term" placeholder="Please enter a search term">
      </div>
      <div class="u-board-search__item">
        <input type="image" src="../../images/icon/icon-search-1.png" alt="Search" class="u-board-search__submit">
      </div>
    </fieldset>
  </form>
</div>