<% let option = locals.entry.option || ''; %>
<div class="u-pagination <%- option %>">
	<a href="#" class="u-pagination__link u-pagination__link--prev">이전 페이지</a>
	<a href="#" class="u-pagination__link">1</a>
	<a href="#" class="u-pagination__link is-on">2</a>
	<a href="#" class="u-pagination__link">3</a>
	<a href="#" class="u-pagination__link">4</a>
	<a href="#" class="u-pagination__link">5</a>
	<a href="#" class="u-pagination__link u-pagination__link--next">다음 페이지</a>
</div>
<!-- //u-pagination -->