@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/notokr-light.eot?') format('eot'), url('../fonts/notokr-light.woff2') format('woff2'), url('../fonts/notokr-light.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/notokr-regular.eot?') format('eot'), url('../fonts/notokr-regular.woff2') format('woff2'), url('../fonts/notokr-regular.woff') format('woff');
}