<div class="main-section__heading"><span class="main-section__heading-text">Gallery</span></div>
<div class="main-gallery">
  <div class="main-gallery__rail">
    <div class="main-gallery__list">
    <% for(var i=0; i<5; i++){ %>
    <div class="main-gallery__item">
      <a href="../schoollife/schoollife_02_상세.html" class="main-gallery__link">
        <img src="../../images/main/main-gallery-img<%- i+1 %>.jpg" alt="" class="main-gallery__img">
        <div class="main-gallery__box">
          <div class="main-gallery__text-table">
            <div class="main-gallery__text-cell">
              <div class="main-gallery__over">
                <div class="main-gallery__title">KIST was established in 1966 as the first government</div>
                <span class="main-gallery__more-btn">View More</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
  </div>
  <a href="../schoollife/schoollife_02_목록.html" class="main-notice__more-btn">+</a>
</div>
<!-- //main-gallery -->