<% let item = locals.require('main-major.json') -%>
<div class="main-section__heading"><span class="main-section__heading-text main-section__heading-text--gray">Major</span></div>
<div class="main-major">
  <div class="main-major__list js-main-major-slide-mobile">
    <% item.forEach(function(item, index) { -%>
    <div class="main-major__item js-main-major-slide-item">
      <a href="<%- item.link %>" class="main-major__link">
        <img src="../../images/main/main-major-img<%- index+1 %>.jpg" alt="" class="main-major__img">
        <div class="main-major__box">
          <div class="main-major__text-table">
            <div class="main-major__text-cell">
              <div class="main-major__title"><%- item.title %></div>
              <div class="main-major__over">
                <div class="main-major__summary"><%- item.summary %></div>
                <span class="main-major__more-btn">Learn More</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
<!-- //main-major -->