<div class="main-news">
  <div class="main-news__component main-news__heading">News</div>
  <div class="main-news__title js-main-news-title">
    <% for(var i=0; i<3; i++){ %>
    <div class="main-news__title-item js-main-news-title-item">
      <a href="../aboutus/aboutus_05_상세.html" class="main-news__link">Announcement of the 8th Scientific Imagination Sharing Festival winner Announcement of the 8th Scientific Imagination Sharing Festival winner</a>
    </div>
    <% } %>
  </div>
  <div class="main-news__date js-main-news-date">
    <% for(var i=0; i<3; i++){ %>
    <div class="main-news__date-item js-main-news-date-item">2018.04.26</div>
    <% } %>
  </div>
  <div class="main-news__component main-news__controls">
    <a href="#" class="main-news__bx-prev js-main-news-prev">Prev</a>
    <a href="#" class="main-news__bx-next js-main-news-next">Next</a>
  </div>
</div>
<!-- //main-news -->