<div class="main-section__heading"><span class="main-section__heading-text">Notice</span></div>
<div class="main-notice">
  <div class="main-notice__list js-main-notice-slide-mobile">
    <% for(var i=0; i<3; i++){ %>
    <% if(i === 0){ %>
    <div class="main-notice__item js-main-notice-slide-item">
      <a href="../aboutus/aboutus_06_상세.html" class="main-notice__link">
        <div class="main-notice__title">KIST Celebrates 52nd Anniversary</div>
        <div class="main-notice__date">2018.02.29</div>
        <div class="main-notice__summary">On February 9, at its headquarters in Seoul, the Korea Institute of Science</div>
      </a>
    </div>
    <% } %>
    <div class="main-notice__item js-main-notice-slide-item">
      <a href="../aboutus/aboutus_06_상세.html" class="main-notice__link">
        <div class="main-notice__title">Dr. Cho Young-Wook and Dr. Kim Jinwook Are KIST’s “Persons of the Month” Dr. Cho Young-Wook and Dr. Kim Jinwook Are KIST’s “Persons of the Month”</div>
        <div class="main-notice__date">2018.02.28</div>
        <div class="main-notice__summary">On February 28, Dr. Cho Young-Wook from the Korea Institute of Science and Technology (KIST)’s Center for Quantum Information, and Dr. Kim Jinwook of KIST’s Center for Imaging Media Research, received KIST’s Person of the Month Award in recognition of their outstanding research.</div>
      </a>
    </div>
    <% } %>
  </div>
  <a href="../aboutus/aboutus_06_목록.html" class="main-notice__more-btn">+</a>
</div>
<!-- //main-notice -->