<% let item = locals.require('main-visual.json') -%>
<div class="main-visual js-main-visual">
  <% item.forEach(function(item, index) { -%>
  <div class="main-visual__item main-visual__item--nth-<%- index+1 %> js-main-visual-item">
    <div class="main-visual__inner">
      <div class="main-visual__headline js-view js-view--fade-in js-view--delay-1">Pride · Convergence · Community<br><span class='main-visual__small'>Radiate the Spirit of Success!</span></div>
      <div class="main-visual__summary-wrap js-view js-view--fade-in js-view--delay-2">
        <div class="main-visual__summary">
          <div class="main-visual__text-cell"><%- item.summary %></div>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<div class="main-search js-view js-view--fade-in-up js-view--delay-3">
  <form action="../faculty-major/faculty-major_01_목록.html" class="main-search__form">
    <fieldset class="main-search__fieldset">
      <legend class="hidden">Search for KIST School Professors</legend>
      <div class="main-search__select-wrap">
        <select name="" id="" class="main-search__select js-selectbox">
          <option data-display="Research Fields" value="Research Fields">Research Fields</option>
          <option value="Name">Name</option>
          <option value="KIST School Major">KIST School Major</option>
          <option value="Division">Division</option>
          <option value="Center">Center</option>
        </select>
      </div>
      <div class="main-search__input-wrap">
        <!--input text 일 때-->
        <input type="text" title="Search for KIST School Professors" placeholder="Search for KIST School Professors" class="main-search__input">
        <!--//input text 일 때-->
        <!--20180621추가 selectbox 일 때-->
        <div class="main-search__select2" style="display:none;">
          <select name="" id="" class="main-search__select-box">
            <option value="">All</option>
            <option value="">Bio-Medical Science & Technology</option>
            <option value="">Energy & Environment Technology</option>
            <option value="">Nano & Information Technology</option>
            <option value="">KIST Jeonbuk Institute of Advanced Composite Materials</option><!--가장 긴 텍스트 예시-->
          </select>
        </div>
        <!--//20180621추가 selectbox 일 때-->
        <input type="image" src="../../images/icon/icon-search-1.png" title="Search" class="main-search__submit">
      </div>
    </fieldset>
  </form>
</div>
<!-- //main-visual -->