<%
let gnb = locals.require('gnb.json')
var page = 'admission'
let sub = 'Outstanding Students Attraction Program'
let tab = 'Internship Program'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('tab',tab) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <%- locals.widget('_tab.ejs', {list: gnb[page].children[sub].children}) %>
</div>

<div class="site-content__center">
  <div class="u-page-summary">KIST School provides 6 to 9 month-long internship for outstanding applicants, and it offers English classes (to help students <br class="only-desktop">getting an official English score for entering Masters and Doctoral degree courses), a Korean language program, and R&D field <br class="only-desktop">training. Students’ English scores must meet the minimum requirements in order for them to qualify for the KIST School <br class="only-desktop">Internship program.</div>
</div>

<div class="site-content__center">
  <div class="u-section u-section--first">
    <div class="u-section__title">Semester & Period</div>
    <div class="semester">
      <div class="semester__item">
        <div class="semester__summary">Spring Internship begins in January, and application period starts on July of the previous year</div>
      </div>
      <div class="semester__item">
        <div class="semester__summary">Fall Internship begins in July, and application period starts on January.</div>
      </div>
      <div class="semester__item">
        <div class="semester__summary">6 to 9 month-long internship</div>
      </div>
    </div>
  </div>
  <div class="u-section">
    <div class="u-section__title">Requirements for Eligibility</div>
    <div class="u-content-box">
      <div class="u-content-text u-content-text--dot u-content-text--list">Must have a bachelor’s or master’s degree, or be expected to receive one</div>
      <div class="u-content-text u-content-text--dot u-content-text--list">Must get an official recommendation from the country</div>
    </div>
  </div>
  <div class="u-section">
    <div class="u-section__title">Admission Process</div>
    <div class="process">
      <div class="process__item process__item--nth-1">
        <div class="process__text-wrap">
          <div class="process__title">Step1</div>
          <div class="process__text">Announcement of admission <br class="only-desktop">guidelines & application <br class="only-desktop">submission</div>
        </div>
      </div>
      <div class="process__item process__item--nth-2">
        <div class="process__text-wrap">
          <div class="process__title">Step2</div>
          <div class="process__text">Document review</div>
        </div>
      </div>
      <div class="process__item process__item--nth-3">
        <div class="process__text-wrap">
          <div class="process__title">Step3</div>
          <div class="process__text">Recommendation from <br class="only-desktop">the country</div>
        </div>
      </div>
      <div class="process__item process__item--nth-4">
        <div class="process__text-wrap">
          <div class="process__title">Step4</div>
          <div class="process__text">In-Depth Interview in each <br class="only-desktop">field of study</div>
        </div>
      </div>
      <div class="process__item process__item--nth-5">
        <div class="process__text-wrap">
          <div class="process__title">Step5</div>
          <div class="process__text">Announcement of final <br class="only-desktop">successful applicants</div>
        </div>
      </div>
      <div class="process__item process__item--nth-6">
        <div class="process__text-wrap">
          <div class="process__title">Step6</div>
          <div class="process__text">Admission Registration</div>
        </div>
      </div>
    </div>
  </div>
</div>