<%
let gnb = locals.require('gnb.json')
var page = 'admission'
let sub = 'Outstanding Students Attraction Program'
let tab = 'Dual Degree Program'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('tab',tab) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <%- locals.widget('_tab.ejs', {list: gnb[page].children[sub].children}) %>
</div>

<div class="site-content__center">
  <div class="u-page-summary">As a leading research oriented Academy in science and technology, KIST School aims to provide real research and development experience to <br class="only-desktop">those students from overseas countries through intensive graduate level education, and to bring them up as competent engineers and scientists. <br class="only-desktop">In the event that the thesis defense is successful, the Degree is to be conferred on the students by his/her university and the Diploma is to be conferred by KIST.</div>
</div>

<div class="site-content__center">
  <div class="u-section u-section--first">
    <div class="u-section__title">Semester & Period</div>
    <div class="semester">
      <div class="semester__item">
        <div class="semester__summary">Spring Semester begins in March, and application period starts on September of the previous year</div>
      </div>
      <div class="semester__item">
        <div class="semester__summary">Semester begins in September, and application period starts on March</div>
      </div>
      <div class="semester__item">
        <div class="semester__summary">Students should study at KIST for at least one year for an M.S. or M.E. degree and two years for a Ph.D. degree</div>
      </div>
    </div>
  </div>
  <div class="u-section">
    <div class="u-section__title">Requirements for Eligibility</div>
    <div class="u-content-box">
      <div class="u-content-text u-content-text--dot u-content-text--list">Applicants who have fulfilled their coursework requirements from Partner University with a cumulative GPA of at least 4.0 out of 5.0, will be entitled to enroll in the equivalent M.S. or Ph.D. degree program at KIST School</div>
    </div>
  </div>
  <div class="u-section">
    <div class="u-section__title">Admission Process</div>
    <div class="process">
      <div class="process__item process__item--nth-1">
        <div class="process__text-wrap">
          <div class="process__title">Step1</div>
          <div class="process__text">Announcement of admission <br class="only-desktop">guidelines & application <br class="only-desktop">submission</div>
        </div>
      </div>
      <div class="process__item process__item--nth-2">
        <div class="process__text-wrap">
          <div class="process__title">Step2</div>
          <div class="process__text">Document review</div>
        </div>
      </div>
      <div class="process__item process__item--nth-4">
        <div class="process__text-wrap">
          <div class="process__title">Step3</div>
          <div class="process__text">In-Depth Interview in each <br class="only-desktop">field of study</div>
        </div>
      </div>
      <div class="process__item process__item--nth-5">
        <div class="process__text-wrap">
          <div class="process__title">Step4</div>
          <div class="process__text">Announcement of final <br class="only-desktop">successful applicants</div>
        </div>
      </div>
      <div class="process__item process__item--nth-6">
        <div class="process__text-wrap">
          <div class="process__title">Step5</div>
          <div class="process__text">Admission Registration</div>
        </div>
      </div>
    </div>
  </div>
  <div class="u-section">
    <div class="u-section__title">Official Language Proficiency Requirements</div>
    <table class="admission-table admission-table--type3">
      <colgroup>
        <col width="210px">
        <col width="343px">
        <col width="343px">
        <col width="344px">
      </colgroup>
      <tbody class="admission-table__body">
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__td--fill-gray admission-table__td--first admission-table__td--text-center admission-table__td--text-bold admission-table__mobile-hide" rowspan="5">Official English Score <br>(Minimum Score Required)</td>
        <th class="admission-table__th admission-table__th--mobile-first admission-table__th--fill-blue" colspan="3">TOEFL</th>
      </tr>
      <tr class="admission-table__row admission-table__mobile-show-row">
        <td class="admission-table__td admission-table__td--fill-gray admission-table__td--first admission-table__td--text-center admission-table__td--text-bold" colspan="3">Official English Score <br>(Minimum Score Required)</td>
      </tr>
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black admission-table__td--mobile-first">IBT</td>
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black">CBT</td>
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black">PBT</td>
      </tr>
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__td--text-center admission-table__td--mobile-first">79</td>
        <td class="admission-table__td admission-table__td--text-center">213</td>
        <td class="admission-table__td admission-table__td--text-center">550</td>
      </tr>
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black admission-table__td--fill-blue admission-table__td--mobile-first">TOEIC</td>
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black admission-table__td--fill-blue">TEPS</td>
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black admission-table__td--fill-blue">IELTS</td>
      </tr>
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__td--text-center admission-table__td--mobile-first">730</td>
        <td class="admission-table__td admission-table__td--text-center">630</td>
        <td class="admission-table__td admission-table__td--text-center">6</td>
      </tr>
      </tbody>
    </table>
    <div class="admission-required">
      <div class="admission-required__item"><span class="admission-required__icon">*</span> We only accept tests taken up to two years preceding the application deadline.</div>
      <div class="admission-required__item"><span class="admission-required__icon">*</span> Deferred Submission of Official English Score : Applicants are not required to provide an official English score if he/she has obtained certificate of English from his/her university. Applicants are eligible to postpone submission of an official English score meeting the minimum requirement until the period for the submission of degree thesis</div>
    </div>
  </div>
</div>