<%
let gnb = locals.require('gnb.json')
var page = 'admission'
let sub = 'Degree Program'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title u-page-title--mb-0"><%- heading %></h1>
<div class="site-content__center">
  <div class="u-page-summary">KIST School offers full degree program that provides students with valuable R&D experience and is equipped with <br class="only-desktop">state-of-the-art facilities and cutting-edge equipment that provide further learning opportunities for students. And students at <br class="only-desktop">KIST School are given opportunities to participate in actual R&D projects, receive firsthand experience at real industrial sites, <br class="only-desktop">and undergo research-oriented education and training within their respective disciplines.</div>
</div>

<div class="site-content__center">
  <div class="u-section u-section--first">
    <div class="u-section__title">Semester & Period</div>
    <div class="semester">
      <div class="semester__item">
        <div class="semester__summary">Spring Semester begins in March, and application period starts on September of the previous year</div>
      </div>
      <div class="semester__item">
        <div class="semester__summary">Fall Semester begin September, and application period starts on March.</div>
      </div>
    </div>
  </div>
  <div class="u-section">
    <div class="u-section__title">Admission Category</div>
    <table class="admission-table admission-table--type1">
      <colgroup>
        <col width="210px">
        <col width="315px">
        <col width="715px">
      </colgroup>
      <thead class="admission-table__head">
        <tr class="admission-table__row">
          <th class="admission-table__th admission-table__mobile-th admission-table__th--fill-blue admission-table__th--first">General Admission</th>
          <th class="admission-table__th admission-table__mobile-td admission-table__th--fill-blue" colspan="2">Selection of students under the fixed quota system (not eligible for special admission)</th>
        </tr>
      </thead>
      <tbody class="admission-table__body admission-table__mobile-next">
        <tr class="admission-table__row">
          <td class="admission-table__td admission-table__mobile-th admission-table__td--first admission-table__td--fill-gray admission-table__td--text-center admission-table__td--text-bold" rowspan="4">Special Admission</td>
          <td class="admission-table__td admission-table__mobile-hide">Foreigners</td>
          <td class="admission-table__td admission-table__mobile-td" data-title="Foreigners">
            <div class="admission-table__list">1. A foreign national whose parents are both foreign nationals</div>
            <div class="admission-table__list">2. A foreign national who has completed the entire elementary, junior high, high school and undergraduate education outside of Korea</div>
          </td>
        </tr>
        <tr class="admission-table__row">
          <td class="admission-table__td admission-table__mobile-hide">Entrusted Students</td>
          <td class="admission-table__td admission-table__mobile-td" data-title="Entrusted Students">Military entrusted students recommended by the Minister of National Defense or government agency employees recommended by a related minister</td>
        </tr>
        <tr class="admission-table__row">
          <td class="admission-table__td admission-table__mobile-hide">Koreans Living Overseas</td>
          <td class="admission-table__td admission-table__mobile-td" data-title="Koreans Living Overseas">Korean nationals who have completed their entire elementary, junior high, high school and undergraduate education outside of Korea</td>
        </tr>
        <tr class="admission-table__row">
          <td class="admission-table__td admission-table__mobile-hide">North Korea defectors</td>
          <td class="admission-table__td admission-table__mobile-td" data-title="North Korea defectors">North Korean defectors with a Bachelor’s and Master’s degree in North Korea or abroad acknowledged pursuant to relevant laws</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="u-section">
    <div class="u-section__title">Requirements for Eligibility</div>
    <table class="admission-table admission-table--type2">
      <colgroup>
        <col width="210px">
        <col width="1030px">
      </colgroup>
      <thead class="admission-table__head admission-table__mobile-hide">
      <tr class="admission-table__row">
        <th class="admission-table__th admission-table__th--fill-blue admission-table__th--first">Degree Program</th>
        <th class="admission-table__th admission-table__th--fill-blue">Eligibility</th>
      </tr>
      </thead>
      <tbody class="admission-table__body">
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__mobile-th admission-table__td--first admission-table__td--text-center">Ph.D. Degree Program</td>
        <td class="admission-table__td admission-table__mobile-td">
          <div class="admission-table__list admission-table__list--dot">Those who have a Master’s degree or are expected to receive a Master’s degree before the semester starts</div>
          <div class="admission-table__list admission-table__list--dot">Those who are recognized as having qualifications equivalent to a Master’s degree or approved by law</div>
        </td>
      </tr>
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__mobile-th admission-table__td--first admission-table__td--text-center">Integrative Program <br class="only-desktop">Master’s Degree Program</td>
        <td class="admission-table__td admission-table__mobile-td">
          <div class="admission-table__list admission-table__list--dot">Those who have a Bachelor’s degree from an accredited university or are expected to receive a Bachelor’s degree before the semester starts</div>
          <div class="admission-table__list admission-table__list--dot">Those who are recognized as having qualifications equivalent to a Bachelor’s degree or approved by law</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="u-section">
    <div class="u-section__title">Admission Process</div>
    <div class="process">
      <div class="process__item process__item--nth-1">
        <div class="process__text-wrap">
          <div class="process__title">Step1</div>
          <div class="process__text">Announcement of admission <br class="only-desktop">guidelines & application <br class="only-desktop">submission</div>
        </div>
      </div>
      <div class="process__item process__item--nth-2">
        <div class="process__text-wrap">
          <div class="process__title">Step2</div>
          <div class="process__text">Document review</div>
        </div>
      </div>
      <div class="process__item process__item--nth-4">
        <div class="process__text-wrap">
          <div class="process__title">Step3</div>
          <div class="process__text">In-Depth Interview in each <br class="only-desktop">field of study</div>
        </div>
      </div>
      <div class="process__item process__item--nth-5">
        <div class="process__text-wrap">
          <div class="process__title">Step4</div>
          <div class="process__text">Announcement of final <br class="only-desktop">successful applicants</div>
        </div>
      </div>
      <div class="process__item process__item--nth-6">
        <div class="process__text-wrap">
          <div class="process__title">Step5</div>
          <div class="process__text">Admission Registration</div>
        </div>
      </div>
    </div>
  </div>
  <div class="u-section">
    <div class="u-section__title">Official Language Proficiency Requirements</div>
    <table class="admission-table admission-table--type3">
      <colgroup>
        <col width="210px">
        <col width="343px">
        <col width="343px">
        <col width="344px">
      </colgroup>
      <tbody class="admission-table__body">
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__td--fill-gray admission-table__td--first admission-table__td--text-center admission-table__td--text-bold admission-table__mobile-hide" rowspan="5">Official English Score <br>(Minimum Score Required)</td>
        <th class="admission-table__th admission-table__th--mobile-first admission-table__th--fill-blue" colspan="3">TOEFL</th>
      </tr>
      <tr class="admission-table__row admission-table__mobile-show-row">
        <td class="admission-table__td admission-table__td--fill-gray admission-table__td--first admission-table__td--text-center admission-table__td--text-bold" colspan="3">Official English Score <br>(Minimum Score Required)</td>
      </tr>
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black admission-table__td--mobile-first">IBT</td>
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black">CBT</td>
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black">PBT</td>
      </tr>
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__td--text-center admission-table__td--mobile-first">79</td>
        <td class="admission-table__td admission-table__td--text-center">213</td>
        <td class="admission-table__td admission-table__td--text-center">550</td>
      </tr>
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black admission-table__td--fill-blue admission-table__td--mobile-first">TOEIC</td>
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black admission-table__td--fill-blue">TEPS</td>
        <td class="admission-table__td admission-table__td--text-center admission-table__td--text-bold admission-table__td--text-black admission-table__td--fill-blue">IELTS</td>
      </tr>
      <tr class="admission-table__row">
        <td class="admission-table__td admission-table__td--text-center admission-table__td--mobile-first">730</td>
        <td class="admission-table__td admission-table__td--text-center">630</td>
        <td class="admission-table__td admission-table__td--text-center">6</td>
      </tr>
      </tbody>
    </table>
    <div class="admission-required">
      <div class="admission-required__item"><span class="admission-required__icon">*</span> We only accept tests taken up to two years preceding the application deadline.</div>
      <div class="admission-required__item"><span class="admission-required__icon">*</span> The minimum score requirements are subject to change</div>
    </div>
  </div>
  <div class="u-section">
    <table class="admission-table admission-table--type1 ">
      <colgroup>
        <col width="50%">
        <col width="50%">
      </colgroup>
      <thead class="admission-table__head admission-table__mobile-hide">
      <tr class="admission-table__row">
        <th class="admission-table__th admission-table__th--fill-blue admission-table__th--first">Waiver for Submission of Official English Score</th>
        <th class="admission-table__th admission-table__th--fill-blue">Deferred Submission of Official English Score</th>
      </tr>
      </thead>
      <tbody class="admission-table__body">
      <tr class="admission-table__row">
        <th class="admission-table__th admission-table__mobile-th admission-table__mobile-show-th">Waiver for Submission of Official English Score</th>
        <td class="admission-table__td admission-table__mobile-td admission-table__td--first">
          <div class="admission-table__list admission-table__list--dot">UST (expected) graduates</div>
          <div class="admission-table__list admission-table__list--dot">Applicants who obtained a Bachelor’s degree or higher with more than one year of study in English-speaking countries (the U.S., U.K., Canada, Australia, New Zealand, Ireland, or- the Republic of South Africa)</div>
        </td>
        <th class="admission-table__th admission-table__mobile-th admission-table__mobile-show-th">Deferred Submission of Official English Score</th>
        <td class="admission-table__td admission-table__mobile-td admission-table__mobile-td">
          <div class="admission-table__list admission-table__list--dot">Applicants for the special admission category of entrusted students</div>
          <div class="admission-table__list admission-table__list--dot">Applicants who obtained a degree from a university (graduate school) from one of the UST-designated English-speaking countries (a total 01 31 countries) AND have proven that all the courses were taught and completed in English</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="u-btn-wrap">
    <a href="https://admission.ust.ac.kr/admission_eng.do" target="_blank" class="u-btn">Apply</a>
  </div>
</div>