// Introduction
.about-message-title { margin-top:-0.444em; text-align:center; font-size:36px; line-height: 1.333; font-weight: $regular; color:$black-body;
  &:after { content:''; display:block; width:2px; height:1.112em; margin:0.833em auto; background-color: $orange; }
  @media (max-width:$tablet-size){ font-size:18px;
    &:after { width:1px; }
  }
}
.about-message-text { margin-left:85px; margin-right:85px; text-align:center; font-size:18px; line-height:1.778; font-weight: $regular; color:$gray-body;
  @media (max-width:$tablet-size){ margin-left:0; margin-right:0; margin-bottom:-3px; font-size:13px; line-height: 1.385; }
}

.kistschool-value { width:100%; height:687px; margin-top:110px; padding-top:120px; padding-bottom:120px; box-sizing: border-box; background-image: url("../images/aboutus/kistschool-bg.jpg"); background-repeat: no-repeat; background-position: 50% 50%;
  $this:&;
  &__title { margin-top:-0.138em; text-align: center; text-transform: uppercase; font-size:36px; line-height: 1; font-weight: $medium; color:#fff; }
  &__list { margin-top:65px; font-size:0;
    &:before { content: '';display: block;height: 50px; }
  }
  &__item { position:relative; display:inline-block; width:400px; height:300px; padding:0 40px; vertical-align: top; box-sizing: border-box; background-color: #fff;
    &+& { margin-left:20px; }
    &:before { content:''; display:block; /*position:absolute; left:0; top:0; right:0;*/ width:100px; height:100px; margin-top:-50px; margin-left:auto; margin-right:auto; margin-bottom:33px; border-radius: 100px; background-color: $orange; background-image: url("../images/aboutus/kistschool-icon-sp.png"); background-repeat: no-repeat;
    }
    @for $i from 1 through 3 {
      &--nth-#{$i} {
        &:before { background-position:(-100px * $i)+100 50%; }
      }
    }
  }
  &__title2 { min-height:1.25em*2; font-size:24px; line-height: 1.25; font-weight: $bold; color:$black-body; }
  &__text { position:relative; padding-left:.571em; margin-top:1.5em; font-size:14px; line-height: 1.715; font-weight: $regular; color:$gray-body;
    &:before { content:''; display: block; position: absolute; left:0; top:.786em; width:3px; height:3px; background-color: $orange; }
    &+& { margin-top:0; }
  }
  @media (max-width:$tablet-size){ height:auto; margin-top:50px; padding-top:55px; padding-bottom:55px; background-size: cover;
    &__title { font-size:18px; }
    &__list { margin-top:22px; overflow: hidden;
      &:before { height: 25px; }
    }
    &__item { height:auto; min-height: 183px; padding:0 15px 25px;
      &+& { margin-left:0; }
      &:before { width:50px; height:50px; margin-top:-25px; margin-bottom:17px; border-radius: 50px; background-size: 150px 31px; }
      @for $i from 1 through 3 {
        &--nth-#{$i} {
          &:before { background-position:(-50px * $i)+50px 50%; }
        }
      }
    }
    &__title2 { min-height:1.385em*2; font-size:13px; line-height: 1.385; }
    &__text { padding-left:.5em; margin-top:1em; font-size:12px; line-height: 1.417;
      &:before { top:.58em; }
    }
    .kistschool-slide-wrap {
      .bx-viewport { width:79% !important; overflow: visible !important; height:auto !important; }
      .bx-pager { font-size:0; text-align: center; margin-top:15px;
        & .bx-pager-item { display:inline-block; }
        & .bx-pager-link { display:block; width:7px; height:7px; padding:5px;
          &:before { content:''; display:block; width:100%; height:inherit; border-radius: 7px; background-color:rgba(#fff, .5); }
          &.active:before  { background-color: #e54125; }
        }
      }
    }
  }
}

.about-kist { margin:120px 0 0; font-size:0;
  &__item { display:inline-block; vertical-align:top; width:50%; box-sizing: border-box; padding:0 10px; margin-top:-0.286em; font-size:14px; line-height: 1.571; font-weight: $regular; color:$gray-body; }
  &__intro-text { display:inline-block; margin-top:-.09em; margin-bottom:.365em; font-size:22px; line-height: 1.36; font-weight: $medium; color:$black-body; }
  @media (max-width:$tablet-size){ margin-top:60px;
    &__item { font-size:13px; line-height: 1.385; }
    &__mobile-full { width:100%; margin-top:0;
      &:first-child { margin-top:-.3em; }
      &+& { margin-top:1.385em; }
    }
    &__intro-text { font-size:17px; margin-top:0; margin-bottom:0.59em; }
  }
}

// Message from the KIST President, Dean
.aboutus-site-content-bg { background-image: url("../images/aboutus/kist-shape-bg.png"); background-repeat: no-repeat; background-position: right 0 bottom -10px; background-size: auto 100%;
  @media (max-width:$tablet-size){ background-position: right 0 bottom -20px; background-size: 303px auto; }
}
.message-president { margin-top:0; position:relative; padding-bottom:66px;
  &__item { display:block; vertical-align:top; box-sizing: border-box; padding:0; margin-top:-0.286em; font-size:14px; line-height: 22px; font-weight: $regular; color:$gray-body;
    &--img-wrap { float: left; padding-right:35px; line-height: 0; text-align: left; font-size: inherit; }
  }
  &__img { max-width:100%; }
  &__intro-text { display:inline-block; margin-top:-.25em; margin-bottom:.5em; font-size:24px; line-height: 1.33; font-weight: $bold; color:$black-body; }
  @media (max-width:$tablet-size){ padding-bottom:0;
    &__item { padding-left:0; padding-right:0; font-size:13px; line-height: 1.385;
      &--img-wrap { float:none; text-align:center; font-size: 0; }
    }
    &__mobile-full { width:100%; margin-top:0;
      &+& { margin-top:2.3em; }
    }
    &__intro-text { font-size:17px; font-weight: $medium; margin-bottom:0.59em; }
  }
}
.signature { position:absolute; right:0; bottom:0; width:350px;
  &__name { display: inline-block; font-size:16px; line-height: 1.375; font-weight: $bold; color:$black-body; }
  &__img { float:right; margin-top:3px; }
  &__img--dean { width:135px; }
  @media (max-width:$tablet-size){ position:static; margin-top:25px; width:auto; text-align: right;
    &__name { font-size:12px; margin-right:1em; vertical-align: middle; }
    &__img { float:none; width:86px; height:auto; margin-top:0; vertical-align: middle; }
    &__img--dean { width:91px; }
  }
}

// News, Notice
.about-board-list {
  &__th {
    &--nth-1 { width: 105px; }
    &--nth-2 { width: 840px; }
    &--nth-3 { width: 190px; }
    &--nth-4 { width: 105px; }
  }
  &__td { height:70px; }
  @media (max-width:$tablet-size){
    &__td { height:auto; font-size:13px; line-height: 1.667; font-weight: $medium;
      &--tag-wrap { height:20px; line-height: 20px; }
      &--date { margin-top:3px; font-size:12px; font-weight: $light; }
    }
  }
}
.about-board { table-layout: fixed; border-collapse: collapse; border-top:2px solid #4a4a4a;
  &__th, &__td { height:70px; padding:10px 20px; box-sizing: border-box; vertical-align: middle; font-size:14px; border-bottom:1px solid #e4eaf0; }
  &__th { width: 210px; text-align: left; line-height: 1.2; font-weight: $medium; color:$black-body; background-color: #f2f6fa; }
  &__td { width: 410px; line-height: 1.43; color:$gray-body; }
  &__file { display:inline-block; text-decoration: none; color:inherit;
    &:before { content:''; display:inline-block; width:16px; height:17px; margin-top:-2px; margin-right:5px; vertical-align: middle; background-image: url("../images/icon/icon-file.png"); background-size: 16px 17px; }
    &:hover { text-decoration: underline; }
  }
  @media (max-width:$tablet-size){ width:100%;
    &__th, &__td { display:block; height:auto; padding:0 10px; font-size:13px;
      float:left\9;clear:left\9;
    }
    &__th { width:100%; height:35px; line-height: 33px; }
    &__td { width:100%; min-height:35px; padding-top:12px; padding-bottom:11px; }
  }
}
.about-board-article { padding:55px 22px; box-sizing: border-box; font-size:14px; color:$gray-body; border-bottom:1px solid #e4eaf0;
  img { max-width:100%; }
  p { margin-top:0; margin-bottom:0; }
  @media (max-width:$tablet-size){ padding:27px 10px; font-size:13px; }
}
.about-board-preview { display:table; table-layout: fixed; width: 100%; margin-top:40px; /*border-top:1px solid #e4eaf0; border-bottom:1px solid #e4eaf0;*/
  $this:&;
  &__row { display:table-row; }
  &__heading, &__body { display:table-cell; height:70px; box-sizing: border-box; vertical-align: middle; white-space: nowrap; font-size:14px; border-bottom:1px solid #e4eaf0;
    #{$this}__row:first-child & { border-top:1px solid #e4eaf0; border-bottom:1px solid #e7ecf2; }
    #{$this}__row:last-child & { border-bottom:1px solid #e4eaf0; }
  }
  &__heading { width: 210px; text-align: center; font-weight: $medium; color:$black-body; background-color: #f2f6fa; }
  &__body { width: 1030px; padding:0 20px; color:$gray-body; overflow: hidden; text-overflow: ellipsis; }
  &__link { text-decoration: none; color:inherit; }
  @media (max-width:$tablet-size){ margin-top:20px; width: auto;
    &__heading, &__body { height:40px; font-size:13px; }
    &__heading { width:auto; padding-left:13px;padding-right:13px; }
    &__body { max-width:0; width:100%; padding-left:11px;padding-right:0; }
  }
}

// Status
.status { margin-top:110px; margin-left:-10px; margin-right:-10px; font-size:0;
  $this:&;
  &:before { content:''; display: block; height:50px; }
  &__item { display: inline-block; width:33.33%; vertical-align: top; box-sizing: border-box; padding:0 10px; text-align: center; }
  &__box { padding-bottom:35px; border:1px solid #e4eaf0;
    &:before { content:''; display: inline-block; width:100px; height:100px; margin-top:-50px; border-radius: 100px; background-color: $orange; background-image: url("../images/aboutus/status-circle-icon-sp.png"); background-repeat: no-repeat; }
    @for $i from 1 through 3 {
      #{$this}__item--nth-#{$i} & {
        &:before { background-position:(-100px * $i)+100 50%; }
      }
    }
  }
  &__title { margin-top:1.416em; margin-bottom:1.375em; font-size:24px; font-weight: $bold; text-align: center; line-height: 1.25; color:$black-body; }
  &__detail { font-size:0; }
  &__count { display:inline-block; width:50%; vertical-align:top; font-size:16px; font-weight: $regular; text-align: center; line-height: 1.5; color:$black-body;
    &:before { content:attr(data-num); display: block; width: 87px; height:82px; margin-left:auto; margin-right:auto; margin-bottom:.475em; font-size:40px; font-weight: $medium; line-height: 82px; background-image: url("../images/aboutus/status-count-icon-sp.png"); }
    &--students:before { background-position: -87px 0; }
  }
  @media (max-width: $tablet-size) { margin-top:55px; margin-left:0; margin-right:0; overflow: hidden;
    &:before { height:25px; }
    &__item { padding:0; }
    &__box { padding-bottom:18px;
      &:before { width:50px; height:50px; margin-top:-25px; border-radius: 50px; background-size: 150px auto; }
      @for $i from 1 through 3 {
        #{$this}__item--nth-#{$i} & {
          &:before { background-position:(-50px * $i)+50 50%; }
        }
      }
    }
    &__title { margin-top:1.269em; margin-bottom:.7em; font-size:13px; line-height: 1.385; }
    &__count { font-size:13px;
      &:before { width:48px; height:45px; margin-bottom:.367em; font-size:30px; line-height: 45px; background-size:96px auto; }
      &--students:before { background-position: -48px 0; }
    }
  }
}
@media (max-width:$tablet-size) {
  .status-slide-wrap {
    .bx-viewport { width:79% !important; overflow: visible !important; height:auto !important; }
    .bx-pager { font-size:0; text-align: center; margin-top:15px; margin-bottom:-5px;
      & .bx-pager-item { display:inline-block; }
      & .bx-pager-link { display:block; width:7px; height:7px; padding:5px;
        &:before { content:''; display:block; width:100%; height:inherit; border-radius: 7px; background-color:rgba(#000, .5); }
        &.active:before  { background-color: #e54125; }
      }
    }
  }
}

.status-map { margin-top:112px;
  @media (max-width:$tablet-size) { margin-top:39px;
    &__img { padding:20px 10px; }
  }
}
.status-map-board-wrap { margin-top:60px;
  @media (max-width:$tablet-size) { margin-top:25px; }
}
.map-point { margin-bottom:12px; font-size:0; text-align: right;
  $this:&;
  &__item { display:inline-block; vertical-align: top; font-size:16px; line-height: 1.1; font-weight: $medium; color:$black-body;
    &+& { margin-left:1.25em; }
    &:before { content:''; display: inline-block; width:10px; height:10px; margin-right: .313em; border-radius: 5px;
    }
    &--orange:before { background-color: $orange; }
    &--sky:before { background-color: #1bb8ce; }
  }
  @media (max-width:$tablet-size) { margin-bottom:8px; text-align: justify;
    &:after { display: inline-block; content:''; width: 100%; }
    &__item { font-size:12px;
      &+& { margin-left:0; }
    }
  }
}
.status-map-board {
  $this:&;
  &__th {
    &--nth-1 { width:295px; }
    &--nth-2 { width:auto; }
    &--nth-3 { width:295px; }
  }
  &__cell { height:70px; font-size:16px; }
  @media (max-width:$tablet-size){
    &__row {
      &:first-child #{$this}__cell { border-top:0; }
    }
    &__cell { height:65px; padding:10px 12px; font-size:13px;
      &[data-countries]:after { content: attr(data-countries); display: block; margin-top:.38em; font-size:inherit; font-weight: $light; color:inherit; }
    }
  }
  .js-view-item { display: none; transition:opacity ease-in-out .3s; animation: none;
    &:not(:optional) { opacity: 0; }
    &.is-show { display: table-row; animation: view-item-on .3s ease-out .3s forwards;
      @at-root {
        @keyframes view-item-on {
          0% { opacity:0; }
          100% { opacity:1; }
        }
      }
    }
  }
}

// Map&Direction
.directions-section { @include block;
  &+& { margin-top:80px; }
  &__title { margin-top:-5px; margin-bottom:9px; font-size:20px; line-height: 1.333; font-weight: $bold; color:$black-body; }
  @media (max-width:$tablet-size){
    &+& { margin-top:40px; }
    &__title { margin-top:-3px; margin-bottom:5px; font-size:15px; }
  }
}
.campus-map { width:100%; height:430px; box-sizing:border-box; border:1px solid #e4eaf0;
  @media (max-width:$tablet-size){ height:0; padding-bottom:48.13%; }
}
.north-gate-map { height:430px; box-sizing:border-box; border:1px solid #e4eaf0; white-space: nowrap;
  &:before { content:''; display: inline-block; vertical-align: middle; height: 100%; }
  &__img { display:inline-block; max-width: 100%; vertical-align: middle; }
  @media (max-width:$tablet-size){ height:auto; padding:25px 5px; }
}
.directions-info { border-top:2px solid #4a4a4a; border-bottom:1px solid #e4eaf0;
  $this: &;
  &__item { display: table-cell; width: 33.3333%; padding:20px 30px 38px; vertical-align: top; box-sizing: border-box; border-width: 0 0 0 1px; border-style: solid; border-color:#e4eaf0;
    &:first-child { border-width:0; }
  }
  &__title { overflow:hidden; font-size:24px; font-weight: $bold; line-height: 62px; color:$black-body; white-space: nowrap;
    &:after { content:''; display: block; width: 78px; height: 62px; float: right; background-image: url("../images/aboutus/directions-icon-sp.png"); background-size: 234px auto; background-repeat: no-repeat; }
    @for $i from 1 through 3 {
      #{$this}__item--nth-#{$i} & {
        &:after { background-position:(-78px * $i)+78 50%; }
      }
    }
  }
  &__content { margin-top:23px; margin-bottom:-4px; }
  &__text { font-size:14px; font-weight: $regular; line-height: 1.57; color:$gray-body;
    &+& { margin-top:7px; }
    &+&--next { margin-top:14px; }
    &--dot { position:relative; padding-left:9px;
      &:before { content:''; display: block; width:3px; height:3px; background-color: $orange; position:absolute; top:10px; left:0; }
    }
  }
  &__link { text-decoration: none; color:inherit; }
  &__table { display: table; }
  &__cell { display: table-cell; width:1000px; }
  &__text-bold { font-weight:$medium; color:$black-body; }
  @media (max-width:$tablet-size){
    &__item { display: block; width: 100%; padding:10px 15px 20px; border-width:1px 0 0; }
    &__title { font-size:15px; line-height: 46px;
      &:after { width: 58px; height: 46px; background-size: 174px auto; }
      @for $i from 1 through 3 {
        #{$this}__item--nth-#{$i} & {
          &:after { background-position:(-58px * $i)+58 50%; }
        }
      }
    }
    &__content { margin-top:6px; margin-bottom:-2px; }
    &+& { margin-top:6px; }
    &__text { font-size:13px; line-height: 1.38;
      &--dot { padding-left:8px;
        &:before { top:7px; }
      }
    }
    &__mobile-block { display:block; margin-bottom:1px; }
  }
}