// accomplishments

.accomplishment-intro { position:relative; text-align: center;
  &:before, &:after { content:''; width:65px; height:170px; display:block; position:absolute; top:58px; background-image: url("../images/accomplishments/wing-sp.png"); }
  &:before { left:0; }
  &:after { right:0; background-position: -65px 0; }
  &__headline { margin-top:-.389em; font-size:36px; line-height: 1.333; font-weight: $regular; color:$black-body; }
  &__summary { margin-top:1.44em; font-size:18px; line-height: 1.778; font-weight: $regular; color:$gray-body;
    &--next { margin-top:0; }
  }
  @media (max-width:$tablet-size){
    &:before, &:after { display:none; }
    &__headline { font-size:18px; }
    &__summary { margin-top:1.154em; font-size:13px; line-height: 1.384;
      &--next { margin-top:.57em; }
    }
  }
}

.reuters-ranking { margin-top:120px;
  $this:&;
  &__header { margin-bottom:10px; font-size:0; }
  &__logo { display: inline-block; width: 295px; vertical-align: bottom; text-align: center;
    &-img { width:111px; height:auto; }
  }
  &__copy { display: inline-block; width: 945px; vertical-align: bottom; font-size:14px; text-align: right; font-weight: $medium; line-height: 1.2; color:$black-body; }
  &__table { display:table; width:100%; table-layout:fixed; border-top:2px solid #4a4a4a; }
  &__row { display:table-row; }
  &__item { box-sizing: border-box;
    &--korea { margin-top:-1px;
      #{$this}__cell { height:70px; border-width:4px 0 4px 0; border-style: solid; border-color:$orange; font-size:24px; font-weight: $bold; color:$black-body;
        &:first-child { border-width:4px 0 4px 4px; }
        &:last-child { border-width:4px 4px 4px 0; }
      }
      &:after { content:''; display: block; height:0; border-bottom:10px solid #e0e0e0; }
    }
  }
  &__cell { display:table-cell; height:60px; vertical-align: middle; text-align: center; font-size:16px; line-height: 1.385; font-weight: $regular; color:$gray-body; box-sizing: border-box; border-bottom:1px solid #dbdee4;
    &--nth-1 { width:295px; }
    &--nth-2 { width:650px; }
    &--nth-3 { width:295px; }
  }
  @media (max-width:$tablet-size){ margin-top:40px;
    &__header { margin-bottom:7px; }
    &__logo { width: 100%; margin-bottom:12px;
      &-img { width:152px; }
    }
    &__copy { width:auto; text-align: left; font-size:12px; }
    &__item { height:auto; display:table; width:100%;
      &--korea { border-bottom:5px solid #e0e0e0;
        #{$this}__cell { height:auto; padding-top:14px; padding-bottom:15px; font-size:14px; line-height: 1.357; }
      }
    }
    &__cell { height:42px; padding:11px 5px; font-size:13px;
      &--nth-1 { width:60px; }
      &--nth-2 { width:auto; text-align: left; }
      &--nth-3 { width: 20%; }
    }
  }
}

.graduates-list-wrap { font-size:0; }
.graduates-counter { margin-top:-3px; margin-bottom:8px; text-align: right; font-size:0;
  &__item { display:inline-block; font-size:0;
    &+& { margin-left: 23px; }
  }
  &__text { display:inline-block; font-size:14px; font-weight: $regular; color:$black-body; }
  &__number { font-weight: $bold; color:$orange; }
  @media (max-width:$tablet-size){ text-align: left;
    &__text { font-size:12px; }
    &__item {
      &:first-child { margin-right:15px; }
      &+& { margin-left:0; }
    }
  }
}
.graduates-list { display:inline-table; width:50%; text-align: center; border-top:2px solid #4a4a4a;
  &__head, &__body { display:table-row-group; }
  &__row { display:table-row; }
  &__th, &__td { width:50%; display:table-cell; vertical-align: middle; border-bottom:1px solid #e4eaf0; box-sizing: border-box; }
  &__th { height:50px; font-size:14px; color:$black-body; font-weight: $medium; }
  &__td { height:60px; font-size:16px; color:$gray-body; font-weight: $regular;
    &--nationality { padding-left:64px; text-align: left; }
  }
  &__img { height:20px; vertical-align: middle; margin-right:20px; }

  .js-view-item { display: none; transition:opacity ease-in-out .3s; animation: none;
    &:not(:optional) { opacity: 0; }
    &.is-show { display: table-row; animation: view-item-on .3s ease-out .3s forwards;
      @at-root {
        @keyframes view-item-on {
          0% { opacity:0; }
          100% { opacity:1; }
        }
      }
    }
  }
  @media (max-width:$tablet-size){ display:table; width:100%;
    &+& { border-top:0; }
    &--mobile-hide { display:none; }

    &__td { width:62px; height:45px; padding-left:24px; padding-right:24px; font-size:13px;
      &--nationality { width:auto; padding-left:24px; }
    }
    &__img { height:12px; }
  }
}

.research-performance {
  &__list { font-size:0; }
  &__item { display:inline-block; width:33.3333%; text-align: center; vertical-align: top; }
  &__shelf {
    &:after { content:''; display: block; width:230px; height:12px; margin-top:-3px;margin-left:auto;margin-right:auto; background-image: url("../images/accomplishments/shelf-shadow-piece.png"); background-repeat: repeat-x; background-position: 50% bottom; box-shadow: 0 3px 30px rgba(#979797, .15); }
  }
  &__img { border:1px solid #cfcfcf; box-sizing: border-box; box-shadow: 2px 3px 10px rgba(#000, .14); }
  &__writer { margin-top:.96em; font-size:24px; font-weight: $bold; color:$black-body; line-height: normal; }
  &__info { margin-top:.5em; font-size:16px; font-weight: $medium; color:$black-body; line-height: 1.5; }
  &__summary { margin-top:.43em; font-size:14px; font-weight: $regular; color:$gray-body; line-height: 1.571; }
  &__copy { margin-top:.92em; font-size:12px; font-weight: $regular; color:#999; line-height: 1.8; }
  @media (max-width:$tablet-size){
    &__item { width:auto; }
    &__shelf {
      &:after { width:115px; height:6px; margin-top:-2px; background-size: auto 100%; }
    }
    &__img { width: 80px; }
    &__writer { margin-top:1.4375em; font-size:16px; }
    &__info { margin-top:1.076em; font-size:13px; }
    &__summary { margin-top:1em; font-size:13px; }
    &__copy { margin-top:.417em; line-height: 1.5; }

    .research-slide-wrap { position:relative;
      .bx-controls-direction {
        & a.bx-prev, & a.bx-next { position:absolute; top:41px; display:block; width:20px; height:20px; border-style:solid; border-width:0 2px 2px 0; border-color: #e4eaf0; box-sizing: border-box; font-size:0; color:transparent;
          &:hover { border-color: rgba(#4d5b77,.5); }
        }
        & a.bx-prev { left:0; transform: rotate(135deg); }
        & a.bx-next { right:0; transform: rotate(-45deg); }
      }
      //.bx-pager { font-size:0; text-align: center; margin-top:15px; margin-bottom:-5px;
      //  & .bx-pager-item { display:inline-block; }
      //  & .bx-pager-link { display:block; width:7px; height:7px; padding:5px;
      //    &:before { content:''; display:block; width:100%; height:inherit; border-radius: 7px; background-color:rgba(#000, .5); }
      //    &.active:before  { background-color: #e54125; }
      //  }
      //}
    }
  }
}