// Admission

.semester { display:table; table-layout:fixed; width:100%; border-top:2px solid #4a4a4a; border-bottom:1px solid #e4eaf0; counter-reset:semester;
  &__item { display:table-cell; width:1%; box-sizing: border-box; padding:25px; counter-increment: semester;
    &+& { border-left:1px solid #e4eaf0; }
  }
  &__summary { font-size:20px; font-weight: $regular; line-height: 1.6; color:$gray-body;
    &:before { content:counter(semester, decimal-leading-zero); display:block; margin-bottom:.4em; font-size:40px; font-weight: $medium; color:$black-body; line-height: 1; }
  }
  @media only screen and (max-width:$tablet-size){
    &__item { display:block; width:100%; padding:10px;
      &+& { border-left:0; border-top:2px solid #4a4a4a; }
    }
    &__summary { font-size:13px; line-height: 1.385;
      &:before { font-size:25px; }
    }
  }
}

.admission-table { table-layout:fixed; border-top:2px solid #4a4a4a; border-collapse: collapse;
  $this:&;
  &__th, &__td { font-size:14px; box-sizing: border-box; border-width:0 0 1px 1px; border-style:solid; border-color:#e4eaf0; vertical-align: middle;
    &--first { border-left-width:0; }
  }
  &__th { height:60px; font-size:14px; text-align: center; font-weight: $medium; color:$black-body;
    &--fill-blue { background-color: #f2f6fa; }
  }
  &__td { height:50px; font-size:14px; line-height: 1.571; color:$gray-body;
    &--text-center { text-align: center; }
    &--text-bold { font-weight: $medium; }
    &--text-black { color: $black-body; }
    &--fill-gray { background-color: #fafafa; color:$black-body; }
    &--fill-blue { background-color: #f2f6fa; }
  }
  &__list {
    &+& { margin-top:11px; }
    &--dot { padding-left:.571em; position:relative;
      &:before { content:''; width:3px; height:3px; position:absolute; top:.65em; left:0; background-color: $orange; }
    }
  }
  #{$this}--type1 &__td { height:126px; padding:23px 30px; }
  #{$this}--type2 &__td { height:103px; padding:10px 30px; }
  &__mobile-show-row,
  &__mobile-show-th { display: none; }
  @media only screen and (max-width:$tablet-size){
    &--type1, &--type2 {
      &:not(#{$this}__mobile-hide) { display:block; width:100%; }
    }
    &--type1, &--type2 {
      #{$this}__head:not(#{$this}__mobile-hide),
      #{$this}__body:not(#{$this}__mobile-hide),
      #{$this}__row:not(#{$this}__mobile-hide),
      #{$this}__th:not(#{$this}__mobile-hide),
      #{$this}__td:not(#{$this}__mobile-hide) { display:block; width:100%; float:left;
        &:not(:optional) { float:none; }
      }
    }

    #{$this}__th,
    #{$this}__td { height:auto; }
    #{$this}__mobile-next { margin-top:15px; border-top:2px solid #4a4a4a; }
    #{$this}__mobile-th { padding:7px 5px 7px; font-size:13px; line-height: normal; font-weight: $medium; background-color: #f2f6fa; border-left-width:0; color:$black-body; }
    #{$this}__mobile-td { padding:12px 10px 12px; font-size:13px; line-height: 1.385; font-weight: $regular; text-align: left; background-color: #fff; border-left-width:0; color:$gray-body; }
    #{$this}__mobile-td[data-title] {
      &:before { content:attr(data-title); display:block; margin-bottom:.31em; font-size:13px; font-weight: $medium; color:$black-body; }
    }
    &--type3 {
      #{$this}__td { width:33.3333%; }
      #{$this}__th,#{$this}__td { padding:6px 5px 7px; font-size:13px; }
    }

    &__th, &__td {
      &--mobile-first { border-left-width:0; }
    }
    &__mobile-hide { display:none; }
    &__mobile-show-row { display: table-row; }
    &__mobile-show-th { display: table-cell; }
    &__list {
      &+& { margin-top:8px; }
    }
  }
}

.process { display:table; table-layout:fixed; width:100%; margin-top:40px;
  &__item { position:relative; display:table-cell; width:1%; text-align: center; vertical-align: top;
    &:before { content:''; display:block; width:130px; height:130px; margin-left:auto; margin-right:auto; border:1px solid $orange; border-radius: 130px; box-sizing: border-box; background-image: url("../images/admission/process-icon-sp.png"); }
    @for $i from 1 through 6 {
      &--nth-#{$i} {
        &:before { background-position:(-130px * $i)+130 50%; }
      }
    }
    &:after { content:''; display:block; position:absolute; right:-10px; top:120px; width:14px; height:14px; border-width:1px 1px 0 0; border-style:solid; border-color:#888; transform:rotate(45deg); }
    &:last-child:after { display: none; }
  }
  &__title { margin-top:1.75em; font-size:16px; font-weight: $medium; line-height: 1.1; text-transform: uppercase; color:$black-body; }
  &__text { margin-top:.571em; font-size:14px; font-weight: $regular; line-height: 1.571; color:$gray-body; }
  @media only screen and (max-width:$tablet-size){
    margin-top:20px;
    &__item { display:block; width:auto; min-height:65px; text-align: left; font-size: 0; white-space: nowrap;
      &:before { display:inline-block; width:65px; height:65px; border-radius: 65px; background-size: 390px 65px; vertical-align: middle; }
      @for $i from 1 through 6 {
        &--nth-#{$i} {
          &:before { background-position:(-65px * $i)+65 50%; }
        }
      }
      &:after { position:static; top:auto; right:auto; bottom:0; width:7px; height:7px; margin-top:15px; margin-left:28px; margin-bottom:20px; transform:rotate(135deg); }
    }
    &__text-wrap { display:inline-block; vertical-align: middle; padding-left:14px; padding-right:65px; white-space: normal; box-sizing: border-box; }
    &__title { margin-top:0; font-size:13px; }
    &__text { margin-top:.385em; font-size:13px; line-height: 1.385; }
  }
}

.admission-required { margin-top:17px;
  &__item { font-size:14px; color:$gray-body;
    &+& { margin-top:.857em; }
  }
  &__icon { color:#e54125; }
  @media only screen and (max-width:$tablet-size){ margin-top:10px;
    &__item { font-size:12px; }
  }
}