// 연구원 리스트
.professors-list {
  &__th {
    &--nth-1 { width:105px; }
    &--nth-2 { width:295px; }
    &--nth-3 { width:315px; }
    &--nth-4 { width:420px; }
    &--nth-5 { width:105px; }
  }
  @media (max-width:$tablet-size) {
    &__major { margin-top:1.5em; margin-bottom:0.833em; }
    &__name { font-weight: $medium; }
  }
}
.professors-table {
  &__img-wrap { text-align: center; }
  &__id-picture { height:170px; padding:2px; box-sizing:border-box; vertical-align: middle; border:1px solid #e1e1e1; }
  &__research-item { display:inline-block; vertical-align: middle; position:relative; padding-left:8px; margin-right:40px;
    &:before { content:''; width:3px; height:3px; display:block; position:absolute; top:8px; left:0; background-color: $orange; }
  }
  @media (max-width:$tablet-size) {
    &__img-wrap { max-width:100%; font-size:0; padding-top:20px; padding-bottom:11px; border-bottom:0; }
    &__id-picture { height:90px; }
    &__mobile-name-title { padding-top:0; padding-bottom:0; background-color:#fff; border:none; font-size:12px; font-weight: $medium; line-height: normal; text-align: center; color:$black-body; }
    &__mobile-name { padding-top:0; padding-bottom:1em; font-size:18px; font-weight: $medium; line-height: normal; text-align: center; color:$gray-body; }

    &__research-item { display:block; vertical-align: middle; position:relative; padding-left:8px; margin-right:40px; line-height: 1.385;
      &:before { content:''; width:3px; height:3px; display:block; position:absolute; top:8px; left:0; background-color: $orange; }
    }
  }
}
.related-images { font-size:0;
  &__item { display: inline-block; vertical-align: top;
    &+& { margin-left:20px; }
  }
  &__img { max-width:100%; }
  @media (max-width:$tablet-size) { white-space: nowrap; overflow-y:hidden; overflow-x: auto; margin-right:-22px; padding-right:22px;
    &__item { width:130px;
      &+& { margin-left:10px; }
    }
  }
}

.paper-publication-list { word-wrap: break-word; word-break: keep-all;
  $this:&;
  &__th {
    &--nth-1 { width:6.85%; }
    &--nth-2 { width:auto; }
    &--nth-3 { width:20%; }
    &--nth-4 { width:16%; }
    &--nth-5 { width:7.25%; }
    &--nth-6 { width:9.5%; }
  }
  &__td { height:90px; }
  &__mobile-btn-text { display: none; }
  @media (max-width:$tablet-size){
    & [data-title]:before { margin-bottom:.23em; font-size:13px; }
    &__th, &__td { height:auto; font-size:13px; text-align: left; }
    &__th {
      &--nth-2 { width:30%; }
    }
    &__td { margin-top:11px;
      &--mobile-first { margin-top:0; }
    }
    &__mobile-list { padding:12px 10px 15px;
      &+& { border-top:1px solid #e4eaf0; }
    }
    &__mobile-btn-wrap { display:block; margin-top:18px; }
    &__mobile-btn-abstract { display:inline-block; width:100%; height:35px; padding:10px 5px 9px; box-sizing: border-box; font-size:0; text-align: center; border-radius: 5px; border-width:1px; border-style: solid; border-color:$gray-body; background-color: transparent; text-decoration: none; transition: background .3s ease-in-out, border .3s ease-in-out; }
    &__mobile-btn-text { display:inline-block; margin-top:-1px; font-size:13px; line-height: 1; white-space: nowrap; font-weight: $bold; color:$gray-body; text-transform: uppercase; vertical-align: middle; }
    &__img-abstract--mobile { width:12px; height:auto; vertical-align: middle; margin-right:5px; }
  }
}

// Division Technology
.division-section-full { margin-bottom:120px; padding:70px 0; background-size: auto 100%; background-position: 50% 0; background-repeat: no-repeat;
  &--nano-professor { background-image: url("../images/faculty-major/nano-professor-bg.jpg"); }
  &--biomedical-professor { background-image: url("../images/faculty-major/biomedical-professor-bg.jpg"); }
  &--energy-professor { background-image: url("../images/faculty-major/energy-professor-bg.jpg"); }
  @media (max-width:$tablet-size){ margin-bottom:40px; padding-top:30px; padding-bottom:0; background-size: auto 300px; }
}

.professor-intro {
  &__item { display:table-cell; vertical-align: middle; }
  &__img-wrap { width:420px; line-height: 0; text-align: center; box-shadow: 0 0 30px rgba(#000, .3); }
  &__img { max-width:100%; }
  &__text-box { position:relative; z-index:1; margin-left:-105px; padding:60px 40px; background-color: #fff; box-shadow: 0 0 30px rgba(#000, .3); }
  &__title { margin-top:-0.3em; margin-bottom:1.067em; margin-left:-1px; font-size:30px; line-height: 1.4; font-weight: $bold; color:$black-body; }
  &__text { font-size:16px; line-height: 1.375; font-weight: $regular; color:$gray-body; }
  @media (max-width:$tablet-size){
    &__item { display:block; }
    &__img-wrap { width:210px; margin:0 auto -30px; position:relative; z-index:2; box-shadow: 0 0 20px rgba(#000, .5); }
    &__text-box { margin-left:auto; padding:60px 12px 14px; box-shadow: 0 0 20px rgba(#000, .3); }
    &__title { margin-left:0; margin-bottom:.93em; font-size:15px; text-align: center; }
    &__text { font-size:13px; }
  }
}

.concentration { margin:0 -10px;
  &__item { display: table-cell; width: 400px; height: 75px; vertical-align: top; padding: 0 10px; }
  &__box { display: inline-block; width: 100%; height:100%; padding:5px; box-sizing: border-box; white-space: nowrap; text-align: center; font-size: 0; background-color: #f4f7f8;
    &:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
  }
  &__text { display: inline-block; vertical-align: middle; white-space: normal; word-wrap: break-word; word-break: keep-all; font-size:16px; font-weight: $medium; line-height:1.375; color:$black-body; }
  @media (max-width:$tablet-size){ margin-left:0; margin-right: 0;
    &__item { display: block; width: 100%; height: auto; padding-left:0; padding-right:0;
      &+& { margin-top: 5px; }
    }
    &__box { padding-top:11px; padding-bottom:11px;
      &:before { display:none; }
    }
    &__text { font-size:13px; }
  }
}

.issues { font-size:0; margin:0 -10px;
  &__item { display: inline-block; width: 33.33%; box-sizing: border-box; vertical-align: top; padding:0 10px; }
  &__img { max-width: 100%; box-sizing: border-box; border:1px solid #e4eaf0; }
  &__text { margin-top:1.1875em; font-size: 16px; font-weight: $regular; line-height: 1.5; color: $gray-body; }
  @media (max-width:$tablet-size){
    &__item { display:block; width:auto; padding-left:0; padding-right:0;
      &+& { margin-top:27px; }
    }
    &__text { margin-top:.92em; font-size: 13px; line-height: 1.385; }
  }
}