// Benefits
.student-benefits { border-top:2px solid #4a4a4a;
  $this:&;
  &__item { overflow:hidden; padding:50px 45px 20px; font-size: 0; border-bottom:1px solid #e4eaf0;
    &--nth-1 {
      #{$this}__title-area { margin-right:45px; }
    }
    &--nth-2 { padding-bottom:67px; }
    &--nth-3 {
      #{$this}__title-area { margin-right:20px; }
    }
  }
  &__img-wrap {
    &--right { float:right; }
    &--left { float:left; margin-right:45px;
      &+#{$this}__text-wrap #{$this}__text-area { float:left; }
    }
  }
  &__img { max-width:100%; }
  &__title-area { font-size:0; padding-bottom:20px; white-space: nowrap; border-bottom:1px solid #c6d0db; }
  &__icon { display:inline-block; width:76px; height:76px; border-radius: 76px; text-align: center; background-color: $orange; vertical-align: middle;
    &:before { content:''; display:inline-block; width:52px; height:inherit; background-image: url("../images/schoollife/student-benefits-icon-sp.png"); background-repeat: no-repeat; }
  }
  @for $i from 1 through 3 {
    &__item--nth-#{$i} {
      #{$this}__icon:before { background-position:(-52px * $i)+52 50%; }
    }
  }
  &__title { display:inline-block; vertical-align: middle; white-space: normal; margin-left:15px; font-size:30px; font-weight: $bold; line-height: 1.13; color:$black-body; }
  &__text-area { padding-top:30px; }
  &__text { position:relative; padding-left:.571em; margin-top:-.36em; font-size:14px; line-height: 1.571; font-weight: $regular; color:$gray-body;
    &:before { content:''; display:block; width:3px; height:3px; position:absolute; top:.65em; left:0; background-color: $orange; }
    &--list {
      &+& { margin-top:.64em; }
    }
  }
  @media only screen and (max-width:$tablet-size){
    &__item { padding:25px 10px;
      &--nth-1, &--nth-3 { #{$this}__title-area { margin-right: 0; } }
      &--nth-3 { padding-bottom:0; border-bottom:0; }
    }
    &__text { font-size:13px; line-height: 1.385; }
    &__img-wrap { float:none; margin-right:0; text-align: center; padding-left:25px; padding-right:25px; }
    &__text-wrap { float:none; margin-top:25px; }
    &__text-area { float:none; }
    &__title-area { padding-bottom:0; border-bottom:0; }
    &__icon { width:43px; height:43px;
      &:before { width:26px; background-size: 78px auto; }
    }
    @for $i from 1 through 3 {
      &__item--nth-#{$i} {
        #{$this}__icon:before { background-position:(-26px * $i)+26 50%; }
      }
    }
    &__title { margin-left:7px; font-size:18px; }
    &__text-area { padding-top:15px; }
  }
}

.alumni-headline { margin-top: -.389em;font-size: 36px;line-height: 1.333;font-weight: $regular;text-align:center;color: $black-body;
  @media only screen and (max-width:$tablet-size){ padding-left:12px; padding-right:12px; font-size:18px; }
}
.partnership { width:100%; margin-top:110px; box-sizing: border-box;
  $this:&;
  &__list { margin-top:-6px; font-size:0;
    &:before { content: '';display: block;height: 50px; }
  }
  &__item { position:relative; display:inline-block; width:400px; height:245px; padding:0 40px; vertical-align: top; text-align: center; box-sizing: border-box; background-color: #fff; border:1px solid #e4eaf0;
    &+& { margin-left:20px; }
    &:before { content:''; display:block; width:100px; height:100px; margin-top:-50px; margin-left:auto; margin-right:auto; margin-bottom:33px; border-radius: 100px; background-color: $orange; background-image: url("../images/schoollife/alumni-benefits-icon-sp.png"); background-repeat: no-repeat;
    }
    @for $i from 1 through 3 {
      &--nth-#{$i} {
        &:before { background-position:(-100px * $i)+100 50%; }
      }
    }
  }
  &__title { font-size:24px; line-height: 1.25; font-weight: $bold; color:$black-body; }
  @media (max-width:$tablet-size){ margin-top:60px;
    &__list { margin-top:-3px; overflow: hidden;
      &:before { height: 25px; }
    }
    &__item { height:auto; padding:0 15px 21px;
      &+& { margin-left:0; }
      &:before { width:50px; height:50px; margin-top:-25px; margin-bottom:17px; border-radius: 50px; background-size: 150px 50px; }
      @for $i from 1 through 3 {
        &--nth-#{$i} {
          &:before { background-position:(-50px * $i)+50px 50%; }
        }
      }
    }
    &__title { display:table-cell; width: 1%; height:84px; text-align: center; vertical-align: middle; font-size:17px; }
    .partnership-slide-wrap {
      .bx-viewport { width:79% !important; overflow: visible !important; height:auto !important; }
      .bx-pager { font-size:0; text-align: center; margin-top:15px;
        & .bx-pager-item { display:inline-block; }
        & .bx-pager-link { display:block; width:7px; height:7px; padding:5px;
          &:before { content:''; display:block; width:100%; height:inherit; border-radius: 7px; background-color:rgba(#000, .5); }
          &.active:before  { background-color: #e54125; }
        }
      }
    }
  }
}

.alumni-table { display:table; table-layout: fixed; width:100%; margin-top:80px; border-top:2px solid #4a4a4a;
  &__row { display:table-row; }
  &__th, &__td { display:table-cell; width:1%; box-sizing: border-box; vertical-align: middle; border-width:0 0 1px 1px; border-style: solid; border-color: #e4eaf0;
    &--first { border-width:0 0 1px 0; }
  }
  &__th { height:60px; font-size:16px; text-align: center; font-weight: $medium; color:$black-body; background-color: #f2f6fa; }
  &__th--mobile-show { display:none; }
  &__td { height:96px; padding:25px 20px; background-color: #fff; vertical-align: top; }
  &__text { font-size:14px; font-weight: $regular; line-height: 1.571; color:$gray-body;
    &--dot { padding-left:.571em; position:relative;
      &:before { content:''; width:3px; height:3px; position:absolute; top:.65em; left:0; background-color: $orange; }
    }
  }
  @media (max-width:$tablet-size){ display:block; margin-top:35px;
    &__row { display:block; }
    &__row--mobile-hide { display: none; }
    &__th, &__td { display:block; width:100%; border-width:0 0 1px 0; }
    &__th--mobile-show { display:block; height:auto; padding-top:8px; padding-bottom:8px; font-size:13px; line-height: normal; }
    &__td { height:auto; padding:11px 10px; line-height: normal; }
    &__text { font-size:13px; line-height: 1.384; }
  }
}


// gallery
.gallery-board { padding-top:30px; padding-bottom:36px; border-top:2px solid #4a4a4a; border-bottom:1px solid #e4eaf0;
  &:before { content:''; display: block; margin-top:-38px; }
  &__list { margin-left:-10px; margin-right:-10px; font-size:0; }
  &__item { display:inline-block; width:25%; box-sizing: border-box; padding:0 10px; margin-top:38px; vertical-align: top; }
  &__link { text-decoration: none; }
  &__img-wrap { width:100%; height:0; padding-bottom:72.88%; position:relative; overflow: hidden; }
  &__img { width:100%; position:absolute; top:0; left:0; right:0; }
  &__title { margin-top:1em; min-height:1.333em*2;height:1.333em*2; font-size:18px; font-weight: $medium; line-height: 1.333; color:$black-body; @include line-clamp(2, 1.333
  ); overflow: hidden; }
  &__date { margin-top:1.1em; font-size: 14px; font-weight: $regular; color:$gray-body; line-height: 1.1; white-space: nowrap; }
  &__no-results { margin-top:40px; text-align: center; font-size:14px; }
  @media only screen and (max-width:$tablet-size){ padding-top:15px; padding-bottom:18px;
    &:before { margin-top:-18px; }
    &__list { margin-left:-7px; margin-right:-7px; }
    &__item { width:50%; padding:0 7px; margin-top:18px; }
    &__title { min-height:1.23em*2;height:1.23em*2; font-size: 13px; line-height: 1.23; }
    &__date { margin-top:.83em; font-size: 12px; }
    &__no-results { margin-top:20px; font-size:13px; }
  }
}
.gallery-board-view { border-top:2px solid #4a4a4a; border-bottom:1px solid #e4eaf0;
  &__header { min-height:70px; padding-left:20px; padding-right: 20px; font-size:0; box-sizing: border-box; border-bottom:1px solid #e4eaf0;
    &:before { content: '';display: inline-block;min-height: inherit;vertical-align: middle; }
  }
  &__title { display: inline-block; width: 90%; vertical-align: middle; padding-top:10px; padding-bottom:10px; font-size:18px; font-weight: $bold; line-height: 1.286; color:$black-body; }
  &__date { display: inline-block; width: 10%; vertical-align: middle; text-align: right; font-size:14px; font-weight: $regular; line-height: 1.1; color:$gray-body; }
  &__body { padding:40px 20px; box-sizing: border-box; }
  &__article {
    img { max-width:100%; }
    p { margin-top:0; margin-bottom:0; }
  }
  @media only screen and (max-width:$tablet-size){
    &__header { min-height:auto; padding-top:11px; padding-left:10px; padding-right:10px; padding-bottom:13px; }
    &__title { width:100%; font-size:14px; padding-top:0; padding-bottom:0; }
    &__date { width:100%; margin-top:1em; text-align: left; font-size:12px; }
    &__body { padding:20px 10px; }
  }
}