<% let base = locals.entry.base || 'Default title'; %>
<div class="footer-family">
  <%
    for (var item in base.family) {
      var family = base.family[item];
      var i = Object.keys(base.family).indexOf(item);
  %>
  <div class="footer-family__item nth-<%- i+1 %>">
    <a href="<%- family.link %>" target="_blank" class="footer-family__link"><img src="../../images/layout/<%- family.src %>" alt="" class="footer-family__img"></a>
  </div>
  <% } %>
</div>
<div class="site-footer">
  <address class="footer-address">
    <div class="footer-address__item footer-address__item--float-none"><%- base.address[0] %></div>
    <div class="footer-address__item footer-address__item--mobile-clear footer-address__item--mobile-inline-block footer-address__item--mobile-line"><span class="footer-address__highlight">Tel. </span><a href="tel:<%- base.tel.admission[0] %>" class="footer-address__link"><span class="footer-address__item--mobile-show"><%- base.tel.admission[0] %></span><span class="only-desktop"><%- base.tel.admission[0] %></span></a></div>
    <div class="footer-address__item footer-address__item--mobile-inline-block"><span class="footer-address__highlight">Fax. </span><%- base.fax %></div>
    <div class="footer-address__item footer-address__item--mobile-clear"><span class="footer-address__highlight">E-mail. </span><a href="mailto:<%- base.mail[0] %>" class="footer-address__link"><%- base.mail[0] %></a></div>
  </address>
  <div class="footer-logo"><a href="../../main/main.html" class="footer-logo__link"><img class="footer-logo__img" src="../../images/layout/footer-logo.png" alt=""></a></div>
  <div class="footer-copyright"><%- base.copyright %></div>
</div>
<!-- //site-footer -->