<% let gnb = locals.require('gnb.json') -%>
<ul class="footer-site-map__depth1-list">
  <% // start depth1 for, if
    for (var depth1 in gnb) {
      if (gnb[depth1].hasOwnProperty('view')) {
        var pageLocation = (depth1 == locals.blocks.page) ? 'active' : ''
        var depth2 = gnb[depth1].hasOwnProperty('children') && (Object.keys(gnb[depth1].children).length > 0)
        if (depth2) { 
          var children = gnb[depth1].children;
          var subLink = (children[Object.keys(children)[0]].link == '') ? children[Object.keys(children)[0]].children[Object.keys(children[Object.keys(children)[0]].children)[0]].link : children[Object.keys(children)[0]].link
          var link = (gnb[depth1].link == '') ? subLink : gnb[depth1].link
        } else { 
          var link = gnb[depth1].link
        }
        var childrenType = (depth2) ? '' : 'child-none';
    -%>
    <li class="footer-site-map__depth1-item <%- pageLocation %> <%- childrenType %>">
      <a href="../<%- depth1%>/<%- link %>.html" class="footer-site-map__depth1-link"><%- gnb[depth1].title.en %></a>
      <% // start depth2 if
        if (depth2) {
      -%>
        <ul class="footer-site-map__depth2-list">
          <% // start depth2 for, if
            for (var depth2 in children) {
              if (children[depth2].hasOwnProperty('view')) {
                var subLocation = (depth2 == locals.blocks.sub) ? 'active' : ''
                var link2 = (children[depth2].link == '') ? children[depth2].children[Object.keys(children[depth2].children)[0]].link : children[depth2].link
          -%>
          <li class="footer-site-map__depth2-item <%- subLocation %>"><a href="../<%- depth1%>/<%- link2 %>.html" class="footer-site-map__depth2-link"><%- depth2 %></a></li>
          <% // end depth2 for, if
              }
            }
          -%>
        </ul>
      <% // end depth2 if
        }
      -%>
    </li>
  <% // end depth1 for, if
      }
    }
  -%>
</ul>
<div class="footer-site-map__dimmed"></div>