<% let gnb = locals.require('gnb.json') -%>
<ul class="site-gnb__depth1-list">
  <% // start depth1 for, if
    for (var depth1 in gnb) {
      if (gnb[depth1].hasOwnProperty('view')) {
        var pageLocation = (depth1 == locals.blocks.page) ? 'active' : ''
        var depth2 = gnb[depth1].hasOwnProperty('children') && (Object.keys(gnb[depth1].children).length > 0)
        var i = Object.keys(gnb).indexOf(depth1);
        if (depth2) { 
          var children = gnb[depth1].children;
          var subLink = (children[Object.keys(children)[0]].link == '') ? children[Object.keys(children)[0]].children[Object.keys(children[Object.keys(children)[0]].children)[0]].link : children[Object.keys(children)[0]].link
          var link = (gnb[depth1].link == '') ? subLink : gnb[depth1].link
        } else { 
          var link = gnb[depth1].link
        }
        // var childrenType = (depth2) ? '' : 'child-none';
    -%>
    <li class="site-gnb__depth1-item nth-<%- i %> <%- pageLocation %>">
      <a href="../<%- depth1%>/<%- link %>.html" class="site-gnb__depth1-link"><%- gnb[depth1].title.en %></a>
        <ul class="site-gnb__depth2-list">
          <% // start depth2 for, if
            for (var depth2 in children) {
              if (children[depth2].hasOwnProperty('view')) {
                var subLocation = (depth2 == locals.blocks.sub) ? 'active' : ''
                var link2 = (children[depth2].link == '') ? children[depth2].children[Object.keys(children[depth2].children)[0]].link : children[depth2].link
                var j = Object.keys(children).indexOf(depth2);
          -%>
          <li class="site-gnb__depth2-item nth-<%- j+1 %> <%- subLocation %>">
            <a href="../<%- depth1%>/<%- link2 %>.html" class="site-gnb__depth2-link"><%- depth2 %>
              <%
              if (children[depth2].hasOwnProperty('description')) {
                var description = children[depth2].description
              description.forEach(function (item) {
              -%>
              <div class="site-gnb__description"><%- item %></div>
              <%
                })
              }
              -%>
            </a>
          </li>
          <% // end depth2 for, if
              }
            }
          -%>
        </ul>
    </li>
    <% // end depth1 for, if
      }
    }
    -%>
</ul>
<div class="site-gnb__dimmed"></div>