<% let base = locals.entry.base || 'Default title'; %>
<div class="site-header">
  <div class="mobile-header">
    <button type="button" class="mobile-button-open" disabled><span class="mobile-button-open__bread"></span>mobile menu open</button>
    <h1 class="top-logo">
      <a href="../main/main.html" class="top-logo__link">
        <img src="../../images/layout/top-logo.png" alt="<%- base.name %>" class="top-logo__img top-logo__img--normal">
        <img src="../../images/layout/top-logo-b.png" alt="<%- base.name %>" class="top-logo__img top-logo__img--black">
      </a>
    </h1>
  </div>
  <!-- //mobile-header -->
  <div class="mobile-menu">
    <div class="mobile-menu__header">
      <h1 class="mobile-menu__logo">
        <a href="../main/main.html" class="top-logo__link"><img src="../../images/layout/top-logo-w.png" alt="<%- base.name %>" class="top-logo__img"></a>
      </h1>
    </div>
    <div class="site-gnb">
      <h2 class="site-gnb__tit">GNB</h2>
      <%- locals.widget('_gnb.ejs') %>
    </div>
    <!-- //site-gnb -->
    <button type="button" class="mobile-button-close" disabled>mobile menu close</button>
  </div>
  <!-- //mobile-menu -->
</div>

<div class="site-map-btn only-desktop"><span>전체메뉴 보기</span></div>
<div class="site-map only-desktop">
  <h2 class="site-map__tit"><span>전체메뉴</span></h2>
  <%- locals.widget('_site-map.ejs') %>
</div>
<!-- //site-header -->