<% let gnb = locals.require('gnb.json') -%>

<div class="u-page-header">
  <div class="u-page-visual" data-page="<%- gnb[locals.blocks.page].title.en %>"></div>
</div>
<div class="u-page-breadcrumb">
  <div class="u-page-breadcrumb__wrap">
    <div class="u-page-breadcrumb__item u-page-breadcrumb__item--home u-page-breadcrumb__item--mobile-hide">
      <a href="../main/main.html" class="u-page-breadcrumb__link">메인</a>
    </div>
    <%
      var lastItem = (gnb[locals.blocks.page].children && locals.blocks.page != "accomplishments") ? 'u-page-breadcrumb__item--mobile-hide' : 'u-page-breadcrumb__item--last'
    %>
    <div class="u-page-breadcrumb__item <%- lastItem %>">
      <a href="#this" class="u-page-breadcrumb__link"><%- gnb[locals.blocks.page].title.en %></a>
      <ul class="u-page-list u-page-list--depth1">
        <%
        for (var depth1 in gnb) {
          if (gnb[depth1].hasOwnProperty('view')) {
            var pageLocation = (depth1 == locals.blocks.page) ? 'active' : ''
            var depth2 = gnb[depth1].hasOwnProperty('children') && (Object.keys(gnb[depth1].children).length > 0)
            if(depth2){
              var children = gnb[depth1].children;
              var subLink = (children[Object.keys(children)[0]].link == '') ? children[Object.keys(children)[0]].children[Object.keys(children[Object.keys(children)[0]].children)[0]].link : children[Object.keys(children)[0]].link
              var link = (gnb[depth1].link == '') ? subLink : gnb[depth1].link
            } else {
              var link = gnb[depth1].link
            }
        -%>
        <li class="u-page-list__item <%- pageLocation %>"><a href="../<%- depth1%>/<%- link %>.html" class="u-page-list__link"><%- gnb[depth1].title.en %></a></li>
        <%
          } // end if
        } // end for
        -%>
      </ul>
    </div>
    <%
      var children = gnb[locals.blocks.page].children;
      if(children && locals.blocks.page != "accomplishments"){
    %>
    <div class="u-page-breadcrumb__item u-page-breadcrumb__item--last">
      <a href="#this" class="u-page-breadcrumb__link"><%- locals.blocks.sub %></a>
      <ul class="u-page-list u-page-list--depth2">
        <%
          for (var depth2 in children) {
            if (children[depth2].hasOwnProperty('view')) {
              var subLocation = (depth2 == locals.blocks.sub) ? 'active' : ''
              var link2 = (children[depth2].link == '') ? children[depth2].children[Object.keys(children[depth2].children)[0]].link : children[depth2].link
        -%>
        <li class="u-page-list__item <%- subLocation %>"><a href="../<%- locals.blocks.page %>/<%- link2 %>.html" class="u-page-list__link"><%- depth2 %></a></li>
        <%
          } //end if
        } // end for
        -%>
      </ul>
    </div>
    <% } %>
  </div>
  <div class="u-page-breadcrumb__shadow"></div>
</div>