<% let { list = {} } = locals.entry; -%>
<div class="u-tab" data-drop-down="true">
  <ul class="u-tab__list js-list">
    <%
    for (var depth3 in list) {
    if (list[depth3].hasOwnProperty('view')) {
    var subLocation = (depth3 == locals.blocks.tab) ? 'is-on' : ''
    -%>
    <li class="u-tab__item <%- subLocation %>"><a href="<%- list[depth3].link %>.html" class="u-tab__link"><%- depth3 %></a></li>
    <%
    } //end if
    } // end for
    %>
  </ul>
</div>
<!-- //u-tab -->