<%
let base = locals.require('base.json')
let gnb = locals.require('gnb.json')
var page = 'main'
let sub = ''
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/main.css">','append') %>
<% locals.block('footerScript','<script src="../../libs/bxslider/js/jquery.bxslider.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../libs/nice-select/nice-select.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../js/main.js"></script>','append') %>

<div class="js-section">
  <div class="main-section main-section--visual ">
    <%- locals.widget('main/_visual.ejs') %>
  </div>
  <div class="main-section main-section--notice">
    <%- locals.widget('main/_notice.ejs') %>
  </div>
  <div class="main-section main-section--news">
    <%- locals.widget('main/_news.ejs') %>
  </div>
  <div class="main-section main-section--major">
    <%- locals.widget('main/_major.ejs') %>
  </div>
  <div class="main-section main-section--gallery">
    <%- locals.widget('main/_gallery.ejs') %>
  </div>
  <!-- //main-section -->
</div>