<%
let gnb = locals.require('gnb.json')
let base = locals.require('base.json')
var page = 'aboutus'
let sub = 'Map & Direction'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../js/aboutus.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../js/photo-viewer.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="directions-section">
    <div class="directions-section__title">Locate Kist's Main campus on Google Maps</div>
    <div class="campus-map">
      Google Maps Area
    </div>
  </div>
  <div class="directions-section">
    <div class="directions-section__title">Directions to KIST's North Gate Entrance</div>
    <div class="north-gate-map u-zoom-box-mobile">
      <img src="../../images/aboutus/north-gate-map.jpg" alt="" class="u-zoom-box-mobile__img north-gate-map__img">
      <a href="#none" onclick="openPhoto('.north-gate-map .u-zoom-box-mobile__img');" class="u-zoom-box-mobile__link"></a>
    </div>
  </div>
  <div class="directions-section">
    <div class="directions-section__title">Address and Telephone Number</div>
    <div class="directions-info">
      <div class="directions-info__item directions-info__item--nth-1">
        <div class="directions-info__title">KIST Address</div>
        <div class="directions-info__content">
          <div class="directions-info__text directions-info__text--dot"><%- base.address[0] %></div>
          <div class="directions-info__text directions-info__text--dot directions-info__text--next font-ko"><%- base.address[1] %></div>
        </div>
      </div>
      <div class="directions-info__item directions-info__item--nth-2">
        <div class="directions-info__title">Telephone</div>
        <div class="directions-info__content">
          <div class="directions-info__text directions-info__text--dot directions-info__table"><strong class="directions-info__cell directions-info__mobile-block directions-info__text-bold">Admission & cooperation</strong> +<%- base.tel.admission[0] %></div>
          <div class="directions-info__text directions-info__text--dot directions-info__table"><strong class="directions-info__cell directions-info__mobile-block directions-info__text-bold">Faculty & Major</strong> +<%- base.tel.faculty[0] %></div>
          <div class="directions-info__text directions-info__text--dot directions-info__table"><strong class="directions-info__cell directions-info__mobile-block directions-info__text-bold">School Life</strong> +<%- base.tel.schoollife[0] %></div>
        </div>
      </div>
      <div class="directions-info__item directions-info__item--nth-3">
        <div class="directions-info__title">E-mail</div>
        <div class="directions-info__content">
          <div class="directions-info__text directions-info__text--dot directions-info__table"><a href="mailto:<%- base.mail[1] %>" class="directions-info__link"><%- base.mail[1] %></a></div>
          <div class="directions-info__text directions-info__text--dot directions-info__table"><a href="mailto:<%- base.mail[2] %>" class="directions-info__link"><%- base.mail[2] %></a></div>
          <div class="directions-info__text directions-info__text--dot directions-info__table"><a href="mailto:<%- base.mail[3] %>" class="directions-info__link"><%- base.mail[3] %></a></div>
        </div>
      </div>
    </div>
  </div>
</div>