<%
let gnb = locals.require('gnb.json')
var page = 'aboutus'
let sub = 'News'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="u-board-list-header">
    <div class="u-board-list-header__item u-board-list-header__item--right u-board-list-header__item--mobile-full">
      <%- locals.widget('board/_board-search.ejs') %>
    </div>
    <div class="u-board-list-header__item u-board-list-header__item--left">
      <%- locals.widget('board/_board-count.ejs') %>
    </div>
  </div>

  <div class="u-board-list about-board-list">
    <div class="u-board-list__head u-board-list--mobile-hide">
      <div class="u-board-list__row">
        <div class="u-board-list__cell about-board-list__th about-board-list__th--nth-1">No</div>
        <div class="u-board-list__cell about-board-list__th about-board-list__th--nth-2">Subject</div>
        <div class="u-board-list__cell about-board-list__th about-board-list__th--nth-3">Date</div>
        <div class="u-board-list__cell about-board-list__th about-board-list__th--nth-4">Read</div>
      </div>
    </div>

    <!-- 중요 뉴스 상단 고정 : No 영역 tag-fix 삽입 -->
    <div class="u-board-list__body u-board-list--mobile-block">
      <div class="u-board-list__row u-board-list--mobile-block u-board-list--mobile-list2">
        <div class="u-board-list__cell about-board-list__td u-board-list--mobile-block about-board-list__td--tag-wrap u-board-list__cell--center u-board-list--mobile-float-left"><span class="u-board-fix-tag">Notice</span></div>
        <div class="u-board-list__cell about-board-list__td u-board-list--mobile-block">
          <!-- 첨부파일 있음 : u-board-list__link--attachment -->
          <a href="<%- gnb[page].children[sub].children['상세'].link %>.html" class="u-board-list__link u-board-list__link--attachment">The highest level of financial support in Korea is provided to help students focus on their study and research.</a>
          <!-- //첨부파일 있음 -->
        </div>
        <div class="u-board-list__cell about-board-list__td about-board-list__td--date u-board-list__cell--center u-board-list--mobile-block u-board-list__cell--mobile-left">
          <a href="<%- gnb[page].children[sub].children['상세'].link %>.html" class="u-board-list__link">2018.05.01</a>
        </div>
        <div class="u-board-list__cell about-board-list__td u-board-list__cell--center u-board-list--mobile-hide">136</div>
      </div>
    </div>
    <!-- //중요 뉴스 상단 고정 -->

    <div class="u-board-list__body u-board-list--mobile-block">
      <% for(var i=10; i>0; i--){ %>
      <div class="u-board-list__row u-board-list--mobile-block u-board-list--mobile-list2">
        <div class="u-board-list__cell about-board-list__td u-board-list__cell--center u-board-list--mobile-hide"><%- i %></div>
        <div class="u-board-list__cell about-board-list__td u-board-list--mobile-block">
          <% if(i===10){ %>
          <!-- 첨부파일 있음 : u-board-list__link--attachment -->
          <a href="<%- gnb[page].children[sub].children['상세'].link %>.html" class="u-board-list__link u-board-list__link--attachment">The highest level of financial support in Korea is provided to help students focus on their study and research.</a>
          <!-- //첨부파일 있음 -->
          <% } else { %>
          <a href="<%- gnb[page].children[sub].children['상세'].link %>.html" class="u-board-list__link">The highest level of financial support in Korea is provided to help students focus on their study and research. The highest level of financial support in Korea is provided to help students focus on their study and research. The highest level of financial support in Korea is provided to help students focus on their study and research.</a>
          <% } %>
        </div>
        <div class="u-board-list__cell about-board-list__td about-board-list__td--date u-board-list__cell--center u-board-list--mobile-block u-board-list__cell--mobile-left">
          <a href="<%- gnb[page].children[sub].children['상세'].link %>.html" class="u-board-list__link">2018.05.01</a>
        </div>
        <div class="u-board-list__cell about-board-list__td u-board-list__cell--center u-board-list--mobile-hide">136</div>
      </div>
      <% } %>
    </div>
  </div>

  <%- locals.widget('board/_pagination.ejs', {option:'u-pagination--next'}) %>
</div>