<%
let gnb = locals.require('gnb.json')
var page = 'aboutus'
let sub = 'Introduction'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../libs/bxslider/js/jquery.bxslider.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../js/aboutus.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="about-message-title">"Pride, Convergence, Community<br>Radiate the Spirit of Success!"</div>
  <div class="about-message-text">Since 1991, KIST has dedicated itself to educating talented young professionals. KIST School has taken full advantage of KIST's vast experience in the creation and operation of graduate schools. The primary goal of KIST School is to educate future global leaders in S&T research. To do that, we offer three interdisciplinary educational programs backed by more than 50 years of top-notch research and educational experience.</div>
</div>

<div class="kistschool-value">
  <div class="site-content__center">
    <div class="kistschool-value__title">Kist School</div>
    <div class="kistschool-value__list js-kistschool-slide-mobile">
      <div class="kistschool-value__item kistschool-value__item--nth-1 js-kistschool-slide-item">
        <div class="kistschool-value__title2">Participating in National R&D Projects</div>
        <div class="kistschool-value__text">Over 90% of KIST's R&D budget comes from government and institutional programs $236 million (December 2017)</div>
      </div>
      <div class="kistschool-value__item kistschool-value__item--nth-2 js-kistschool-slide-item">
        <div class="kistschool-value__title2">Excellent faculty</div>
        <div class="kistschool-value__text">150 professors selected from among the 600 Ph.D researchers at KIST</div>
      </div>
      <div class="kistschool-value__item kistschool-value__item--nth-3 js-kistschool-slide-item">
        <div class="kistschool-value__title2">Infrastructure of National Research Institute</div>
        <div class="kistschool-value__text">Knowledge/Technology accumulated over 50 years of experience</div>
        <div class="kistschool-value__text">Cutting-edge research equipment/facilities</div>
      </div>
    </div>
  </div>
</div>

<div class="site-content__center">
  <div class="about-kist">
    <div class="about-kist__item about-kist__mobile-full">
      <strong class="about-kist__intro-text">The Korea Institute of Science and Technology (KIST) is</strong><br> the premier multidisciplinary research
      institute in Korea, and its aim is to create a better future by improving the quality of life for everyone.<br><br>
      KIST was established in 1966 as the first government-funded research institute in Korea. The history
      of KIST is the history of Korean development in the aftermath of the devastation caused by the
      Korean War. In 1960, when Korea embarked on its national development plan and laid the foundation
      for a new research institute, it was one of the poorest countries in the world. Now, it boasts the
      world's 11th biggest economy thanks to its advancements in the field of science and technology.<br><br>
      As a result of focusing on frontier and global-agenda research by concentrating on large-scale,
      long-term, interdisciplinary R&D projects to increase Korea's R&D capacities in the field of S&T and
      to nurture promising young talent, in March 2017, KIST was ranked by Reuters as the world's 6th
      most innovative research institution for the second year in a row.
    </div>
    <div class="about-kist__item about-kist__mobile-full">
      Because KIST was founded with assistance from foreign aid, KIST feels it is time to return the favor
      by disseminating the KIST model of science-based official development assistance (ODA) in hopes of
      giving back to the global community.<br><br>
      Change begins with education. KIST offers several unique graduate-level programs to help students,
      both domestic and foreign, gain the knowledge and practical research experience that will equip
      them for success as scientists and engineers in specialized S&T fields. Students at KIST School are
      carefully selected for participation in R&D projects at KIST's research centers—projects that closely
      correspond with the students' respective fields of study. By allowing students to immerse themselves
      in S&T research under the close supervision of their advisors, KIST is fostering a new generation of
      S&T leaders capable of creating a brighter future.
    </div>
  </div>
</div>