<%
let gnb = locals.require('gnb.json')
var page = 'aboutus'
let sub = 'Message from the Dean'
var siteContentClass = 'aboutus-site-content-bg'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('siteContentClass',siteContentClass) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../js/aboutus.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="about-kist message-president">
    <div class="message-president__item message-president__mobile-full message-president__item--img-wrap">
      <img src="../../images/aboutus/dean-img.jpg" alt="" class="message-president__img">
    </div>
    <div class="message-president__item message-president__mobile-full">
      <strong class="message-president__intro-text">Dear prospective KIST School students,</strong><br><span class="message-president__text">KIST has been developing scientific and strategic approaches to urgent issues many countries are currently facing, such as matters pertaining to environmental safety and public health. Such issues are being addressed through cutting-edge new technologies developed at KIST by Ph.D.-level researchers trained from universities all over the world. KIST School's 150 faculty members were selected from among KIST's 600 P.I.s, making them one of the youngest and most adventurous faculties in Korea. Their competitive edge has been amply demonstrated by their innovative outcomes and recently-published
      scientific articles for renowned academic journals, which helped KIST in being ranked by Reuters as the 6th most innovative institute in the world. KIST School provides its students with a bird' s-eye view of current scientific problems, equipping them with the specialized knowledge and expertise needed to address them. Research fields in KIST are categorized to three majors, Bio-Medical Science & Technology, Energy & Environment Technology and Nano & Information Technology.
      KIST's infrastructure and research facilities allow students to stay abreast of cutting-edge technological
      developments, and KIST boasts both an invaluable staff and the latest in high-tech instruments, such as
      the ion beam accelerator, 800 MHz NMR, high resolution TEMs and so on.<br><br>
      In addition to all of this, KIST School often provides full scholarships in order to build strong international
      networks. It maintains the best-balanced graduate program in Korea, with a student/faculty ratio of 2:1
      and a domestic/foreign student ratio of 1:1. International students from dozens of different countries
      are given the opportunity to work with Korean colleagues and enjoy the dynamic culture of Seoul while
      simultaneously influencing and inspiring each other to achieve academic excellence. Although most
      classes at KIST School are conducted in English, we supply a terrific Korean language program so
      that international students can more easily acclimate to Korean culture and remain in touch with KIST
      well after graduation. And although KIST School has made great strides in the area of international
      cooperation, we are always looking for ways to push the envelope even further. Last year, for example,<br class="only-desktop"><br class="only-desktop">
      we initiated the KIST School Internship Program' which will enable us to further expand our cooperative
      networks into Central Asia, Eastern Europe, Southwestern Asia, and beyond.
      We are seeking pioneers from around the world to join us in facing global challenges together. Our goal is to
      make the world a better place—not just for the citizens of any particular country, but for all of humanity.</span>
    </div>
    <div class="signature">
      <div class="signature__name">Dr. Kim, Sang Kyung<br>Dean</div>
      <img src="../../images/aboutus/dean-signature.png" alt="" class="signature__img signature__img--dean">
    </div>
  </div>
</div>