<%
let gnb = locals.require('gnb.json')
var page = 'aboutus'
let sub = 'News'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../js/aboutus.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <%- locals.widget('aboutus/_board-view.ejs', {sub: sub, page: page}) %>
</div>