<%
let gnb = locals.require('gnb.json')
let list = locals.require('aboutus-IC-list.json')
var page = 'aboutus'
let sub = 'Status'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../libs/bxslider/js/jquery.bxslider.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../js/aboutus.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../js/photo-viewer.js"></script>','append') %>

<h1 class="u-page-title u-page-title--mb-0"><%- heading %></h1>
<div class="u-page-summary">We have students from 25 different countries and they are being educated by outstanding professors.<br>The domestic/foreign student ratio is almost 1:1 (as of March. 2018)</div>

<div class="site-content__center">
  <div class="status js-status-slide-mobile">
    <div class="status__item status__item--nth-1 js-status-slide-item">
      <div class="status__box">
        <div class="status__title">Bio-Medical Science &<br>Technology</div>
        <div class="status__detail">
          <div class="status__count status__count--faculty" data-num="57">Faculty</div>
          <div class="status__count status__count--students" data-num="132">Students</div>
        </div>
      </div>
    </div>
    <div class="status__item status__item--nth-2 js-status-slide-item">
      <div class="status__box">
        <div class="status__title">Energy& Environment<br>Technology</div>
        <div class="status__detail">
          <div class="status__count status__count--faculty" data-num="40">Faculty</div>
          <div class="status__count status__count--students" data-num="72">Students</div>
        </div>
      </div>
    </div>
    <div class="status__item status__item--nth-3 js-status-slide-item">
      <div class="status__box">
        <div class="status__title">Nano & Information<br>Technology</div>
        <div class="status__detail">
          <div class="status__count status__count--faculty" data-num="48">Faculty</div>
          <div class="status__count status__count--students" data-num="73">Students</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="u-page-full-bg u-page-full-bg--gray u-page-full-bg--next u-page-full-bg--content-last">
  <h2 class="u-page-title u-page-title--mb-0">International Cooperation</h2>
  <div class="u-page-summary">We have eleven partner countries to foster global leaders and to provide them with the highest quality education which will<br class="only-desktop"> help them build up the capacities of their native countries.</div>

  <div class="site-content__center">
    <div class="status-map">
      <div class="u-zoom-box-mobile">
        <img src="../../images/aboutus/international-cooperation-map.png" alt="" class="u-zoom-box-mobile__img status-map__img">
        <a href="#none" onclick="openPhoto('.status-map .u-zoom-box-mobile__img');" class="u-zoom-box-mobile__link"></a>
      </div>
      <div class="status-map-board-wrap">
        <div class="map-point">
          <div class="map-point__item map-point__item--orange">Countries with MOU</div>
          <div class="map-point__item map-point__item--sky">Countries of Students</div>
        </div>
        <div class="u-board-list status-map-board">
          <div class="u-board-list__head u-board-list--mobile-hide">
            <div class="u-board-list__row">
              <div class="u-board-list__cell status-map-board__th status-map-board__th--nth-1">Year</div>
              <div class="u-board-list__cell status-map-board__th status-map-board__th--nth-2">Subject</div>
              <div class="u-board-list__cell status-map-board__th status-map-board__th--nth-3">Countries</div>
            </div>
          </div>
          <div class="u-board-list__body">
            <%
            list.sort(function (a,b) { return a.year > b.year ? -1 : a.year < b.year ? 1 : 0; })
                    for(var year in list){
              var years = list[year]
              var subject = years.children.reverse()
            %>
            <%
            subject.forEach(function (item){
            %>
            <div class="u-board-list__row status-map-board__row js-view-item">
              <div class="u-board-list__cell status-map-board__cell u-board-list__cell--center"><%- years.year %></div>
              <div class="u-board-list__cell status-map-board__cell" data-countries="<%- item.order %>"><%- item.title %></div>
              <div class="u-board-list__cell status-map-board__cell u-board-list__cell--center u-board-list--mobile-hide"><%- item.order %></div>
            </div>
            <% }) %>
            <% } %>
          </div>
        </div>

        <div class="u-btn-wrap">
          <a href="" class="u-btn js-view-more-btn">View More</a>
        </div>
      </div>
    </div>
  </div>
</div>