<%
let gnb = locals.require('gnb.json')
var page = 'aboutus'
let sub = 'Message from the KIST President'
var siteContentClass = 'aboutus-site-content-bg'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('siteContentClass',siteContentClass) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../js/aboutus.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="about-kist message-president">
    <div class="message-president__item message-president__mobile-full message-president__item--img-wrap">
      <img src="../../images/aboutus/president-img.jpg" alt="" class="message-president__img">
    </div>
    <div class="message-president__item message-president__mobile-full">
      <strong class="message-president__intro-text">Dear students,</strong><br><span class="message-president__text">Welcome to the Korea Institute of Science and Technology (KIST), the cradle of the Korean Science and Technology.<br><br>
      KIST has continually worked to enhance the quality of life for people around the world, and to realize a national economy based on S&T.<br><br>
      KIST was founded in 1966 as Korea's first government-funded research institute. Since then, it has played a leading role in the country's economic development. Many Korean government-funded
      research institutes were modeled after KIST, resulting in KIST setting the standard for national S&T strategists.<br><br>
      In February 2016, KIST celebrated its 50th anniversary. We are now transforming our research model to ensure that the next 50 years are met with even greater success. For example, we shifted our focus to such global issues as aging societies and energy/resource shortages while also pushing the limits of convergence science and open cooperation in order to open up a new scientific frontier.<br><br>
      Given that KIST was established with the help of foreign aid, the time has now come for us to return the favor by disseminating the KIST model to other countries. We believe that S&T will be the primary economic engine for future generations. Hopefully, other countries will utilize it for bettering their own communities and, in turn, the world. For this reason, we support KIST graduates in returning to their native countries and creating new labs with help from KIST in regard to internal funding, scientific cooperation, ODA projects, etc.
      As always, KIST remains devoted to the cultivation of world-class scientists and scientific partnerships.
        Please join us in astonishing the world with our triumphs!</span>
    </div>
    <div class="signature">
      <div class="signature__name">Dr. Lee, Byung-Gwon<br>President</div>
      <img src="../../images/aboutus/president-signature.png" alt="" class="signature__img">
    </div>
  </div>
</div>