// 하위페이지 공통으로 사용되는 스타일 모음

.u-page-full-bg { padding-top:120px; padding-bottom:120px;
  &--next { margin-top:120px; }
  &--content-last { margin-bottom:-150px; padding-bottom:150px; }
  &--gray { background-color: #f4f7f8; }
  @media (max-width:$tablet-size) {
    padding-top: 60px; padding-bottom:60px;
    &--next { margin-top:60px; }
    &--content-last { margin-bottom:-75px; padding-bottom:75px; }
  }
  .u-page-title { margin-top:-.112em; }
}

.u-page-header { @include block; height:360px; position:relative;
  @media (max-width:$tablet-size) { height:160px; }
}

.u-page-visual { width:100%; height:inherit; background-position: 50% 50%;
  &:before { content:attr(data-page); display:inline-block; width:100%; margin-top:186px; text-align: center; font-family: $font-en; font-size:60px; line-height: 1.1; font-weight: 500; color:rgba(#fff, .5); }
  body.aboutus & { background-image: url("../images/page-visual/aboutus-desktop.jpg"); }
  body.schoollife & { background-image: url("../images/page-visual/schoollife-desktop.jpg"); }
  body.faculty-major & { background-image: url("../images/page-visual/faculty-major-desktop.jpg"); }
  body.admission & { background-image: url("../images/page-visual/admission-desktop.jpg"); }
  body.accomplishments & { background-image: url("../images/page-visual/accomplishments-desktop.jpg"); }
  @media (max-width:$tablet-size) { background-size: cover;
    &:before { font-size: 30px; margin-top:84px; }
    body.aboutus & { background-image: url("../images/page-visual/aboutus-mobile.png"); }
    body.schoollife & { background-image: url("../images/page-visual/schoollife-mobile.png"); }
    body.faculty-major & { background-image: url("../images/page-visual/faculty-major-mobile.png"); }
    body.admission & { background-image: url("../images/page-visual/admission-mobile.png"); }
    body.accomplishments & { background-image: url("../images/page-visual/accomplishments-mobile.png"); }
  }
}

.u-page-breadcrumb { position:relative; width:100%; height:45px; max-width:$site-width; margin:0 auto;
  $this:&;
  &:before { content:''; display:block; position:absolute; left:-1000px; right:-1000px; top:0; height:inherit; background-color: #fff; border-bottom:1px solid #e2e2e2; box-sizing: border-box; }
  &__wrap { display:table; table-layout: fixed; height:inherit; }
  &__item { display:table-cell; width: 240px; vertical-align: middle; position:relative; height:inherit; color:#767676; font-size:14px; box-sizing: border-box; border-right:1px solid #e2e2e2;
    &--home { width:45px; font-size:0;
      #{$this}__link { display:inline-block; width:45px; height:45px; background-image: url("../images/icon/icon-home.png"); background-repeat: no-repeat; background-size: 16px 14px; background-position: 50% 50%; }
    }
    &:first-child { border-left:1px solid #e2e2e2; }
    &--last { width:358px; }
    &--home + &--last { width:240px; }
    &:not(:first-child) #{$this}__link { position:relative; display:inline-block; width:100%; height:inherit; line-height: 45px; padding:0 27px 0 20px; font-size:inherit; box-sizing: border-box; color:inherit; text-decoration: none; white-space: nowrap;
      &:after { content:''; display:block; width:0; height:0; position:absolute; right:20px; top:22px; border-right:4px solid transparent; border-top:4px solid #707686; border-left:4px solid transparent; }
    }
    &:not(:first-child).is-over #{$this}__link {
      &:after { transform: rotate(-180deg); }
    }
  }
  &__shadow { display: none; }
  @media (max-width:$tablet-size){ height:50px;
    &__wrap { width:100%; table-layout: auto; }
    &__item { border-right:0; z-index: 101; color:$black-body;
      &--home { width: 1%;
        #{$this}__link { width:40px; height:40px; background-size: 14px 13px; }
      }
      &:not(:first-child) #{$this}__link { font-size:13px; line-height: 50px; padding:0 30px 0 12px;
        &:after { width:10px; height:10px; border-right:1px solid #707686; border-top:none; border-left:none; border-bottom:1px solid #707686; transform: rotate(45deg); right:14px; top:17px; }
      }
      &:not(:first-child).is-over #{$this}__link {
        &:after { top:22px; transform: rotate(-135deg); }
      }
      &--mobile-hide { display:none; }
    }
    &__shadow { position: relative; height:1000em; background-color: rgba(0,0,0,.8); z-index:100; }
  }
}
.u-page-list { z-index:11; margin:-45px 0 0; padding:0; width:auto; list-style: none; max-height:0; overflow: hidden; position:absolute; left:-1px; right:-1px; box-sizing: border-box;
  $this:&;
  &:before { content:''; display:block; height:45px; }
  .is-over & { max-height:500px; transition:max-height ease-out .3s; }
  &__item { box-sizing: border-box; border-width:0 1px 1px; border-style:solid; border-color:#e2e2e2; background-color:#fff; color:#767676; transition:color .1s ease-in-out;
    &:first-child { border-top:0; }
    &:focus,
    &:hover,
    &.active { background-color:$orange; color:#fff; }
  }
  &__link { display:inline-block; width:100%; box-sizing: border-box; padding:13px 14px 13px; font-size:14px; color:inherit; text-decoration: none; }
  @media (max-width:$tablet-size){ margin-top:-50px;
    &:before { height:50px; }
    &__item { padding-left:12px; padding-right:12px; border-width:0;
      &:first-child {
        #{$this}__link { border-color:#fff; }
      }
      &:last-child { border-width:0 0 1px; border-color:#e1e4e7; }
      &:focus,
      &:hover,
      &.active { background-color:#fff; color:$orange; }
    }
    &__link { padding:11px 15px 12px; font-size:13px; box-sizing: border-box; border-width:1px 0 0; border-style:solid; border-color:#e2e2e2; }
  }
}

// title, text

// 서브페이지 공통 title
.u-page-title { margin:0 0 1.944em; font-size:36px; line-height: 1; font-weight: $bold; color:$black-body; text-align: center;
  &--mb-0 { margin-bottom:0; }
  &--next { margin-top:120px; }
  &--sub-title { margin-top:3.223em; }
  @media (max-width:$tablet-size){ padding-left:12px; padding-right:12px; font-size:18px; line-height: 1.2; box-sizing: border-box;
    &--next { margin-top:60px; }
  }
}
.u-page-summary { margin-top:1.444em; text-align:center; font-size:18px; line-height:1.778; font-weight: $regular; color:$gray-body;
  @media (max-width:$tablet-size){ padding-left:12px; padding-right:12px; margin-top:1em; font-size:13px; line-height: 1.385; }
}

// buttons
.u-btn-wrap { position:relative; margin-top:40px; text-align: center;
  @media (max-width:$tablet-size){ margin-top:20px; }
}
.u-btn { display:inline-block; min-width:130px; height:40px; padding:10px 5px 9px; box-sizing: border-box; font-size:14px; white-space: nowrap; border-radius: 5px; border-width:1px; border-style: solid; border-color:$gray-body; font-weight: $bold; color:$gray-body; background-color: transparent; text-decoration: none; text-transform: uppercase;
  transition: background .3s ease-in-out, border .3s ease-in-out;
  &:hover { background-color: rgba(34, 34, 34, 0.1); }
  @media (max-width:$tablet-size){ min-width:105px; height:35px; padding:8px 5px 9px; font-size:13px; }
}

// 게시판
.u-board-list-header { margin-bottom:8px; white-space: nowrap; font-size:0; overflow: hidden;
  &--next { margin-top:66px; }
  &__item { display:table-cell; width: 1%; vertical-align: bottom;
    &--left { float:left; width:auto; margin-top:22px; }
    &--right { float:right; width:auto; }
  }
  @media (max-width:$tablet-size){ margin-bottom:4px;
    &--next { margin-top:33px; }
    &__item {
      &--left { margin-top:-3px; }
      &--mobile-full { display:block; width:100%; margin-bottom:25px; }
    }
  }
}
.u-board-list-counter { font-size:14px; font-weight: $regular; color:$black-body;
  &__number { font-weight:$bold; color:$orange; }
  @media (max-width:$tablet-size){ font-size:11px; }
}
.u-board-search { font-size:0;
  fieldset { margin: 0;padding: 0;border: none; }
  legend { overflow: hidden;position: absolute;width: 0;height: 0; }
  &__item { display: inline-block; vertical-align: top; }
  &__select-wrap { position:relative; margin-right:-1px;
    &:not(:optional):after { content:''; display:block; position: absolute; right:18px; top:-3px; bottom:0; margin-top:auto; margin-bottom:auto; width:6px; height:6px; border-width:0 1px 1px 0; border-style: solid; border-color: $gray-body; transform: rotate(45deg);
    }
  }
  &__select { box-sizing:border-box;width: 120px;height: 40px;padding: 11px 15px;border: 1px solid #e4eaf0;border-radius:0;font-size: 14px;appearance: none; color:$gray-body; vertical-align: top;
    &::-ms-expand { display:none; }
    &:optional,
    &:required { appearance:none; padding-top:0;padding-bottom:0;padding-right:25px; }
  }
  &__input { box-sizing: border-box;width: 234px;height: 40px;padding: 9px 15px 11px;border: 1px solid #e4eaf0;border-radius: 0;background-color: #f2f6fa;font-size: 14px;vertical-align: top;appearance: none; }
  &__submit { width:17px;padding: 12px 25px 11px;margin-left:-1px;background-color: $gray-body;border-radius: 0; vertical-align: top; }
  @media (max-width:$tablet-size){
    fieldset { display:table; }
    &__item { display: table-cell;
      &--mobile-full { width:1000px; }
    }
    &__select-wrap {
      &:after { right:12px; top:-2px; width:4px; height:4px;
      }
    }
    &__select { width: 82px;height: 30px;padding: 0 10px 0; font-size:12px; line-height: normal;
      &:optional,
      &:required { appearance:none; padding-top:1px;padding-bottom:0;padding-right:15px; line-height: normal; }
    }
    &__input { width:100%; height:30px; padding: 1px 10px 0; font-size:12px; line-height: normal; }
    &__submit { width:15px; padding: 8px 15px 7px; }
  }
}
.u-board-search2 { width:820px; margin:0 auto;
  &__fieldset { margin:0; padding:0; border:none; display: table; width:100%;
    legend { display:none; }
  }
  &__select-wrap { display:table-cell; vertical-align: top; }
  &__select { vertical-align: top;box-sizing: border-box;cursor: pointer;display: inline-block;font-family: inherit;font-size: 14px;font-weight: inherit;width:210px;height: 60px;line-height: 56px;padding-left: 20px;padding-right: 30px;position: relative;text-align: left;user-select: none;white-space: nowrap;color:$gray-body;background-color: #fff; outline: none; border-style:solid; border-width:2px 0 2px 2px; border-color:$orange;
    &:before { content:''; display:block; width:5px; height:5px; margin-top:-4px; pointer-events: none; position:absolute; top:50%; right:22px; border-width:0 1px 1px 0; border-style:solid; border-color:$gray-body;transform: rotate(45deg); } // 셀렉트박스 화살표
    &.open:before { transform: rotate(-135deg); margin-top:-2px; } // 셀렉트박스 화살표
    &:after { content:''; width:0; height:100%; display:inline-block; position:absolute; right:0; border-right:1px solid #e4eaf0; } // 셀렉트박스 line
    & .list { box-sizing: border-box;opacity: 0;margin:2px 0 0;overflow: hidden;padding: 0;position: absolute;top: 100%;left: -2px;right:0;z-index: 9; visibility: hidden; }
    &.open .list { opacity:1;pointer-events: auto;visibility: visible; }
    & .option { cursor: pointer;line-height: 60px;width:100%;padding-left: 20px;padding-right: 20px;text-align: left;background-color: #222; box-sizing: border-box; color:#fff;
      &.focus { background-color: lighten(#363636,2%); }
      &:hover { background-color: $orange; }
    }
  }
  //시스템 셀렉트박스
  &__select2 { display: inline-block;position: relative;
    &:before { content:''; display:block; width:5px; height:5px; margin-top:-4px; pointer-events: none; position:absolute; top:50%; right:22px; border-width:0 1px 1px 0; border-style:solid; border-color:$gray-body;transform: rotate(45deg); } // 셀렉트박스 화살표
    &.open:before { transform: rotate(-135deg); margin-top:-2px; } // 셀렉트박스 화살표
  }
  &__select-box { vertical-align: top;box-sizing: border-box;cursor: pointer;display: inline-block;font-family: inherit;font-size: 16px;font-weight: inherit;width:510px;height: 60px;line-height: 56px;padding-left: 20px;padding-right: 20px;text-align: left;user-select: none;white-space: nowrap;color:$gray-body;background-color: #fff; outline: none; border-style:solid; border-width:2px 0 2px 0; border-color:$orange;appearance:none;border-radius: 0;
    &::-ms-expand { display:none; }
    & option { color:$black-body; }
    & option:checked { color:$black-body; }
  }

  &__input-wrap { display:table-cell; vertical-align: top; width:1000px; text-align: center; font-size:0; }
  &__input { width:100%; max-width:510px; height:60px; box-sizing: border-box; padding:0 0 0 19px; background-color: transparent; font-size:14px; color:$gray-body; border-width:2px 0; border-style: solid; border-color: $orange; vertical-align: top; background-color: #fff; border-radius: 0; appearance:none; line-height: normal;
    &::placeholder { color:$gray-body; opacity: 1; }
  }
  &__submit { padding:13px 33px; background-color: $orange; vertical-align: top; }
  @media only screen and (max-width:$tablet-size){ width:100%;
    &__select-wrap { display:block; }
    &__select { width:100%; height:40px; border-width: 2px; font-size:13px; line-height: 34px; padding-left:10px; padding-right:30px;
      &:before { width:10px; height:10px; margin-top:-8px; right:18px; }
      &:after { display:none; }
      & .option { padding-left:10px; padding-right:10px; line-height:40px; background-color: #222;
        &.focus { background-color: $orange; }
      }
      & .list { margin-top:2px;left: -2px;right:-2px; }
    }
    //시스템 셀렉트박스
    &__select2 { width:100%;
      &:before { width:10px; height:10px; margin-top:-8px; right:18px; }
    }
    &__select-box { text-overflow: ellipsis;overflow: hidden;font-size: 13px;width:100%;height: 40px;line-height: 34px;padding-left: 13px;padding-right: 32px;border-width:2px 0 2px 2px; }

    &__input-wrap { position:relative; display:block; width:100%; padding-right:46px; margin-top:5px; box-sizing: border-box; }
    &__input { max-width:100%; height:40px; padding-left:10px; padding-right:10px; font-size:13px; border-width:2px 0 2px 2px; }
    &__submit { width:17px; height:17px; padding:12px 15px 11px 15px; position:absolute; right:0; top:0; border-radius: 0; appearance:none; line-height: normal; }
  }
}
.u-board-list-null { display:block; text-align: center; padding:36px 0; font-size:14px; border-bottom:1px solid #e4eaf0;
  @media (max-width:$tablet-size){ padding:18px 0; font-size: 13px; }
}
.u-board-fix-tag { display:inline-block; width: 80px; height:30px; line-height: 30px; text-align: center; color: #fff; background-color: $orange; border-radius: 3px;
  &--next { margin-right:10px; }
  @media (max-width:$tablet-size){ width:auto; min-width: 55px; height:20px; margin-right:8px; padding-left:11px; padding-right:11px; line-height: normal; vertical-align: top; box-sizing: border-box;
    &--next { margin-right:6px; }
  }
}
.u-board-list { display:table; width:100%; position:relative; border-top:2px solid #4a4a4a; border-bottom:1px solid #e4eaf0;
  $this:&;
  &__head, &__body { display: table-row-group; }
  &__row { display: table-row; }
  &__cell { display: table-cell; height:50px; box-sizing: border-box; padding:10px 20px; vertical-align: middle; font-size:14px; line-height: 1.428; font-weight: $regular; color:$gray-body; border-top:1px solid #e4eaf0;
    #{$this}__head & { padding-top:0; padding-bottom:0; font-weight: $medium; color:$black-body; text-align: center; border-top:0; }
    &--center { text-align: center; }
  }
  &__email { display:inline-block; text-decoration: none;
    &--mobile { display:none; }
  }
  &__img { max-width:100%; vertical-align: middle;
    &--id-picture { display:inline-block; width:70px; padding:2px; margin-right:20px; box-sizing: border-box; border:1px solid #e1e1e1; }
  }
  &__link { text-decoration: none; color:inherit;
    &--attachment:after { content:''; display:inline-block; width:14px; height:16px; margin-left:.714em; margin-top:-1px; vertical-align: middle; background-image: url("../images/icon/icon-clip.png"); background-size: 14px auto; }
  }
  //&__fix-tag { display:inline-block; width: 80px; height:30px; line-height: 30px; text-align: center; color: #fff; background-color: $orange; border-radius: 3px; }
  @media (max-width:$tablet-size){
    & [data-title]:before { content:attr(data-title); display: block; margin-bottom:.41em; font-size:12px; font-family: 'Open Sans', sans-serif; font-weight: $medium; color:$black-body; }
    &--mobile-hide { display:none; }
    &--mobile-block { display:block; }
    &--mobile-inline-block { display:inline-block; }
    &--mobile-block,
    &--mobile-inline-block { height:auto; border-top:none; padding-top:0; padding-left:0; padding-right:0; padding-bottom:0; }
    &--mobile-list { padding:15px 10px 15px;
      &+& { border-top:1px solid #e4eaf0; }
    }
    &--mobile-list2 { padding:10px 0; border-top:1px solid #e4eaf0;
      #{$this}__head + #{$this}__body &:first-child { border-top:0; }
    }
    &--mobile-wrap { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
    &--mobile-float-left { float:left; }
    &__cell { font-size:12px; line-height: 1.333;
      &--mobile-left { text-align: left; }
    }
    &__name { margin-top:-.2em; }
    &__email {
      &--mobile { display:inline-block; width:13px; }
    }
    &__img {
      &--id-picture { float:left; width:auto; height:88px; margin-right:10px; margin-top:.2em; }
    }
    //&__fix-tag { width:55px; height:20px; margin-right:8px; line-height: normal; vertical-align: top; }
  }
}
.u-btn-board { display:inline-block; width:auto; height:40px; line-height: 40px; box-sizing: border-box; text-decoration: none; font-size:14px; font-weight: $bold; color:$gray-body; transition:color ease-in-out .3s;
  &--prev { position:absolute; left:0; top:0;
    &:before { content:''; display: inline-block; width:.714em; height:.714em; margin-left:2px; margin-right:.5em; margin-bottom:-1px; border-width:0 0 2px 2px; border-style: solid; border-color:$gray-body; transform: rotate(45deg); transition:border ease-in-out .3s; }
  }
  &--next { position:absolute; right:0; top:0;
    &:after { content:''; display: inline-block; width:.714em; height:.714em; margin-right:2px; margin-left:.5em; margin-bottom:-1px; border-width:2px 2px 0 0; border-style: solid; border-color:$gray-body; transform: rotate(45deg); transition:border ease-in-out .3s; }
  }
  &:hover { color:$black-body; }
  &--prev:hover, &--next:hover {
    &:before, &:after { border-color:$black-body; }
  }
  @media (max-width:$tablet-size){ position:relative; width:35px; height:35px; line-height: 35px;
    &--prev:before, &--next:after { position:absolute; top:0; left:0; right:0; bottom:0; margin-top:auto; margin-bottom:auto; width:8px; height:8px; }
    &--prev { position:absolute;
      &:before { right:auto; border-width:0 0 1px 1px; }
    }
    &--next { position:absolute;
      &:after { left:auto; border-width:1px 1px 0 0; }
    }
    &--mobile-text-hide { font-size:0; }
  }
}
// mobile board-scroll X축
@media only screen and (max-width:$tablet-size){
  .u-board-scroll { width:100%; display:table; table-layout: fixed; position:relative;
    &__fade { z-index:10; position: absolute; right: 0; width: 20px; height: 100%; background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff);
      &.is-hide { opacity: 0; }
    }
    &__x { overflow-x:auto; overflow-y:hidden; width:100%; padding-bottom:10px;
      &::-webkit-scrollbar { appearance:none; width:2px; height:8px; }
      &::-webkit-scrollbar-thumb { border-radius: 5px; border:2px solid #fff; background-color:#e3eaf0; }
    }
    &__list { min-width: 768px; }
    &__info { font-size:11px; margin-top:9px; position:relative; padding-left:27px; text-align: left; }
    &__icon { display:table-cell; width:22px; height:15px; position:absolute; top:0; left:0; bottom:0; margin:auto; background-image: url(../images/icon/icon-scroll-hand.png); background-size: 21px 15px; }
  }
}

// icon
.icon-check { display:inline-block; width:7px; height:7px; position:relative; overflow: hidden; margin-right:4px; margin-bottom:2px;
  &:before { content:''; display:inline-block; position:absolute; top:0; left:0; width:7px; height:6px; margin-top:-3px; margin-left:-2px; border-width: 0 2px 2px 0; border-style:solid; border-color: $orange; transform: rotate(45deg); }
  @media (max-width:$tablet-size){ width:6px; height:5px; margin-right:2px;
    &:before { width:7px; height:5px; border-width: 0 1px 1px 0; }
  }
}

// 페이징
.u-pagination {	display:table; margin:0 auto;
  &--next { margin-top:40px; }
  &__link {	float:left; box-sizing:border-box; min-width:35px; height:35px; padding:0 5px; margin-right:5px; border:1px solid #e4eaf0; background-color:#fff; text-decoration:none; text-align:center; line-height:33px; font-size:14px; color:$gray-body; font-weight:$regular; transition:border .3s ease-in-out;
    &:last-child { margin-right:0; }
    &:hover { border-color:$orange; }
    &.is-on { border-color:$orange; background-color:$orange; color:#fff; }

    &--prev,
    &--next { @include ir; position:relative; width:35px; border-color:transparent; font-size:0;
      &:before { position:absolute; top:0; left:0; right:0; bottom:0; width:10px; height:12px; margin:auto; background:url(../images/icon/pagination-icon.png) no-repeat; background-size:auto 12px; content:''; }
    }
    &--prev {
      &:before { background-position:0 0; }
    }
    &--next {
      &:before { background-position:-10px 0; }
    }
  }
  @media only screen and (max-width:$tablet-size) {
    &--next { margin-top:20px; }
    &__link { min-width: 30px; height:30px; margin-right:3px; line-height: 28px; font-size: 12px;
      &--prev,
      &--next { width:30px; font-size:0;
        &:before { width:5px; height:8px; background-size: auto 8px; }
      }
      &--prev {
        &:before { background-position:0 0; }
      }
      &--next {
        &:before { background-position:-8px 0; }
      }
    }
  }
}

// table
.u-table-row { width:100%; border-top:2px solid #4a4a4a; border-collapse: collapse;
  &__th, &__td { height:70px; padding:10px 20px; vertical-align: middle; box-sizing: border-box; text-align: left; font-size:14px; border-bottom:1px solid #e4eaf0; }
  &__th { font-weight: $medium; color:$black-body; line-height: 1.286; background-color: #f2f6fa; }
  &__td { font-weight: $regular; color:$gray-body; line-height: 1.286; background-color: #fff; }
  @media only screen and (max-width:$tablet-size){
    &__th, &__td { font-size:13px; padding:9px 10px 9px; }
    &__mobile-block:not(.u-table-row) { display:block; width:100%; height:auto; float:left;
      &:not(:optional) { float:none; }
    }
  }
}

.u-section {
  &+& { margin-top:80px; }
  &--first { margin-top:120px; }
  &__title { margin-top:-2px; margin-bottom:.55em; font-size:20px; font-weight: $bold; line-height: 1.1; color:$black-body; }
  @media only screen and (max-width:$tablet-size){
    &+& { margin-top:40px; }
    &--first { margin-top:60px; }
    &__title { margin-bottom:.55em; font-size:15px; }
  }
}

.u-content-box { padding:28px 20px; box-sizing:border-box; border-top:2px solid #4a4a4a; border-bottom:1px solid #e4eaf0;
  &--both-sides-empty { padding-left:0; padding-right:0; }
  &--next { border-top:0; }
  @media only screen and (max-width:$tablet-size){
    padding:14px 10px;
  }
}

.u-content-text { margin-top:-.357em; font-size:14px; line-height: 1.571; color:$gray-body;
  &--list {
    &+& { margin-top:1px; }
  }
  &--dot { padding-left:.571em; position:relative;
    &:before { content:''; width:3px; height:3px; position:absolute; top:.65em; left:0; background-color: $orange; }
  }
  @media only screen and (max-width:$tablet-size){ font-size:13px;
    &--list { line-height: 1.385;
      &+& { margin-top:3px; }
    }
  }
}

// zoom
.u-zoom-box-mobile { font-size:0; text-align: center;
  &__img { max-width:100%; box-sizing: border-box; }
  &__link { display:none; }
  @media (max-width:$tablet-size){ position:relative; box-sizing: border-box; border:1px solid #e4eaf0;
    &__link { display:block; position:absolute; right:5px; bottom:5px; width:29px; height:29px; background-color: $orange; background-image: url("../images/icon/icon-magnifier.png"); background-size: 19px 19px; background-position: 50% 50%; background-repeat: no-repeat; }
  }
}

// tab
.u-tab { margin-bottom:52px; text-align: center; line-height:0;
  $this: &;
  &__list { margin:0 0 0 0; padding:0 0 0 1px; list-style: none; box-sizing: border-box; display:inline-block; overflow: hidden; font-size:18px; color:#999; }
  &__item { display:table-cell; width:305px; height:60px;
    &.is-on { color:#fff; background-color: $orange; z-index:1; }
  }
  &__link { display:table-cell; position:relative; width:1%; height: inherit; vertical-align: middle; text-decoration: none; color:inherit;
    &:after { content:''; z-index:1; box-sizing: border-box; position:absolute; top:0; left:-1px; right:0; bottom:1px; height:inherit; border-width:1px; border-style:solid; border-color:#e4eaf0;
      #{$this}__item.is-on & { bottom:0; border-color:$orange; z-index:10; }
    }
  }
  @media (max-width:$tablet-size){ margin-bottom:30px;
    &__list { width:100%; font-size:13px; }
    &__item { width:1000px; height:40px; }
    &__link { white-space: nowrap; }
  }
}
.u-tab-content { margin-top:95px;
  @media (max-width:$tablet-size){ margin-top:36px; }
}