.site-content { @include block; margin-top:120px; padding-bottom:150px;
  &__center { max-width:$site-width; margin-left:auto; margin-right:auto; }
  @media (max-width:$tablet-size) {
    margin-top:36px; padding-bottom:75px;
    &__center { padding-left:12px; padding-right:12px; padding-left: calc(12px + env(safe-area-inset-left)); padding-right: calc(12px + env(safe-area-inset-right)); }
  }
}