.site-footer { @include block; position: relative; z-index:5; width:$site-width; margin:0 auto; padding:24px 0 36px; color:#fff;
  &:after { z-index:-1; position:absolute; display:block; box-sizing:border-box; height:auto; top:0; left:-1000px; right:-1000px; bottom:0; margin:auto; background-color:#435270; content:''; }
  @media (max-width:$tablet-size) {
    display:block;width:auto;padding:15px 12px;background-color: #435270;
    &:after { display:none; }
  }
}

.footer-address { overflow:hidden; font-size:14px; color:#a1a9b8; font-weight:$regular; line-height:1.3;margin-top:-7px; word-break:keep-all; font-style:normal;
  &__item { position:relative; float:left; margin-right:20px; margin-top:7px;
    &:after { content:''; display:block; width: 0; height: 10px; position:absolute; right:-10px; top:0; bottom:0; margin:auto; border-right:1px solid #959cab; }
    &--clear { clear:left;}
    &--float-none { float:none; margin-right:0; }
    &:first-child, &:last-child { &:after { display:none; } }
  }
  &__highlight { font-weight:$bold; }
  &__link {	text-decoration:none; color:inherit; }
  &__item--mobile-show { display:none; }
  @media (max-width:$tablet-size) { 
    font-size:12px; margin-top:0; margin-left:-11px; margin-right:-11px; line-height: 1.5;
    &__item { float:none; margin-right:11px; margin-left:11px; margin-top:0;
      &:after { display:none; }
      &--mobile-line:after { display:block; right:-13px; }
    }
    &__item--mobile-clear { clear:left; }
    &__item--mobile-inline-block { display:inline-block; }
    &__item--mobile-show { display:inline; }
  }
}

.footer-logo { width:211px; position:absolute; top:0; bottom:0; right:50%; margin-right:-($site-width/2);
  &__link { display:block; margin-top:45px; }
  &__img { max-width:100%; }
  @media (max-width:$tablet-size) { display:none; }
}

.footer-copyright { margin-top:.571em; font-size:14px; color:#a1a9b8; font-weight:$regular; line-height:1.3;
  @media (max-width:$tablet-size) {
    font-size:12px; line-height: 1.5;
  }
}

.footer-site-map { @include block; position: relative;width:$site-width; margin:0 auto; padding:48px 0 84px; color:$gray-body;
  $this : &;
  &:after { z-index:-1; position:absolute; display:block; box-sizing:border-box; height:auto; top:0; left:-1000px; right:-1000px; bottom:0; margin:auto; background-color:#f4f7f8; content:''; border-top:1px solid #dde3e9; }
  &__depth1-list,
  &__depth2-list { margin:0; padding:0; list-style:none; overflow: hidden; }
  &__depth2-list { font-size:13px; line-height: 1.38; margin-top:1.15em; }
  &__depth1-item { float:left; width:20%; box-sizing: border-box; padding-right:20px; font-size:16px; }
  &__depth2-item {
    &+& { margin-top:.9em; }
  }
  &__depth1-link,
  &__depth2-link { color:inherit; text-decoration: none; }
  &__depth1-link { font-weight: $medium; color:$black-tit; }
  &__depth2-link { display:inline-block; position:relative; padding-left:6px; font-weight: $regular;
    &:before { content:''; display:inline-block; position:absolute; top:8px; left:0; width:2px; height:2px; background-color: #c2c3c4; }
  }
  @media (max-width:$tablet-size) {
    width:auto; padding:0 12px 25px; background-color: #fff; border-top:1px solid #e2e7ed;
    &:after { display:none; }
    &__depth2-list { font-size:12px; margin-top:0; }
    &__depth1-item { position:relative; float:none; width:100%; max-height:37px; padding-right:0; font-size:14px; overflow: hidden; border-top:1px solid #e2e7ed;
      &:first-child { border-color:transparent; }
      &:last-child { border-bottom:1px solid #e2e7ed; }
      &:not(.child-none):after { position:absolute; top:16px; right:14px; width:12px; height:2px; border-top:2px solid #363636; content:''; transform:rotate(-90deg); transition:transform .3s; }
      &:not(.child-none):before { position:absolute; left:auto; top:17px; right:15px; width:12px; height:2px; border:0; border-top:2px solid #363636; content:'';}
      &.is-over { max-height:400px; transition:max-height ease-in .3s;
        &:after { top:17px; right:15px; transform:rotate(0); border-color:$orange; }
      }
    }
    &__depth2-item { padding:0 7px; box-sizing: border-box; border-top:1px solid #e2e7ed;
      &+& { margin-top:0; }
    }
    &__depth1-link,
    &__depth2-link { display:inline-block; width:100%; height:100%; }
    &__depth1-link { line-height:36px;
      .is-over & { color:$orange; }
    }
    &__depth2-link { display:table-cell; height:35px; width:100%; padding:5px 0 5px 7px; box-sizing: border-box; vertical-align: middle;
      &:before { top:17px; background-color: #9b9b9b; border-radius: 2px; }
    }
  }
}

.footer-family { position: relative; width:$site-width; margin:0 auto; padding:20px 0; font-size:0; text-align: justify;-ms-text-justify: distribute-all-lines;text-justify: distribute-all-lines;
  $this: &;
  &:before { z-index:-1; position:absolute; display:block; box-sizing:border-box; height:auto; top:0; left:-1000px; right:-1000px; bottom:0; margin:auto; background-color:#4d5b77; content:''; border-bottom:1px solid #707b92; }
  &:after { content:''; display: inline-block; width:100%; }
  &__item { display:inline-block; width:auto; height:41px; text-align: center; box-sizing: border-box; padding:0 10px;
    &:first-child { padding-left:0; }
    &:last-child { padding-right:0; }
  }
  &__link { text-align: center; vertical-align: middle; }
  &__img { height:41px; }
  @media (max-width:$tablet-size) {
    display:flex; width: auto; flex-flow: row wrap; padding:22px 12px 22px; background-color:#4d5b77; border-bottom:1px solid #707b92;
    &:before { display: none; }
    &:after { display: none; }
    &__item { display:inline-block; flex:1 1 auto; width:50%; height:auto; padding-left:0; padding-right:15px; text-align: left;
      &:first-child { padding-left:0; }
      &:last-child { padding-right:0; }
      &.nth-2 { padding-right:0; }
      &.nth-3,&.nth-4 { margin-top:25px; }
    }
    &__link { height:inherit; }
    &__img { max-width:100%; max-height:25px; height:auto; }
  }
}