.site-header { position:absolute; top:0; left:0; right:0; z-index:900; height:80px; margin:0 auto; box-sizing: border-box; background-color:transparent; background-image: none; transition:background-color .1s ease-in-out;
  @media (min-width: $tablet-size) and (max-width: $site-width) {
    position:absolute; min-width: 1240px;
  }
  @media (max-width:$tablet-size) {
    z-index:910; height:45px; margin:0 auto; border-bottom:0; background-color:transparent;
  }
}

.top-logo { z-index:500; position:absolute; top:17px; left:50%; margin-top:0; margin-right:0; margin-bottom:0; margin-left:-($site-width/2); width:211px; font-size: 0;
  &__link { display:block; }
  &__img { max-width:100%;
    &--black { display: none; }
    .js-open-d &--normal { display: none; }
    .js-open-d &--black { display: block; }
  }
  @media (max-width:$tablet-size) {
    width:138px; top:0; left:0; margin-left:15px; height:inherit; line-height: 0;
    &__link { height:inherit; box-sizing: border-box; padding-top:7px; }
    &__img { width:100%;
      .mobile-header.is-fixed &--normal { display: none; }
      .mobile-header.is-fixed &--black { display: block; }
    }
  }
}

.site-gnb { position:absolute; left:0; right:0; z-index:400; height:80px;
  $this:&;
  &:before { z-index:-1; position:absolute; top:0; left:0; right:0; height:100%; content:''; border-width:0 0 1px 0; border-style: solid; border-color:rgba(255,255,255,0.3); box-sizing: border-box; }
  &.js-open-d:before { background:#fff; border-bottom:1px solid #fff; transition:none; transition:background .2s ease-in-out; }
  &__tit { overflow:hidden; box-sizing: border-box; position: absolute; z-index: 1; left:0; right:0; top: 80px; height: 0; margin:0; background-color: #fff; text-indent: -999em;
    .js-open-d & { height: 311px; transition: height .3s ease-in-out; }
  }
  &__depth1-list { max-width:$site-width; height:inherit; position:relative; box-sizing: border-box; margin:0 auto; padding:0 80px 0 260px; list-style:none; font-size:0; text-align:center;
    &:after { box-sizing: border-box; position: absolute; z-index: -1; left: 0; right: 0; top: 80px; height: 0; content: ''; background-color: #fff; }
  }
  &__depth1-item { display:inline-block; height:inherit; color:#fff; font-size:16px; vertical-align:top; text-align:center;
    //&.js-open-d #{$this}__depth2-item { margin-top: 0; }
    //&.js-open-d.js-first #{$this}__depth2-item { transition: margin-top .3s ease-in-out; transition-delay: .3s; }
    &.js-open-d #{$this}__depth2-list { visibility: visible;
      &:not(:optional) { opacity: 1; }
    }
    &.js-open-d.js-first #{$this}__depth2-list { transition: opacity .3s ease-in-out; transition-delay: .3s; }
    .js-open-d & #{$this}__depth2-item { transition: opacity ease-in-out .2s; transition-delay: .3s;
      &:not(:optional) { opacity: 1; }
    }
    &.js-open-d #{$this}__depth1-link:not(.zcxv):before { transition: all 0.3s ease-in-out; }
    &.js-first #{$this}__depth1-link:before { transition-delay: 0.3s; }
  }
  &.js-open-d &__depth1-item { color:$black-tit; }
  &__depth1-link { position:relative; display:table-cell; height:inherit; padding:0 40px; color:inherit; text-decoration:none; vertical-align:middle; font-family:$font-en; font-weight:500;
    &:not(.zcxv) { overflow: hidden; }
    &:not(.zcxv):before { display: block; z-index:1; content: ''; position: absolute; top:80px; left: 0; right: 0; width: 0; height: 0; border:3px solid $orange; overflow: hidden; }
    #{$this}__depth1-item.js-open-d & { color: $orange;
      &:before { width:60%;width: calc(100% - 80px); height: 0; margin: -2px auto 0; border:3px solid $orange; }
    }
  }

  /* 2depth */
  &__depth2-list { overflow: hidden; width:auto; position: absolute; left:0; right:0; padding: 29px 0 0; margin:0 -10px; list-style: none; text-align: left; font-size: 0; z-index:20; visibility: hidden;
    &:not(:optional) { opacity: 0; }
    //#{$this}__depth1-item.js-open-d & { height:66px; }
  }
  &__depth2-item { display: inline-block; margin:0 0 35px; padding:0 10px; width: 190px; overflow: hidden; color:$gray-body; vertical-align: top; text-align: left; font-weight:$regular; font-size: 14px; white-space: normal; letter-spacing: -0.025em;
    &:not(:optional) { opacity: 0; }
  }
  &__depth2-link { display:block; color:inherit; text-decoration:none;
    &:before { display:block; width:100%; height:66px; margin-bottom:13px; background:url(../images/layout/gnb-icon.png) no-repeat; content:''; }
    @for $i from 1 through 6 {
      @for $j from 1 through 7 {
        #{$this}__depth1-item.nth-#{$i} #{$this}__depth2-item.nth-#{$j} & {
          &:before { background-position:(-190px * $j)+190 (-66px * $i)+66; }
        }
      }
    }
    &:hover { color:$orange;
      #{$this}__description { color:$black-body; }
    }
  }
  &__description { position:relative; margin-top:10px; padding-left:8px; color:$black-body;
    &+& { margin-top:0; }
    &:before { content:'-'; display:inline-block; position:absolute; left:0;top:-1px; }
  }

  &__dimmed { z-index:-1; position:fixed; left:0; top:80px; right:0; bottom:0; height:0; background-image: url("../images/blank/black-50.png"); background-repeat: repeat;
    #{$this}.js-open-d & { height:100%; animation:gnb-mobile-link-on .3s; }
  }
  @media only screen and (max-width:$tablet-size) {
    height:44px;
    &:before { display:none; }
    .js-fixed & {
      &:before { background-color: #fff; }
    }
    &__depth1-list { display:block; overflow-x:hidden; overflow-y:auto; width:100%; height:auto; margin:0; padding:0; background-color:#fff; transition:transform ease-out 0.3s; }
    &__depth1-item { display:block; overflow: hidden; max-height:50px; position:relative; margin-left:0; color:$black-body; text-align:left; transition:max-height ease-in 0.15s;
      &.is-over { max-height:400px; color:$orange; }
      &.is-over #{$this}__depth1-link {
        &:after { top:25px; right:12px; transform:rotate(0); }
        &:not(.zcxv):before { border-color:$orange; }
      }
      &.child-none #{$this}__depth1-link {
        &:before, &:after { display:none; }
      }
    }
    &__depth1-link { z-index:90; height:49px; width:1%; padding:0 27px 0 12px; transition:color ease-in-out 0.25s; font-weight: $medium; border-bottom:1px solid #c6d0db;
      &:after { position:absolute; top:24px; right:11px; width:12px; height:2px; border-top:2px solid #363636; content:''; transform:rotate(-90deg); transition:transform .3s; }
      &:not(.zcxv):before { position:absolute; left:auto; top:25px; right:12px; width:12px; height:2px; border:0; border-top:2px solid #363636; content:'';}
    }
    &__depth2-list { display:block; width:auto; /*overflow:hidden; max-height:0;*/ position:static; padding:0; font-size:inherit; text-align:inherit; white-space:inherit; background-color: #f4f7f8; visibility: visible;
      &:not(:optional) { opacity: 1; }
    }
    &__depth2-item { display: block; width: auto; float:none; margin:0; color:#767676; font-weight: inherit; transition: none; vertical-align: baseline;
      &:not(:optional) { opacity: 1; }
      &:after { display:block; border-bottom:1px solid #d2d5d5; content:''; }
      &:last-child:after { border-color:#c6d0db; }
    }
    &__depth2-link { display:table-cell; width:1%; height:40px; box-sizing: border-box; padding:5px 12px 5px 22px; vertical-align:middle;
      &:before { display:inline; width:auto; height:auto; margin-bottom:0; background: none; content:'- '; }
    }
    &__description { margin-top:5px ; font-size:12px;
      &:before { content:'·'; top:0; }
    }
  }
}

.site-map-btn { position: absolute; z-index: 1100; top: 30px; left: auto; bottom: auto; right: 50%; width: 17px; min-height: 17px; margin-right:-($site-width/2); text-indent: -999em; transition: none; cursor: pointer;
  &:not(.zxcv):before,
  &:not(.zxcv):after,
  >span:before,
  >span:after { position:absolute;top:0;bottom:0;left:0;right:0;width:17px;height:0;border-top:2px solid #fff; margin:auto; transform:rotate(0deg);transition: .3s; content:''; opacity:1; }
  &:not(.zxcv):before { top:14px; width:9px; left:-8px;}
  &:not(.zxcv):after { bottom:14px;}
  &.js-open-d {
    &:before {width:0; transform:translateX(-50%);}
    &:after {width:0; transform:translateX(50%);}
    >span:before {transform:rotate(-45deg);}
    >span:after {transform:rotate(45deg);}
  }
  &.js-black  {
    &:before,
    &:after,
    &>span:before,
    &>span:after { border-top:2px solid $black-tit; }
  }
  @media only screen and (max-width:$tablet-size) {
    &.js-open-m {
      &:before {width:0; transform:translateX(-50%);}
      &:after {width:0; transform:translateX(50%);}
      >span:before {transform:rotate(-45deg);}
      >span:after {transform:rotate(45deg);}
    }
    .js-fixed & {
      &:not(.zxcv):before,
      &:not(.zxcv):after,
      >span:before,
      >span:after {border-top:2px solid $black-tit;}
    }
    & { left:0; right:auto; width:44px; }
  }
}
.site-map { display:block; width:100%; position:absolute; z-index:1000; top:80px; left:0; right:0; height:0; visibility: hidden;
  $this:&;
  &__tit { overflow:hidden; height:0; box-sizing: border-box; position:absolute; top:0; right:0; left:0; z-index:-1; margin:0; background-color: #fff; text-indent: -999em; transition:height 0.3s ease-in-out; }
  &.js-open-d { visibility: visible; }
  #{$this}.js-open-d &__tit { height:703px; }

  &__depth1-list { opacity:0; visibility: hidden; width:1240px; list-style: none; margin:40px auto 0; padding:0; list-style: none; font-size: 0;
    #{$this} &:after { display:block; content:' '; width:100%; height:0; clear:both; }
    #{$this}.js-open-d & { opacity:1; transition-delay: .3s; transition:opacity .3s; visibility: visible; }
  }
  &__depth1-item { display: inline-block; width:33.33%; box-sizing: border-box; vertical-align: top; margin-bottom:40px; }
  &__depth1-link { display:inline-block; font-size:24px; text-decoration: none; color:#363636; font-weight: $light; margin-bottom:14px; }

  &__depth2-list { margin:0 20px 0 0; padding:19px 0 0; list-style: none; border-top:1px solid #707686; }
  &__depth2-item {
    & + & { margin-top:20px; }
  }
  &__depth2-link { font-size:16px; text-decoration: none; color:#767676; font-weight: $light; }

  &__dimmed { z-index:-2; position:fixed; left:0; top:0; right:0; bottom:0; height:0; background-image: url("../images/blank/black-80.png"); background-repeat: repeat;
    #{$this}.js-open-d & { height:100%; animation:gnb-mobile-link-on .3s; }
  }
  @media only screen and (max-width:$tablet-size) { display:none; }
}

@keyframes gnb-mobile-link-on {
  0% { opacity:0; }
  100% { opacity:1; }
}

.mobile-header {
  @media (max-width:$tablet-size) {
    background-color:rgba(#15181a, .1); position:fixed; top:0; left:0; right:0; height:45px; z-index:900; border-bottom: 1px solid rgba(#dee3eb, .3); box-sizing: border-box; transition:background-color .3s ease-in-out;
    &.is-fixed { background-color: #fff; }
  }
}

.mobile-button-open { opacity:0; position:absolute; top:0; right:0; width:45px; height:inherit; margin:0; padding:16px 15px 15px; border:none; font-size:0; background-color:transparent; text-align:left; overflow:hidden; white-space:nowrap; cursor:pointer; transition:opacity 1s; box-sizing: border-box;
  &__bread { display:inline-block; width:100%; height:100%; position:relative; border-top:2px solid #fff; box-sizing: border-box;
    &:before { content:''; display:inline-block; width:100%; border-top:2px solid #fff; position:absolute; top:4px; }
    &:after { content:''; display:inline-block; width:50%; border-top:2px solid #fff; position:absolute; bottom:0; }
    .mobile-header.is-fixed & { border-color:#000;
      &:before,
      &:after { border-color:#000; }
    }
  }

  @media (max-width:$tablet-size) {
    opacity:1; right: env(safe-area-inset-left);
  }
}

.mobile-button-close { display:none;
  @media (max-width:$tablet-size) {
    display:block; position:absolute; top:0; right:0; width:46px; height:45px; margin:0; padding:0; border:none; background-color:transparent; text-indent:100%; text-align:left; overflow:hidden; white-space:nowrap; cursor:pointer;
    &:before,
    &:after { position:absolute; top:0; left:0; bottom:0; right:0; width:19px; height:0; margin:auto; border-top:1px solid #fff; content:''; }
    &:before { transform:rotate(45deg) }
    &:after { transform:rotate(-45deg) }
  }
}

.mobile-menu {
  &__header { display:none; }
  @media (max-width:$tablet-size) {
    overflow:auto; z-index:910; position:fixed; left:100%; top:0; bottom:0; width:100%; transform:translateX(0); transition:transform .3s ease-in; -webkit-overflow-scrolling:touch;background-color: #fff;
    &.is-on { transform:translateX(-100%); }
    &__header { display:block; height:44px; padding:0 12px; box-sizing: border-box; background-color: $orange; }
    &__logo { display:block; margin:0; font-size:0; width:138px; }
  }
}

.mobile-menu-logo { display:none;
  @media (max-width:$tablet-size) {
    display:block; width:118px; height:20px; margin:0; padding-left:15px; padding-top:13px; padding-bottom:13px;
    &__link { display:block; line-height: 0; height:inherit; }
    &__img { height:100%; }
  }
}

.mobile-menu-dimmed { position: fixed; background-color:rgba(0,0,0,.6);top: 0; left: 0; right: 0; bottom: 0; z-index: 905; }