body { overflow:auto; margin:0; min-width:$site-width; line-height:1.3; font-family:$font-en;
  @media (max-width:$tablet-size) {
    min-width:auto; overflow-x:hidden;
  }
}

.wrapper { position:relative; overflow: hidden; display: table; table-layout: fixed; width: 100%; height: 100%; /*opacity:0;*/
  &__row { display:table-row; width: 100%;
    &--height-full { height: 100%; }
  }
}

.site-container { @include block;
  @media (max-width:$tablet-size) {

  }
}