<%
let gnb = locals.require('gnb.json')
let reuters = locals.require('reuters-ranking.json')
let graduates = locals.require('graduates-list.json')
var page = 'accomplishments'
let sub = ''
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../libs/bxslider/js/jquery.bxslider.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../js/accomplishments.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="accomplishment-intro">
    <div class="accomplishment-intro__headline">The world’s 6th most<br>innovative research institute, KIST</div>
    <div class="accomplishment-intro__summary">HHS tops Reuters’ second annual ranking of the Top 25 Global Innovators – Government, a list that<br class="only-desktop">identifies and ranks the publicly funded institutions doing the most to advance science and technology.<br class="only-desktop"></div>
    <div class="accomplishment-intro__summary accomplishment-intro__summary--next">The rankings were compiled in partnership with Clarivate Analytics, formerly the Intellectual Property<br class="only-desktop">& Science business of Thomson Reuters, and are based on proprietary data and analysis of indicators<br class="only-desktop">including patent filings and research paper citations.</div>
  </div>
  <div class="reuters-ranking">
    <div class="reuters-ranking__header">
      <span class="reuters-ranking__logo"><img src="../../images/accomplishments/reuters-logo.png" alt="" class="reuters-ranking__logo-img"></span>
      <span class="reuters-ranking__copy">ⓒ Reuters www.reuters.com/innovation/most-innovative-institutions-2017/compare</span>
    </div>
    <div class="reuters-ranking__table">
      <% reuters.forEach(function (item, index) {
        var korea = (item.state == 'South Korea') ? 'reuters-ranking__item--korea' : '';
      %>
      <div class="reuters-ranking__row">
        <div class="reuters-ranking__item <%- korea %>">
          <span class="reuters-ranking__cell reuters-ranking__cell--nth-1"><%- index+1 %>th</span>
          <span class="reuters-ranking__cell reuters-ranking__cell--nth-2"><%- item.title %></span>
          <span class="reuters-ranking__cell reuters-ranking__cell--nth-3"><%- item.state %></span>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<div class="u-page-full-bg u-page-full-bg--gray u-page-full-bg--next">
  <h2 class="u-page-title">Graduates</h2>
  <div class="site-content__center">
    <div class="graduates-list-wrap">
      <div class="graduates-counter">
        <div class="graduates-counter__item">
          <span class="icon-check"></span>
          <div class="graduates-counter__text">Total : <span class="graduates-counter__number">523</span> (March,2018)</div>
        </div>
        <div class="graduates-counter__item">
          <span class="icon-check"></span>
          <div class="graduates-counter__text"><span class="graduates-counter__number">28</span> different countries</div>
        </div>
      </div>
      <%
        var middle = graduates.length / 2
        var first = graduates.slice(0, middle);
        var last = graduates.slice(middle, graduates.length);
      %>
      <div class="graduates-list js-view-list">
        <div class="graduates-list__head graduates-list--mobile-hide">
          <div class="graduates-list__row">
            <div class="graduates-list__th">Nationality</div>
            <div class="graduates-list__th">The Number of Students</div>
          </div>
        </div>
        <div class="graduates-list__body">
          <%
           for(var i=0; i< first.length; i++){
          %>
          <div class="graduates-list__row js-view-item">
            <div class="graduates-list__td graduates-list__td--nationality">
              <img src="../../images/accomplishments/<%- first[i].img %>.png" alt="" class="graduates-list__img"><%- first[i].nationality %></div>
              <div class="graduates-list__td"><%- first[i].students %></div>
          </div>
          <% } %>
        </div>
      </div>
      <div class="graduates-list js-view-list">
        <div class="graduates-list__head graduates-list--mobile-hide">
          <div class="graduates-list__row">
            <div class="graduates-list__th">Nationality</div>
            <div class="graduates-list__th">The Number of Students</div>
          </div>
        </div>
        <div class="graduates-list__body">
          <%
          for(var i=0; i< last.length; i++){
          %>
          <div class="graduates-list__row js-view-item">
            <div class="graduates-list__td graduates-list__td--nationality">
              <img src="../../images/accomplishments/<%- last[i].img %>.png" alt="" class="graduates-list__img"><%- last[i].nationality %></div>
              <div class="graduates-list__td"><%- last[i].students %></div>
          </div>
          <% } %>
        </div>
      </div>

      <div class="u-btn-wrap">
        <a href="" class="u-btn js-view-more-btn">View More</a>
      </div>
    </div>
  </div>
</div>

<h2 class="u-page-title u-page-title--next">Research Performance</h2>
<div class="site-content__center">
  <div class="research-performance">
    <div class="research-performance__list js-research-performance-slide-mobile">
      <div class="research-performance__item research-performance__item--nth-1 js-research-performance-slide-item">
        <div class="research-performance__shelf"><img src="../../images/accomplishments/research-performance-cover1.jpg" alt="" class="research-performance__img"></div>
        <div class="research-performance__writer">Dr. Shahzad Faisal</div>
        <div class="research-performance__info">17 Ph.D. graduate (Pakistan) <br>Science(2016) 34.661/3.17% (IF/JCR)</div>
        <div class="research-performance__summary">Electromagnetic interference shielding <br class="only-desktop">with 2D transition metal carbides (MXenes)</div>
        <div class="research-performance__copy">Science, Vol 353, Issue 6304, 09 September 2016<br>ⓒScience ⓒCell</div>
      </div>
      <div class="research-performance__item research-performance__item--nth-2 js-research-performance-slide-item">
        <div class="research-performance__shelf"><img src="../../images/accomplishments/research-performance-cover2.jpg" alt="" class="research-performance__img"></div>
        <div class="research-performance__writer">Dr.Bo-Eun Yoon</div>
        <div class="research-performance__info">12 Ph.D. graduate (Republic of Korea) <br>Science (2010) 31.364/3.39% (IF/JCR)</div>
        <div class="research-performance__summary">Channel-Mediated Tonic GABA <br class="only-desktop">Release from Glia</div>
        <div class="research-performance__copy">Science, Vol. 330, Issue. 6005, 15 October 2010 <br>ⓒScience ⓒCell</div>
      </div>
      <div class="research-performance__item research-performance__item--nth-3 js-research-performance-slide-item">
        <div class="research-performance__shelf"><img src="../../images/accomplishments/research-performance-cover3.jpg" alt="" class="research-performance__img"></div>
        <div class="research-performance__writer">Dr.Dongho Woo</div>
        <div class="research-performance__info">12 Ph.D. graduate (Republic of Korea) <br>Cell (2012) 32.403/0.55%(IF/JCR)</div>
        <div class="research-performance__summary">TREK-1 and Best1 channels mediate fast and slow glutamate release in astrocytes upon GPCR activation</div>
        <div class="research-performance__copy">Cell 151, 25–40, 28 September 2012 <br>ⓒScience ⓒCell</div>
      </div>
    </div>
  </div>
</div>