<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="../../css/popup.css">
</head>
<script type="text/javascript">
  function _GET(search) {
    var obj = {};
    var uri = decodeURI(search);
    uri = uri.slice(1,uri.length);

    var param = uri.split('&');

    for (var i = 0; i < param.length; i++) {
      var devide = param[i].split('=');
      obj[devide[0]] = devide[1];
    }

    return obj;
  }

  window.onload = function () {
    var search = window.location.search;
    var getData =  _GET(search);
    var img = document.querySelector('.photo-viewer__img');

    img.src = getData.val;
  }
</script>
<body class="photo-viewer-body">
  <div class="photo-viewer">
    <div class="photo-viewer__cell">
      <div class="photo-viewer__img-wrap">
        <img src="" alt="" class="photo-viewer__img">
      </div>
    </div>
  </div>
  <button type="button" onclick="history.back();" class="photo-viewer__close">닫기</button>
</body>
</html>