<%
let gnb = locals.require('gnb.json')
var page = 'schoollife'
let sub = 'Gallery'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="gallery-board-view">
    <div class="gallery-board-view__header">
      <div class="gallery-board-view__title">KU-KIST School professor professor appointment ceremony</div>
      <div class="gallery-board-view__date">2018.05.01</div>
    </div>
    <div class="gallery-board-view__body">
      <div class="gallery-board-view__article">
        <!-- 상세 내용 영역 (※ p,img 태그 임시 삽입) -->
        <img src="https://i.imgur.com/otgaIAv.jpg" alt=""><br><br>
        <p>The nomination ceremony for 20 students selected as professors of KU-KIST School was held at SKY Lounge, Korea University Media Center on Thursday, July 12th.<br><br>
          At the ceremony, KIST Director Mun Gil-joo awarded 10 members, who were members of Korea University, to the 10 members of KIST, respectively.<br><br>
          On Feb. 27, KIST and Korea University signed the "KU-KIST School Establishment and Education Faculties Agreement" to carry out joint research and joint education in mutual strengths.<br><br>
          Under the agreement, two professors who will be double-dealing with the two institutions were invited to the contest, and after 20 months of rigorous examination, 20 professors were selected and the appointment was awarded. We plan to lead practical school management tasks such as finding research subjects, organizing curriculum, and selecting students.<br><br><br>
          The professors who received the appointment on the day are as follows. </p>
        <!-- // 상세 내용 영역 -->
      </div>
    </div>
  </div>

  <div class="u-btn-wrap">
    <a href="" class="u-btn-board u-btn-board--prev u-btn-board--mobile-text-hide">Previous</a>
    <a href="<%- gnb[page].children[sub].children['목록'].link %>.html" class="u-btn">List</a>
    <a href="" class="u-btn-board u-btn-board--next u-btn-board--mobile-text-hide">Next</a>
  </div>
</div>