<%
let gnb = locals.require('gnb.json')
var page = 'schoollife'
let sub = 'Gallery'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="u-board-list-header">
    <div class="u-board-list-header__item u-board-list-header__item--right u-board-list-header__item--mobile-full">
      <%- locals.widget('board/_board-search.ejs') %>
    </div>
    <div class="u-board-list-header__item u-board-list-header__item--left">
      <%- locals.widget('board/_board-count.ejs', {count:'0'}) %>
    </div>
  </div>

  <div class="gallery-board">
    <!-- 결과 없음 : gallery-board__no-results -->
    <div class="gallery-board__no-results">No Results.</div>
    <!-- //결과 없음 -->
  </div>
</div>