<%
let gnb = locals.require('gnb.json')
var page = 'schoollife'
let sub = 'Gallery'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="u-board-list-header">
    <div class="u-board-list-header__item u-board-list-header__item--right u-board-list-header__item--mobile-full">
      <%- locals.widget('board/_board-search.ejs') %>
    </div>
    <div class="u-board-list-header__item u-board-list-header__item--left">
      <%- locals.widget('board/_board-count.ejs') %>
    </div>
  </div>

  <div class="gallery-board">
    <div class="gallery-board__list">
      <% for(var i=0; i<8; i++){ %>
      <div class="gallery-board__item">
        <a href="<%- gnb[page].children[sub].children['상세'].link %>.html" class="gallery-board__link">
          <div class="gallery-board__img-wrap">
            <img src="http://i.imgur.com/e3aAJUz.jpg" alt="" class="gallery-board__img">
          </div>
          <div class="gallery-board__title">KIST was established in 1966 as the first government KIST was established in 1966 as the first government</div>
          <div class="gallery-board__date">2018.05.01</div>
        </a>
      </div>
      <% } %>
    </div>
  </div>

  <%- locals.widget('board/_pagination.ejs', {option:'u-pagination--next'}) %>
</div>