<%
let gnb = locals.require('gnb.json')
var page = 'schoollife'
let sub = 'Benefits'
let heading = 'Student Benefits'
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../libs/bxslider/js/jquery.bxslider.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../js/schoollife.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="student-benefits">
    <div class="student-benefits__item student-benefits__item--nth-1">
      <div class="student-benefits__img-wrap student-benefits__img-wrap--right">
        <img src="../../images/schoollife/student-benefits-img1.png" alt="" class="student-benefits__img">
      </div>
      <div class="student-benefits__text-wrap">
        <div class="student-benefits__title-area">
          <div class="student-benefits__icon"></div>
          <div class="student-benefits__title">Full <br class="only-desktop">Scholarship</div>
        </div>
        <div class="student-benefits__text-area">
          <div class="student-benefits__text student-benefits__text--list">Tuition and registration costs are covered by KIST.</div>
          <div class="student-benefits__text student-benefits__text--list">The highest level of financial support in Korea is provided to help students focus on their study and research.</div>
          <div class="student-benefits__text student-benefits__text--list">Amount for a Ph.D student _ a minimum of USD 1,500 per month</div>
          <div class="student-benefits__text student-benefits__text--list">Amount for a Master student _ a minimum of USD 1,000 per month</div>
          <div class="student-benefits__text student-benefits__text--list">Amount for an bachelor student _ a minimum of USD 900 per month</div>
        </div>
      </div>
    </div>
    <div class="student-benefits__item student-benefits__item--nth-2">
      <div class="student-benefits__img-wrap student-benefits__img-wrap--left">
        <img src="../../images/schoollife/student-benefits-img2.png" alt="" class="student-benefits__img">
      </div>
      <div class="student-benefits__text-wrap">
        <div class="student-benefits__title-area">
          <div class="student-benefits__icon"></div>
          <div class="student-benefits__title">Student <br class="only-desktop">Welfare</div>
        </div>
        <div class="student-benefits__text-area">
          <div class="student-benefits__text student-benefits__text--list">Diverse academic / cultural events</div>
          <div class="student-benefits__text student-benefits__text--list">Free dinners for researchers working overtime</div>
          <div class="student-benefits__text student-benefits__text--list">Discounted condominium rates at many major tourist destinations in Korea</div>
          <div class="student-benefits__text student-benefits__text--list">First-rate dormitory facilities for 120 USD per month</div>
          <div class="student-benefits__text student-benefits__text--list">Comprehensive insurance</div>
        </div>
      </div>
    </div>
    <div class="student-benefits__item student-benefits__item--nth-3">
      <div class="student-benefits__img-wrap student-benefits__img-wrap--right">
        <img src="../../images/schoollife/student-benefits-img3.png" alt="" class="student-benefits__img">
      </div>
      <div class="student-benefits__text-wrap">
        <div class="student-benefits__title-area">
          <div class="student-benefits__icon"></div>
          <div class="student-benefits__title">Korean <br class="only-desktop">Languange Class</div>
        </div>
        <div class="student-benefits__text-area">
          <div class="student-benefits__text student-benefits__text--list">Support for learning Korean language</div>
          <div class="student-benefits__text student-benefits__text--list">Various on-line and off-line classes are provided for student’s adjustment in Korea <br class="only-desktop">and for academic life</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="u-page-full-bg u-page-full-bg--gray u-page-full-bg--next u-page-full-bg--content-last">
  <h2 class="u-page-title">Alumni Benefits</h2>
  <div class="alumni-headline">KIST School Partnership Project</div>
  <div class="u-page-summary">KIST has provided the KIST School alumni with the opportunity to participate in the KIST School Partnership<br class="only-desktop"> Project in order to stay connected, to maintain continuous and close relationship with KIST, and to support<br class="only-desktop"> their research activities. The selected alumni may request a budget of upto 14,000 USD for a project.</div>

  <div class="site-content__center">
    <div class="partnership">
      <div class="partnership__list js-partnership-slide-mobile">
        <div class="partnership__item partnership__item--nth-1 js-partnership-slide-item">
          <div class="partnership__title">Support for growing <br class="only-desktop">the S&T expert <br class="only-desktop">in the <br class="only-desktop">home country</div>
        </div>
        <div class="partnership__item partnership__item--nth-2 js-partnership-slide-item">
          <div class="partnership__title">Providing Co-work opportunity with the outstanding <br class="only-desktop">KIST researchers</div>
        </div>
        <div class="partnership__item partnership__item--nth-3 js-partnership-slide-item">
          <div class="partnership__title">Utilizing the cutting-edge infrastructure <br class="only-desktop">and global network <br class="only-desktop">of KIST</div>
        </div>
      </div>
    </div>
    <div class="alumni-table">
      <div class="alumni-table__row alumni-table__row--mobile-hide">
        <div class="alumni-table__th alumni-table__th--first">Eligibility</div>
        <div class="alumni-table__th">Period</div>
      </div>
      <div class="alumni-table__row">
        <div class="alumni-table__th alumni-table__th--mobile-show">Eligibility</div>
        <div class="alumni-table__td alumni-table__td--first">
          <div class="alumni-table__text alumni-table__text--dot">Should be KIST School alumni members, who are incumbent university faculty members or national/public institute researchers</div>
        </div>
        <div class="alumni-table__th alumni-table__th--mobile-show">Period</div>
        <div class="alumni-table__td">
          <div class="alumni-table__text alumni-table__text--dot">Begins from September, the funding term should be 12 months</div>
        </div>
      </div>
    </div>
  </div>
</div>