<%
let gnb = locals.require('gnb.json')
var page = 'faculty-major'
let sub = 'Search for KIST School Professors'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../libs/nice-select/nice-select.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="u-board-search2">
    <form action="" class="u-board-search2__form">
      <fieldset class="u-board-search2__fieldset">
      <legend class="hidden">Search for KIST School Professors</legend>
        <div class="u-board-search2__select-wrap">
          <select name="" id="" class="u-board-search2__select js-selectbox">
            <option data-display="Research Fields" value="Research Fields">Research Fields</option>
            <option value="Name">Name</option>
            <option value="KIST School Major">KIST School Major</option>
            <option value="Division">Division</option>
            <option value="Center">Center</option>
          </select>
        </div>
        <div class="u-board-search2__input-wrap">
          <!--input text 일 때-->
          <input type="text" name="" class="u-board-search2__input" title="Please enter a search term" placeholder="Search for KIST School Professors">
          <!--//input text 일 때-->
          <!--20180621추가 selectbox 일 때-->
          <div class="u-board-search2__select2" style="display:none;">
            <select name="" id="" class="u-board-search2__select-box">
              <option value="">All</option>
              <option value="">Bio-Medical Science & Technology</option>
              <option value="">Energy & Environment Technology</option>
              <option value="">Nano & Information Technology</option>
              <option value="">KIST Jeonbuk Institute of Advanced Composite Materials</option><!--가장 긴 텍스트 예시-->
            </select>
          </div>
          <!--//20180621추가 selectbox 일 때-->
          <input type="image" src="../../images/icon/icon-search-1.png" alt="Search" class="u-board-search2__submit">
        </div>
      </fieldset>
    </form>
  </div>

  <div class="u-board-list-header u-board-list-header--next">
    <div class="u-board-list-header__item">
      <%- locals.widget('board/_board-count.ejs', {count:'0'}) %>
    </div>
  </div>

  <div class="u-board-list professors-list">
    <div class="u-board-list__head u-board-list--mobile-hide">
      <div class="u-board-list__row">
        <div class="u-board-list__cell professors-list__th professors-list__th--nth-1">No</div>
        <div class="u-board-list__cell professors-list__th professors-list__th--nth-2">Name</div>
        <div class="u-board-list__cell professors-list__th professors-list__th--nth-3">KIST School Major</div>
        <div class="u-board-list__cell professors-list__th professors-list__th--nth-4">Research Fields</div>
        <div class="u-board-list__cell professors-list__th professors-list__th--nth-5">Email</div>
      </div>
    </div>
    <div class="u-board-list__body u-board-list--mobile-block">

    </div>
  </div>
  <!-- 결과 없음 시 노출 -->
  <div class="u-board-list-null">No Results.</div>
  <!-- //결과 없음 시 노출 -->
</div>