<%
let gnb = locals.require('gnb.json')
var page = 'faculty-major'
let sub = 'Division of Bio-Medical Science & Technology'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<%- locals.widget('faculty-major/_professors-intro.ejs', {sub:sub}) %>

<div class="site-content__center">
  <div class="u-section">
    <div class="u-section__title">Chief major professor</div>
    <%- locals.widget('faculty-major/_chief-professor.ejs', {sub:sub}) %>
  </div>
  <div class="u-section">
    <div class="u-section__title">Concentration</div>
    <div class="u-content-box u-content-box--both-sides-empty">
      <%- locals.widget('faculty-major/_concentration.ejs', {sub:sub}) %>
    </div>
  </div>
  <div class="u-section">
    <div class="u-section__title">Main Issues</div>
    <div class="u-content-box u-content-box--both-sides-empty">
      <%- locals.widget('faculty-major/_issues.ejs', {sub:sub}) %>
    </div>
  </div>
  <div class="u-section">
    <div class="u-section__title">Professors</div>
    <div class="u-board-list-header">
      <div class="u-board-list-header__item">
        <%- locals.widget('board/_board-count.ejs') %>
      </div>
    </div>

    <%- locals.widget('faculty-major/_professors-list.ejs', {count:5, page:page}) %>

    <%- locals.widget('board/_pagination.ejs', {option:'u-pagination--next'}) %>
  </div>
</div>