<%
let gnb = locals.require('gnb.json')
var page = 'faculty-major'
let sub = 'Search for KIST School Professors'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('link','<link rel="stylesheet" href="../../css/popup.css">','append') %>
<% locals.block('footerScript','<script src="../../libs/nice-select/nice-select.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="site-content__center">
  <div class="u-section">
    <table class="u-table-row u-table-row__mobile-block professors-table">
      <colgroup>
        <col width="190px">
        <col width="210px">
        <col width="315px">
        <col width="210px">
        <col width="315px">
      </colgroup>
      <tbody class="u-table-row__mobile-block">
      <tr class="u-table-row__mobile-block">
        <td class="u-table-row__td u-table-row__mobile-block professors-table__img-wrap" rowspan="3"><img src="http://i.imgur.com/vvRvTa3.jpg" alt="" class="professors-table__id-picture"></td>
        <th class="u-table-row__th u-table-row__mobile-block professors-table__mobile-name-title">Name</th>
        <td class="u-table-row__td u-table-row__mobile-block professors-table__mobile-name">Hong gil dong</td>
        <th class="u-table-row__th u-table-row__mobile-block">Position<br class="only-desktop"> (full time/adjunct)</th>
        <td class="u-table-row__td u-table-row__mobile-block">Full time Professor</td>
      </tr>
      <tr class="u-table-row__mobile-block">
        <th class="u-table-row__th u-table-row__mobile-block">KIST School Major</th>
        <td class="u-table-row__td u-table-row__mobile-block">Bio-Medical Science and Technology</td>
        <th class="u-table-row__th u-table-row__mobile-block">Division / Center</th>
        <td class="u-table-row__td u-table-row__mobile-block">Biomedical Research Institute / Center for Bionics</td>
      </tr>
      <tr class="u-table-row__mobile-block">
        <th class="u-table-row__th u-table-row__mobile-block">Email</th>
        <td class="u-table-row__td u-table-row__mobile-block">iyoun@kist.re.kr</td>
        <th class="u-table-row__th u-table-row__mobile-block">Telephone</th>
        <td class="u-table-row__td u-table-row__mobile-block">+82.2.958.5913</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="u-section">
    <div class="u-section__title">Research Field & Research Interest</div>
    <div class="u-content-box">
      <div class="u-content-text">- Biomedical Engineering, Biomedical Technology, Man-Machine Interface</div>
    </div>
    <!-- 180615 추가 -->
    <div class="u-content-box u-content-box--next">
      <div class="u-content-text">- aaaaaaaaaaaaaaaaaaaaaaa</div>
    </div>
    <!-- 180615 이미지 목록 영역 분리 -->
    <div class="u-content-box u-content-box--next">
      <div class="related-images">
        <div class="related-images__item"><img src="http://i.imgur.com/8BADKjX.jpg" alt="" class="related-images__img"></div>
        <div class="related-images__item"><img src="http://i.imgur.com/osB7Iu1.jpg" alt="" class="related-images__img"></div>
        <div class="related-images__item"><img src="http://i.imgur.com/dpBwreu.jpg" alt="" class="related-images__img"></div>
        <div class="related-images__item"><img src="http://i.imgur.com/ThOfl4i.jpg" alt="" class="related-images__img"></div>
        <div class="related-images__item"><img src="http://i.imgur.com/oIaQJTc.jpg" alt="" class="related-images__img"></div>
      </div>
    </div>
    <!-- // 180615 이미지 목록 영역 분리 -->
  </div>
  <div class="u-section">
    <div class="u-section__title">Qualifications</div>
    <div class="u-content-box">
      <div class="u-content-text">- bbbbbbbbbbbbbbbb</div>
    </div>
  </div>
  <!-- // 180615 추가 -->
  <div class="u-section">
    <div class="u-section__title">Research Project</div>
    <div class="u-content-box">
      <div class="u-content-text">
        - Development of personalized bio-signals analysis techniques and algorithm for muscle stimulation<br>
        - Development of dual-band type stress monitoring and management system for life guardians service<br>
        - Development of duel-band type stress monitoring and management system for life guardians service<br>
        - Development of artificial nerve networking system for manipulating nerve signals from spinal cord<br>
        - Development of man-machine interface technology using 3-dimensional facial pattern recognition system to improve the quality of life for the handicapped<br>
        - Development of molecular imaging system and diagnostic kit for the early diagnosis and evaluation of therapeutic response in rheumatoid arthritis a feedback control system for neural stimulations and recordings
      </div>
    </div>
  </div>
  <div class="u-section">
    <div class="u-section__title">Paper Publication</div>
    <div class="u-board-list paper-publication-list">
      <div class="u-board-list__head u-board-list--mobile-hide">
        <div class="u-board-list__row">
          <div class="u-board-list__cell paper-publication-list__th paper-publication-list__th--nth-1">No</div>
          <div class="u-board-list__cell paper-publication-list__th paper-publication-list__th--nth-2">Title</div>
          <div class="u-board-list__cell paper-publication-list__th paper-publication-list__th--nth-3">Journal</div>
          <div class="u-board-list__cell paper-publication-list__th paper-publication-list__th--nth-4">Author</div>
          <div class="u-board-list__cell paper-publication-list__th paper-publication-list__th--nth-6">Abstract</div>
        </div>
      </div>
      <div class="u-board-list__body u-board-list--mobile-block">
        <% for(var i=5; i>0; i--){ %>
        <div class="u-board-list__row u-board-list--mobile-block paper-publication-list__mobile-list">
          <div class="u-board-list__cell paper-publication-list__td u-board-list__cell--center u-board-list--mobile-hide"><%- i %></div>
          <div class="u-board-list__cell paper-publication-list__td paper-publication-list__td--mobile-first u-board-list--mobile-block" data-title="Title">Zonal Variations in the Three-Dimensional Morphology of the Chondron Measured In Situ using Confocal Microscopy</div>
          <div class="u-board-list__cell paper-publication-list__td u-board-list__cell--center u-board-list--mobile-block font-ko" data-title="Journal">WC2006 세계의공,의학물리학회</div>
          <div class="u-board-list__cell paper-publication-list__td u-board-list__cell--center u-board-list--mobile-block font-ko" data-title="Author">윤인찬,최재봉,최귀원</div>
          <div class="u-board-list__cell paper-publication-list__td u-board-list__cell--center paper-publication-list__mobile-btn-wrap u-board-list--mobile-block">
            <a href="#none" data-popup="#layer-popup-a" class="u-board-list__link paper-publication-list__mobile-btn-abstract">
              <img src="../../images/icon/icon-abstract.png" alt="" class="paper-publication-list__img-abstract paper-publication-list__img-abstract--mobile">
              <span class=" paper-publication-list__mobile-btn-text">Abstract</span>
            </a>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <%- locals.widget('board/_pagination.ejs', {option:'u-pagination--next'}) %>
  </div>
</div>

<div class="layer-popup" id="layer-popup-a">
  <div class="layer-popup__wrap">
    <div class="popup">
      <div class="popup__header popup__header_fixed">
        <a class="popup__close" href="#none" data-popup-close="#layer-popup-a">닫기</a>
        <h1 class="popup__title">Abstract</h1>
      </div>
      <div class="popup__content">
        <div class="popup__inner">The goal of the current study was to investigate the possibility of sensory event detection from the afferent signal recorded by using a multichannel micro-electrode on the dorsal root ganglion without spike sorting. We particularly considered to extract the most informative feature vector from recorded neural signals using feature combination of previous studies such as electroneurograhpy signals, electromyography signals and neural spikes. Principal component analysis was used to reduce dimensionality of feature vector, and multilayer perceptron classifier was used to detect sensory events. In this study, a novel unsorted spike-based feature extraction methods was proposed to enhance the detection accuracy of sensory events.</div>
      </div>
    </div>
  </div>
</div>
<div class="dimmed"></div>