<%
let list = locals.require('faculty-major-division-list.json');
let sub = locals.entry.sub || '';
%>
<table class="u-table-row u-table-row__mobile-block professors-table">
  <colgroup>
    <col width="210px">
    <col width="315px">
    <col width="210px">
    <col width="auto">
  </colgroup>
  <tbody class="u-table-row__mobile-block">
  <tr class="u-table-row__mobile-block">
    <th class="u-table-row__th u-table-row__mobile-block">Name</th>
    <td class="u-table-row__td u-table-row__mobile-block" colspan="3"><%- list[sub].professor.name %></td>
  </tr>
  <tr class="u-table-row__mobile-block">
    <th class="u-table-row__th u-table-row__mobile-block">Field of Research</th>
    <td class="u-table-row__td u-table-row__mobile-block" colspan="3">
      <% list[sub].professor.research.forEach(function(item){ %>
      <div class="professors-table__research-item"><%- item %></div>
      <% }) %>
    </td>
  </tr>
  <tr class="u-table-row__mobile-block">
    <th class="u-table-row__th u-table-row__mobile-block">Email</th>
    <td class="u-table-row__td u-table-row__mobile-block"><%- list[sub].professor.email %></td>
    <th class="u-table-row__th u-table-row__mobile-block">Telephone</th>
    <td class="u-table-row__td u-table-row__mobile-block"><%- list[sub].professor.tel %></td>
  </tr>
  </tbody>
</table>