<%
let list = locals.require('faculty-major-division-list.json');
let sub = locals.entry.sub || '';
%>
<div class="concentration">
  <% list[sub].concentration.forEach(function (item) { %>
  <div class="concentration__item">
    <div class="concentration__box"><span class="concentration__text"><%- item %></span></div>
  </div>
  <% }) %>
</div>