<%
let list = locals.require('faculty-major-division-list.json');
let sub = locals.entry.sub || '';
%>
<div class="issues">
  <% list[sub].issues.summary.forEach(function (item, index) { %>
  <div class="issues__item">
    <img src="../../images/faculty-major/<%- list[sub].issues.img %><%- index+1 %>.jpg" alt="" class="issues__img">
    <div class="issues__text"><%- item %></div>
  </div>
  <% }) %>
</div>