<%
let list = locals.require('faculty-major-division-list.json');
let sub = locals.entry.sub || '';
%>
<div class="division-section-full division-section-full--<%- list[sub].img %>">
  <div class="site-content__center">
    <div class="professor-intro">
      <div class="professor-intro__item professor-intro__img-wrap">
        <img src="../../images/faculty-major/<%- list[sub].img %>.jpg" alt="" class="professor-intro__img">
      </div>
      <div class="professor-intro__item">
        <div class="professor-intro__text-box">
          <div class="professor-intro__title"><%- sub %></div>
          <div class="professor-intro__text"><%- list[sub].summary %></div>
        </div>
      </div>
    </div>
  </div>
</div>