<%
let gnb = locals.require('gnb.json')
let page = locals.entry.page || '';
let count = locals.entry.count || '';
%>
<div class="u-board-list professors-list">
  <div class="u-board-list__head u-board-list--mobile-hide">
    <div class="u-board-list__row">
      <div class="u-board-list__cell professors-list__th professors-list__th--nth-1">No</div>
      <div class="u-board-list__cell professors-list__th professors-list__th--nth-2">Name</div>
      <div class="u-board-list__cell professors-list__th professors-list__th--nth-3">KIST School Major</div>
      <div class="u-board-list__cell professors-list__th professors-list__th--nth-4">Research Fields</div>
      <div class="u-board-list__cell professors-list__th professors-list__th--nth-5">Email</div>
    </div>
  </div>
  <div class="u-board-list__body u-board-list--mobile-block">
    <% for(var i=count; i>0; i--){ %>
    <div class="u-board-list__row u-board-list--mobile-block u-board-list--mobile-list">
      <div class="u-board-list__cell u-board-list__cell--center u-board-list--mobile-hide"><%- i %></div>
      <div class="u-board-list__cell u-board-list--mobile-block">
        <a href="<%- gnb[page].children['Search for KIST School Professors'].children['상세'].link %>.html" class="u-board-list__link">
          <img src="http://i.imgur.com/vvRvTa3.jpg" alt="" class="u-board-list__img u-board-list__img--id-picture">
        </a>
        <span class="u-board-list__name u-board-list--mobile-block professors-list__name" data-title="Name">
            <a href="<%- gnb[page].children['Search for KIST School Professors'].children['상세'].link %>.html" class="u-board-list__link">Hong gil dong</a>
            <a href="mailto:iyoun@kist.re.kr" class="u-board-list__email u-board-list__email--mobile"><img src="../../images/icon/icon-email-mobile.png" alt="" class="u-board-list__img"></a>
          </span>
      </div>
      <div class="u-board-list__cell u-board-list--mobile-block u-board-list--mobile-wrap professors-list__major" data-title="KIST School Major">
        <a href="<%- gnb[page].children['Search for KIST School Professors'].children['상세'].link %>.html" class="u-board-list__link">Bio-Medical Science and Technology</a>
      </div>
      <div class="u-board-list__cell u-board-list--mobile-inline-block" data-title="Research Fields">
        <a href="<%- gnb[page].children['Search for KIST School Professors'].children['상세'].link %>.html" class="u-board-list__link">Biomedical Engineering, Biomedical Technology, Man-Machine Interface Biomedical Engineering, Biomedical Technology, Man-Machine Interface</a>
      </div>
      <div class="u-board-list__cell u-board-list__cell--center u-board-list--mobile-hide"><a href="mailto:iyoun@kist.re.kr" class="u-board-list__email"><img src="../../images/icon/icon-email-desktop.png" alt="" class="u-board-list__img"></a></div>
    </div>
    <% } %>
  </div>
</div>