// 메인페이지에 사용되는 스타일 모음

@import 'variables/variables';
@import 'mixins/mixins';

.main { /*background-color: #f4f7f8;*/
  .wrapper { height:auto; display:block; opacity: 0; }
  .wrapper__row { display:block; }
  @media (max-width:$tablet-size) {
    .site-header { height:0; }
  }
}

.site-main { width:100%; position:relative; }

.js-section { box-sizing:border-box; position:relative; }
.main-section {
  &--visual { position:relative; }
  &--notice { padding:120px 0; }
  &--news { border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; }
  &--major { padding:120px 0; background-color: #f4f7f8; }
  &--gallery { padding:120px 0; }
  &__heading { position:relative; width: 1240px; margin:-0.16em auto 0; font-size:30px; font-weight: $bold; color:#363636; text-align: center; line-height: 1;
    &:before { content:''; display:block; height:0; position:absolute; top:0.5em; left:0; right:0; z-index:1; border-top:1px solid #dbdee4; }
    &-text { position:relative; z-index:2; display:inline-block; line-height: inherit; padding:0 1em; background-color: #fff;
      &--gray { background-color: #f4f7f8; }
    }
  }
  @media (max-width:$tablet-size) {
    &--notice { padding:50px 0; }
    &--major { padding-top:50px; padding-bottom:82px; }
    &--gallery { padding:50px 0; }
    &__heading { width:auto; margin-left:12px; margin-right:12px; font-size: 18px; height:1em;
      &-text { padding:0 15px; }
    }
  }
}

.main-visual { width:100%; height:640px; position:relative; overflow: hidden;
  &__item { height:inherit; background-position: 50% top; background-size: cover;
    &--nth-1 { background-image:url(../images/main/main-visual-desktop.jpg); }
    &--nth-2 { background-image:url(../images/main/main-visual-desktop-2.jpg); }
    &--nth-3 { background-image:url(../images/main/main-visual-desktop-3.jpg); }
  }
  &__inner { display:table-cell; width:1%; height:inherit; vertical-align: middle; text-align: center; color:#fff; }
  &__headline { font-size:64px; font-weight: $medium; line-height: .9; }
  &__small { font-size:36px; font-weight: $light; }
  &__summary-wrap { max-width:820px; margin:0.8125em auto 2.6875em; height:auto; font-size:16px; line-height: 1.5; text-align: center; }
  &__summary { height:inherit; }
  &__text-cell { display:table-cell; height:inherit; vertical-align: middle; box-sizing: border-box; padding:0 0.625em; }
  @media only screen and (max-width:$tablet-size) { width:auto; height:430px; /*padding:45px 12px 120px;*/
    &__item {
      &--nth-1 { background-image:url(../images/main/main-visual-mobile.png); }
      &--nth-2 { background-image:url(../images/main/main-visual-mobile-2.png); }
      &--nth-3 { background-image:url(../images/main/main-visual-mobile-3.png); }
    }
    &__inner { height:auto; padding:45px 13px 0; }
    &__headline { margin-top:45px; font-size:18px; line-height: 1.388; }
    &__small { font-size:15px; }
    &__summary-wrap { max-width:100%; margin:1em auto 1.25em; font-size:12px; }
    &__summary { width:100%; max-width:100%; }
    &__text-cell { padding-left:0; padding-right:0; }
  }
}
.main-visual-wrap { position:relative; @include block;
  .bx-controls { animation-name:controls-fade-in; animation-duration:1s; animation-timing-function:ease-out; animation-fill-mode: forwards; animation-delay: .4s;
    &:not(:optional) { opacity:0; }
    @at-root {
      @keyframes controls-fade-in {
        0% { opacity:0; }
        100% { opacity:1; }
      }
    }
  }
  .bx-controls-direction {
    & a.bx-prev, & a.bx-next { position:absolute; top:80px; bottom:0; margin:auto; display:block; width:50px; height:50px; font-size:0; color:transparent; background-color: rgba(#fff, .1); border-width:1px; border-style: solid; border-color: rgba(#fff, .3); box-sizing: border-box;
      &:before { content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; width:10px; height:10px; border-style:solid; border-width:0 2px 2px 0; border-color: #fffbfb; }
      &:hover { background-color: rgba(#fff, .3); }
    }
    & a.bx-prev { left:45px;
      &:before { right:-4px; transform: rotate(135deg); }
    }
    & a.bx-next { right:45px;
      &:before { left:-4px; transform: rotate(-45deg); }
    }
    @media only screen and (max-width:$tablet-size){
      & a.bx-prev, & a.bx-next { display:none; }
    }
  }
  .bx-pager { font-size:0; position:absolute; left:0; right:0; bottom:188px; text-align: center;
    & .bx-pager-item { display:inline-block; }
    & .bx-pager-link { display:block; width:10px; height:10px; padding:5px;
      &:before { content:''; display:block; width:100%; height:inherit; border-radius: 5px; background-color:rgba(#fff, .5); }
      &.active:before  { background-color: #e54125; }
    }
    @media only screen and (max-width:$tablet-size){ bottom:140px;
      & .bx-pager-link { width:7px; height:7px;
        &:before { border-radius: 7px; }
      }
    }
  }
}

// search
.main-search { width:820px; margin:58px auto 0; z-index:10; position:absolute; left:0; right:0; bottom:60px;
  &__fieldset { margin:0; padding:0; border:none; display: table; width:100%;
    legend { display:none; }
  }
  &__select-wrap { display:table-cell; vertical-align: top; }
  &__select { vertical-align: top;box-sizing: border-box;cursor: pointer;display: inline-block;font-family: inherit;font-size: 16px;font-weight: inherit;width:210px;height: 70px;line-height: 60px;padding-left: 20px;padding-right: 30px;position: relative;text-align: left;user-select: none;white-space: nowrap;color:#fff;background-color: rgba(#fff,.1); outline: none; border-style:solid; border-width:5px 0 5px 5px; border-color:$orange;
    &:before { content:''; display:block; width:5px; height:5px; margin-top:-4px; pointer-events: none; position:absolute; top:50%; right:22px; border-width:0 1px 1px 0; border-style:solid; border-color:rgba(#fff,.5);transform: rotate(45deg); } // 셀렉트박스 화살표
    &.open:before { transform: rotate(-135deg); margin-top:-2px; } // 셀렉트박스 화살표
    &:after { content:''; width:0; height:100%; display:inline-block; position:absolute; right:0; border-right:1px solid rgba(#fff, .2); } // 셀렉트박스 line
    & .list { box-sizing: border-box;opacity: 0;margin:5px 0 0;overflow: hidden;padding: 0;position: absolute;top: 100%;left: -5px;right:0;z-index: 9; visibility: hidden; }
    &.open .list { opacity:1;pointer-events: auto;visibility: visible; }
    & .option { cursor: pointer;line-height: 60px;width:100%;padding-left: 20px;padding-right: 20px;text-align: left;background-color: #222; box-sizing: border-box;
      &.focus { background-color: lighten(#363636,2%); }
      &:hover { background-color: $orange; }
    }
  }
  //시스템 셀렉트박스
  &__select2 { display: inline-block;position: relative;
    &:before { content:''; display:block; width:5px; height:5px; margin-top:-4px; pointer-events: none; position:absolute; top:50%; right:22px; border-width:0 1px 1px 0; border-style:solid; border-color:rgba(#fff,.5);transform: rotate(45deg); } // 셀렉트박스 화살표
    &.open:before { transform: rotate(-135deg); margin-top:-2px; } // 셀렉트박스 화살표
  }
  &__select-box { vertical-align: top;box-sizing: border-box;cursor: pointer;display: inline-block;font-family: inherit;font-size: 16px;font-weight: inherit;width:510px;height: 70px;line-height: 60px;padding-left: 20px;padding-right: 20px;text-align: left;user-select: none;white-space: nowrap;color:#fff;background-color: rgba(#fff,.1); outline: none; border-style:solid; border-width:5px 0 5px 0; border-color:$orange;appearance:none;border-radius: 0;
    &::-ms-expand { display:none; }
    & option { color:$black-body; }
    & option:checked { color:#fff; }
  }

  &__input-wrap { display:table-cell; vertical-align: top; width:1000px; text-align: center; font-size:0; }
  &__input { width:100%; max-width:510px; height:70px; box-sizing: border-box; padding:0 0 0 19px; background-color: transparent; font-size:16px; color:#fff; border-width:5px 0; border-style: solid; border-color: $orange; vertical-align: top; background-color: rgba(#fff, 0.1); border-radius: 0; appearance:none; line-height: normal;
    &::placeholder { color:#fff; }
  }
  &__submit { padding:18px 33px; background-color: $orange; vertical-align: top; }
  @media only screen and (max-width:$tablet-size){ width:auto; margin-top:20px; padding:0 12px; bottom:35px;
    &__select-wrap { display:block; }
    &__select { width:100%; height:40px; border-width: 3px; font-size:13px; line-height: 34px; padding-left:13px; padding-right:28px;
      &:before { width:10px; height:10px; margin-top:-8px; right:18px; }
      &:after { display:none; }
      & .option { line-height:40px; background-color: #222;
        &.focus { background-color: $orange; }
      }
      & .list { margin-top:3px;left: -3px;right:-3px; }
    }
    //시스템 셀렉트박스
    &__select2 { width:100%;
      &:before { width:10px; height:10px; margin-top:-8px; right:18px; }
    }
    &__select-box { text-overflow: ellipsis;overflow: hidden;font-size: 13px;width:100%;height: 40px;line-height: 34px;padding-left: 13px;padding-right: 32px;border-width:3px 0 3px 3px; }

    &__input-wrap { position:relative; display:block; width:100%; padding-right:50px; margin-top:5px; box-sizing: border-box; }
    &__input { max-width:100%; height:40px; padding-left:13px; padding-right:13px; font-size:13px; border-width:3px 0 3px 3px; }
    &__submit { width:17px; height:17px; padding:12px 17px 11px 16px; position:absolute; right:0; top:0; border-radius: 0; appearance:none; line-height: normal; }
  }
}

// notice
.main-notice{ max-width:$site-width; margin:65px auto 0;
  &__list { font-size:0; margin:0 -10px; }
  &__item { display:inline-block; box-sizing: border-box; padding:0 10px; width:25%; vertical-align: top; }
  &__link { display:block; text-decoration: none; }
  &__title { font-size:18px; line-height: 1.333; height:1.333em*2; overflow: hidden; margin-bottom:0.666em; font-weight: 500; color:#363636; }
  &__date { font-size:14px; line-height: 1.333; color:#888; }
  &__summary { text-align:justify; word-break: break-all; font-size:14px; line-height: 1.857; height:1.857em*3; overflow: hidden; margin-top:.714em; color:#767676; }
  &__more-btn { display:block; width:36px; height:36px; margin:62px auto 0; position:relative; font-size: 0;
    &:before { content:''; display:inline-block; width:100%; height:0; position:absolute; top:0; bottom:0; margin:auto; border-width:2px 0 0; border-style:solid; border-color:$orange; }
    &:after { content:''; display:inline-block; width:0; height:inherit; position:absolute; left:0; right:0; margin:auto; border-width:0 2px 0 0; border-style:solid; border-color:$orange; }
    &:hover {
      &:before, &:after { border-color:lighten($orange, 10%); }
    }
  }
  @media only screen and (max-width:$tablet-size){ margin-top:28px; padding:0 12px;
    &__list { margin-left:auto; margin-right:auto; }
    &__item { padding:0; width:50%; }
    &__title { font-size:13px; line-height: 1.231; height:1.231em*3; }
    &__date { font-size:12px; }
    &__summary { font-size:12px; line-height: 1.334; height:1.332em*4; }
    &__more-btn { width:18px; height:18px; margin-top:20px;
      &:before { border-width:1px 0 0; }
      &:after { border-width:0 1px 0 0; }
    }
    .main-notice-slide-wrap {
      @media only screen and (max-width:$tablet-size){
        .bx-pager { font-size:0; text-align: center; margin-top:16px;
          & .bx-pager-item { display:inline-block; }
          & .bx-pager-link { display:block; width:7px; height:7px; padding:5px;
            &:before { content:''; display:block; width:100%; height:inherit; border-radius: 7px; background-color:rgba(#000, .5); }
            &.active:before  { background-color: #e54125; }
          }
        }
      }
    }
  }
}

// news
.main-news { max-width:$site-width; height:40px; padding:13px 0; margin:0 auto; font-size:0; overflow: hidden;
  .main-news-title-wrap { width:945px; padding-left:20px; box-sizing: border-box; }
  .main-news-date-wrap { width:105px; padding-left:20px; box-sizing: border-box; text-align: right; }
  &__component { display:inline-block; vertical-align: middle; height:inherit; }
  &__heading { width:85px; font-size:18px; line-height: 2.222; font-weight: $medium; color:$orange; }
  &__title-item { width:100%; font-size:18px; line-height: 2.222; height:2.222em; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color:#363636; font-weight: $medium; }
  &__link { text-decoration: none; color: inherit; }
  &__date-item { font-size:14px; line-height: 2.857; white-space: nowrap; color:$gray; font-weight: $regular; }
  &__controls { width:105px; padding-left:20px; box-sizing: border-box; text-align: right; }
  &__bx-prev, &__bx-next { display:inline-block; position:relative; width:40px; height:40px; box-sizing: border-box; border:1px solid #e1e1e1;
    &:before { content:''; display:inline-block; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; width:14px; height:14px; box-sizing: border-box; border-style:solid; border-color:#888; transform: rotate(-45deg); }
    &:hover { background-color: darken(#fff, 5%); }
  }
  &__bx-next { margin-left:-1px; }
  &__bx-prev:before { top:8px; border-width:1px 1px 0 0; }
  &__bx-next:before { top:-8px; border-width:0 0 1px 1px; }
  @media only screen and (max-width:$tablet-size){ position:relative; height:auto; box-sizing: border-box; padding:5px 12px 14px;
    .main-news-title-wrap { display:block; width:auto; padding-left:0; margin-top:7px; }
    .main-news-date-wrap { padding-left:0; text-align: left; position:absolute; left:72px; top:5px; }
    &__heading { width:60px; font-size:15px; line-height: 30px; }
    &__title-item { font-size: 13px; line-height: 1.385; height:1.385em*2; white-space: normal; word-break: keep-all; word-wrap: break-word; @include line-clamp(2, 1.385); }
    &__date-item { font-size: 13px; line-height: 30px; }
    &__controls { width:auto; padding-left:0; position:absolute; right:12px; top:5px; }
    &__bx-prev, &__bx-next { width:30px; height:30px;
      &:before { width:7px; height:7px; }
    }
    &__bx-prev:before { top:4px; }
    &__bx-next:before { top:-4px; }
  }
}

// major
.main-major { width:100%; margin-top:65px;
  $this:&;
  &__list { font-size:0; text-align: center; counter-reset: main-major__list; color:#fff; overflow: hidden; line-height: 0; }
  &__item { position:relative; counter-increment: main-major__list; display:inline-block; width:33.333%; vertical-align: top; cursor: pointer; }
  &__link { text-decoration: none; color: inherit; }
  &__img { width:100%; }
  &__box { box-sizing: border-box; padding:10px; position:absolute; top:0; left:0; right:0; bottom:0;
    #{$this}__item.is-over & { background-color: rgba($orange, .7); transition:background-color ease-in-out .3s; }
  }
  &__text-table { display:table; width:100%; height:100%; }
  &__text-cell { display:table-cell; vertical-align: middle; font-size:48px;
    @media only screen and (min-width:$tablet-size) and (max-width:1919px){
      font-size:36px;
      //.only-desktop { display:none; }
    }
  }
  &__title { font-size:75%; line-height: 1.222; font-weight: $bold;
    &:before { content:counter(main-major__list, decimal-leading-zero); display:inline-block; width:100%; margin-top:-.2em; font-size:166.6%; line-height: 1.1; }
    #{$this}__item.is-over & { font-size:100%; }
    #{$this}__item.is-over &:before { display:none; }
  }
  &__over { max-height:0; overflow: hidden; margin-top:.42em;
    #{$this}__item.is-over & { max-height:300px; transition:max-height ease-in-out .5s; }
  }
  &__summary { font-size:33.33%; line-height: 1.5; animation: none;
    #{$this}__item.is-over &:not(:optional) { opacity: 0; animation: main-major-summary-on .5s ease-out .3s forwards;
      @at-root {
        @keyframes main-major-summary-on {
          0% { opacity:0; }
          100% { opacity:1; }
        }
      }
    }
  }
  &__more-btn { display:block; width:160px; white-space: nowrap; margin:3.143em auto 0; padding:0; font-size:29.1%; font-weight: $bold; line-height: 3.571; color:inherit; text-decoration: none; border-width:1px; border-style:dashed; border-color:#fff; border-radius: 5px; background-color: transparent; text-transform: uppercase; animation: none; cursor: pointer;
    &[type=button] { appearance:none; }
    #{$this}__item.is-over &:not(:optional) { opacity:0; animation: main-major-button-on .5s ease-out .5s forwards;
      @at-root {
        @keyframes main-major-button-on {
          0% { opacity:0; }
          100% { opacity:1; }
        }
      }
    }
    &:hover { background-color: rgba(255, 255, 255, 0.1); transition: background-color ease-in-out .3s; }
  }
  @media only screen and (max-width:$tablet-size){ margin-top:32px;
    &__title { font-size:24px;
      &:before { display:none; }
    }
    &__over { max-height: 200px; margin-top:0; }
    &__summary { display:none; }
    &__more-btn { width:140px; height:40px; line-height:40px; font-size:13px; margin-top:2.1em; opacity: 1; }
  }
  .main-major-slide-wrap { @include block; position:relative;
    @media only screen and (max-width:$tablet-size){
      .bx-viewport { width:90% !important; overflow: visible !important; }
      .bx-controls-direction {
        & a.bx-prev, & a.bx-next { position:absolute; top:0; bottom:0; margin:auto; display:block; width:25px; height:25px; font-size:0; color:transparent; background-color: rgba(#fff, .1); border-width:1px; border-style: solid; border-color: rgba(#fff, .3); box-sizing: border-box;
          &:before { content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; width:5px; height:5px; border-style:solid; border-width:0 2px 2px 0; border-color: #fffbfb; }
          &:hover { background-color: rgba(#fff, .3); }
        }
        & a.bx-prev { left:0;
          &:before { right:-2px; transform: rotate(135deg); }
        }
        & a.bx-next { right:0;
          &:before { left:-2px; transform: rotate(-45deg); }
        }
      }
      .bx-pager { font-size:0; text-align: center; margin-top:0; position:absolute; left:0; bottom:-37px; right:0;
        & .bx-pager-item { display:inline-block; }
        & .bx-pager-link { display:block; width:7px; height:7px; padding:5px;
          &:before { content:''; display:block; width:100%; height:inherit; border-radius: 7px; background-color:rgba(#000, .5); }
          &.active:before  { background-color: #e54125; }
        }
      }
    }
  }
}

// gallery
.main-gallery { width:100%; margin-top:65px;
  $this:&;
  &__list { font-size:0; text-align: center; color:#fff; /*overflow: hidden;*/ line-height: 0; }
  &__item { position:relative; display:inline-block; width:20%; vertical-align: top; cursor: pointer; }
  &__link { text-decoration: none; color:inherit; }
  &__img { width:100%; }
  &__box { box-sizing: border-box; padding:10px; position:absolute; top:0; left:0; right:0; bottom:0;
    #{$this}__item:hover & { background-color: rgba($orange, .8); transition:background-color ease-in-out .3s; }
  }
  &__text-table { display:table; width:100%; height:100%; }
  &__text-cell { display:table-cell; vertical-align: middle; font-size:18px;
    @media only screen and (min-width:$tablet-size) and (max-width:1919px){ font-size:16px; }
  }
  &__over { display: none;
    #{$this}__item.is-over & { display: block; }
  }
  &__title { font-size:100%; line-height: 1.333; font-weight: $medium; animation: none;
    &:not(:optional) { opacity: 0; }
    #{$this}__item.is-over &:not(:optional) { opacity: 0; animation: main-gallery-title-on .5s ease-out .3s forwards;
      @at-root {
        @keyframes main-gallery-title-on {
          0% { opacity:0; }
          100% { opacity:1; }
        }
      }
    }
  }
  &__more-btn { display:block; width:130px; white-space: nowrap; margin:3.143em auto 0; font-size:72.22%; font-weight: $medium; line-height: 3.076; color:inherit; text-decoration: none; border-width:1px; border-style:dashed; border-color:#fff; border-radius: 5px; text-transform: uppercase; animation: none;
    &:not(:optional) { opacity: 0; }
    #{$this}__item.is-over &:not(:optional) { opacity: 0; animation: main-gallery-btn-on .5s ease-out .5s forwards;
      @at-root {
        @keyframes main-gallery-btn-on {
          0% { opacity:0; }
          100% { opacity:1; }
        }
      }
    }
    &:hover { background-color: rgba(255, 255, 255, 0.1); transition: background-color ease-in-out .3s; }
  }
  @media only screen and (max-width:$tablet-size){ margin-top:32px;
    /*&__rail { width:100%; overflow-y:hidden; overflow: auto; white-space:nowrap; overflow-scrolling: touch; scroll-snap-type: mandatory; scroll-snap-destination: 0 20%; }
    &__list { margin-top:27px; min-width:210%; text-align: left; color:#767676; }*/
    &__list { width:100%; text-align: left; color:#767676; overflow-y:hidden; overflow-x: auto; white-space:nowrap; @include scrollsnap-x-container; }
    &__item { width:45%; scroll-snap-align:start; }
    &__box { position:static; padding: 8px 13px;
      #{$this}__item:hover & { background-color: transparent; transition: none; }
    }
    &__text-cell { font-size:12px; }
    &__over { display: block;
      #{$this}__item.is-over & { animation:none; }
    }
    &__title { height:32px; overflow: hidden; font-size:inherit; opacity: 1; white-space: normal; word-break: keep-all; word-wrap: break-word; @include line-clamp(2, 1.333);
      &:not(:optional) { opacity: 1; }
      #{$this}__item.is-over & { animation:none; }
    }
    &__more-btn { display:none; }
  }
}